@import url('../scripts/wireit/lib/yui/reset-fonts-grids/reset-fonts-grids.css');
@import url('pythoncolors.css');

body, html {
	margin: 0;
	padding:0;
}

body {
	margin-left: 5px;
	text-align: left;
}

.editbox {
	font-size: 8pt;
}
