html {
	background: #90887f;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	margin:0;
	font-size: 12px;
	font-family:Trebuchet MS,Tahoma;
	overflow-x: hidden;
	overflow-y: scroll;
}

a {
	color: #3F3A34;
}

/* generic tools */
body { font-family: Trebuchet MS, Tahoma; }	

/* main structure */
#sidebar {
	margin-top: 10px;
	float: left;
	width: 210px; 
	margin-left: 20px;
	background: #e8e6dd;
	-moz-border-radius: 5px;
	behavior:url(/scripts/border-radius-ie8.htc);
	padding: 5px;
	padding-bottom: 30px;
}
#content {
	margin-top: 10px;
	margin-left: 260px;
	margin-right: 20px;
	margin-bottom: 35px;
	background: #E3E1D5;
	-moz-border-radius: 5px;
	behavior:url(/scripts/border-radius-ie8.htc);
	padding: 10px;
	padding-bottom: 30px;
}

#content h2,
#content h3{
	color: #3F3A34;
}

/* header */
#header { 
	padding: 0 20px;
	height: 80px;
	/*background: #524c45 url(../images/header-bg.png) left bottom repeat-x;*/
	background: #423B35 url(../images/header-bg.png) left bottom repeat-x;
	
	/*-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;*/
	z-index: 10;
}
#footer {
	/*position: fixed;
	width: 100%;
	bottom: 0;
	padding: 0 20px;
	height: 25px;
	line-height: 25px;
	background: url(../images/sprites.png) repeat-x;
	-moz-box-shadow: 0 0 5px #666;
	-webkit-box-shadow: 0 0 5px #666;
	z-index: 1000;*/
}

#header h1 {
	float: left;
	color: #e8e6dd;
	background: url('../images/header-flow-logo.png') left top no-repeat;
	margin: 0;
	font-size: 10px;
	width: 150px;
	height: 80px;
	line-height: 80px;
	padding-left: 110px;
	vertical-align: middle;
	text-align: left;
}

#home {
	color: #e8e6dd;
	font-weight: bold;
	font-size: 35px;
	text-decoration: none;
	margin-right: 3px;
}

/* sidebar */
#sidebar { font-size: 11px; }
#sidebar p { margin-top: 3px; }

#sidebar .element,
#sidebar .text { padding: 0px 10px 0px; margin-bottom: 5px;   }

#sidebar h3 { 
	margin: 0;
	padding: 10px 10px 0; 
	font-size: 14px; font-weight: bold;
	clear: both; 
}

#sidebar .toggler,
#sidebar a { cursor: pointer; }

#sidebar .toggler:hover { text-decoration: underline; }

#mainmenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 260px;
}

#mainmenu li {
	float: left;
	position: relative;
}

#mainmenu li a {
	float: left;
	display: block; 
	font-size: 20px;
	margin-top: 30px;
	height: 40px;
	background: #47413b;
	color: #fbdb5c;
	font-size: 11px; 
	cursor: pointer;
	text-decoration: none;
}
#mainmenu li a:hover {
	position: relative;
}

#mainmenu li span.grouplabel {
	position: absolute;
	display: block;
	top: 15px;
	left: 6px;
	font-size: 10px;
	color: #726960;
	text-transform: uppercase;
}

#mainmenu li a span {
	display: block;
	line-height: 40px;
	vertical-align: middle;
}

#mainmenu li a:hover {
	color: #47413b;
	background: #fbdb5c;
}

#mainmenu li.single a {
	margin-right: 10px;
	text-align: center;
	padding: 0 10px;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 5px;
	
}

#mainmenu li.group a {
	text-align: center;
	background: #47413b url('../images/menu-separator.png') right top repeat-y;
}

#mainmenu li.group a:hover {
	background: #fbdb5c url('../images/menu-separator.png') right top repeat-y;
}

#mainmenu li.group a span {
	padding: 0 12px 0 12px;
}

#mainmenu li.group a.first {
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 5px 0 0 5px;
}

#mainmenu li.group a.last {
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 5px 5px 0;
	margin-right: 10px;
	background-image: none;
}

#mainmenu li#login
{
	float: right;
}

button,
form input[type="submit"] {
  margin: 5px;
  -khtml-appearance: none;
  -moz-appearance: none;
  background: none;
  -webkit-border-image: url(../images/aristo/button-bezel.png) 2 2 2 2 stretch stretch;
  -moz-border-image: url(../images/aristo/button-bezel.png) 2 2 2 2 stretch stretch;
  padding: 3px 8px;
  color: #4F4F4F;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  text-shadow: 0px 1px 1px #fff;
}

.button-to input[type="submit"] {
	padding: 0;
	margin: 0;
	-moz-border-image: none;
	-webkit-border-image: none;
}

button.default,
form input.default[type="submit"] {
  color: #1C4257;
  -webkit-border-image: url(../images/aristo/default-button-bezel.png) 2 2 2 2 stretch stretch;
  -moz-border-image: url(../images/aristo/default-button-bezel.png) 2 2 2 2 stretch stretch;
}

.hud button, button.hud {
  font-size: 11px;
  color: #fff;
  padding: 0;
  -webkit-border-image: url(../images/aristo/hud/button-bezel.png) 9 13 10 13 / 8px 13px 9px 13px repeat repeat;
  -moz-border-image: url(../images/aristo/hud/button-bezel.png) 9 13 10 13 / 8px 13px 9px 13px repeat repeat;
  text-shadow: none;
}

button:hover:not(:disabled),
form input[type="submit"]:hover:not(:disabled) {
  -webkit-box-shadow: 0 0 15px #D4D4D4;
  -moz-box-shadow: 0 0 15px #D4D4D4;
}

button.default:hover,
form input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 15px #A1CAE2;
  -moz-box-shadow: 0 0 15px #A1CAE2;
}

.hud button:hover, button.hud:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

button:active:not(:disabled),
form input[type="submit"]:active:not(:disabled) {
  -webkit-border-image: url(../images/aristo/button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
  -moz-border-image: url(../images/aristo/button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
}

button.default:active,
form input[type="submit"]:active {
  -webkit-border-image: url(../images/aristo/default-button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
  -moz-border-image: url(../images/aristo/default-button-bezel-highlighted.png) 2 2 2 2 stretch stretch;
}

.hud button:active, button.hud:active {
  -webkit-border-image: url(../images/aristo/hud/button-bezel-highlighted.png) 9 13 10 13 / 8px 13px 9px 13px repeat repeat;
  -moz-border-image: url(../images/aristo/hud/button-bezel-highlighted.png) 9 13 10 13 / 8px 13px 9px 13px repeat repeat;
}

button:disabled,
form input[type="submit"]:disabled {
  opacity: 0.5;
}



.code {
font-family:monospace;
font-size:127%;
}
span.code {
background:#EEEEEE none repeat scroll 0% 0%;
font-weight:bold;
}
#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
width:680px;
position: relative;
z-index: -1;
}
#flash div, .notice {
padding:20px 15px 20px 65px;
-moz-border-radius: 0 0 10px 10px;
}
#flash .ok {
background:#d8ecd8 url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
background:#fff483 url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
background:#f9c5c1 url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.notice {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}

table.datatable,
.datatable table
{
    font-family: arial;
    font-size: small;
    border: solid 1px #7f7f7f;
	background: #E8E6DD;
	width: 100%;
	font-size: 80%;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	behavior:url(/scripts/border-radius-ie8.htc);
}

.datatable tbody tr
{
	color: #000;
}

.datatable td:first-child
{
	width: 60px;
}

.datatable tbody tr
{
	background-color: #ccc;
}

.datatable tbody tr.even
{
    background-color: #EEE;
	color: #000;
}

.datatable tbody tr.odd
{
    background-color: #ffffff;
	color: #000;
}

.datatable thead th,
.datatable tr th
{
    background: url(../images/sprite.png) repeat-x 0px 0px;
    border: none;
    color: #000;
    padding: 4px 5px 4px 10px;
    text-align: left;
    vertical-align: bottom;
}  

.datatable thead th a,
.datatable tr th a
{
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #000;
    display: block;
    padding-right: 10px;
}    

.datatable tbody tr .sortaltrow, tbody tr.alt .sortaltrow 
{
    background-color: #edf5ff;
}

.datatable tbody tr .sortrow, .datatable tbody tr.even .sortrow 
{
    background-color: #dbeaff;
}

.datatable tbody tr td, .datatable tbody tr.even td 
{
    padding: 4px 10px 4px 10px;
	border: none;
	vertical-align: top;
}

.datatable thead .sortascheader 
{
    background: url(../images/sprite.png) repeat-x 0px -100px;
}

.datatable thead .sortascheader a 
{
    background: url(../images/arrow-up.gif) no-repeat right 50%;
} 

.datatable thead .sortdescheader 
{
    background: url(../images/sprite.png) repeat-x 0px -100px;
}   

.datatable thead .sortdescheader a 
{
    background: url(../images/arrow-down.gif) no-repeat right 50%;
} 

.datatable tbody tr td span.handle
{
	background: url('../images/bg-grabber.gif');
	display: block;
	float: left;
	height: 1.2em;
	width: 10px;
	cursor: move;
	margin-left: -10px;
}

.datatable .actions a img
{
	border: 0;
	margin: 0 3px;
	vertical-align: middle;
}

.datatable .actions .id
{
	display: none;
}

.datatable a.action
{
	cursor: pointer;
	padding-left: 0.5em;
}

p.table_filter {
	margin: 0 5px 5px 0;
	border: 1px #ccc solid;
	-moz-border-radius: 5px;
	padding: 3px;
	float: right;
}

ul.expandable
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul.expandable>li>span
{
	padding-left: 15px;
	line-height: 15px;
	vertical-align: middle;
	font-style: italic;
}

ul.expandable>li.expanded>span,
ul.expandable>li.collapsed>span {
	font-style: normal;
}

ul.expandable>li>span
{
	cursor: pointer;
}

ul.expandable>li.expanded>span
{
	background: transparent url('../images/sprite-menu.gif') no-repeat scroll -8px -1px;
}

ul.expandable>li.expanded>span:hover
{
	background: transparent url('../images/sprite-menu.gif') no-repeat scroll -8px -80px;
}

ul.expandable>li.collapsed>span
{
	background: transparent url('../images/sprite-menu.gif') no-repeat scroll -8px -318px;
}

ul.expandable>li.collapsed>span:hover
{
	background: transparent url('../images/sprite-menu.gif') no-repeat scroll -8px -398px;
}

ul.expandable ul.expandable
{
	margin-left: 15px;
}

.datatable a img {
	border: 0;
}

.sproxactions {
    display:inline;
    float:left;
    border-right:1px dashed #ccc;
    padding-right:0.5em;
}
.sproxactions form {
	margin: 0;
	padding: 0;
}
.delete-button {
    display:inline;
    margin:0;
    padding:0;
    border:0;
    width:16px;
    height:16px;
    }
	
	
.labelcol {
	padding-right: 20px;
	vertical-align: top;
}
