div.gallery-content {
        /* The display of content is enabled using jQuery so that the slideshow content won't display unless javascript is enabled. */
        display: none;
        float: right;
        width: 58%; 
}
div.gallery-content a, div.navigation a {
        text-decoration: none;
        color: #777;
}
div.gallery-content a:focus, div.gallery-content a:hover, div.gallery-content a:active {
        text-decoration: underline;
}
div.controls {
        margin-top: 5px;
        height: 23px;
}
div.controls a {
        padding: 5px;
}
div.ss-controls {
        float: left;
}
div.nav-controls {
        float: right;
}
div.slideshow-container {
        position: relative;
        clear: both;
        height: 400px;  /* This should be set to be at least the height of the largest image in the slideshow */
}
div.loader {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('loader.gif');
        background-repeat: no-repeat;
        background-position: center;
        width: 58%;
/*        height: 502px;  This should be set to be at least the height of the largest image in the slideshow */
}
div.slideshow {

}
div.slideshow span.image-wrapper {
        display: block;
        margin-top: 5px;
}
div.slideshow a.advance-link {
        display: block;
/*        width: 550px;
        height: 502px;  This should be set to be at least the height of the largest image in the slideshow */
/*        line-height: 502px;  This should be set to be at least the height of the largest image in the slideshow */
        text-align: center;
}
div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited {
        text-decoration: none;
}
div.slideshow img {
        vertical-align: middle;
        border: 1px solid #ccc;
}
#gallery-page div.download {
        text-align: right;
}
#gallery-page div.download a{
    color: #666;
}
div.caption-container {

}
span.image-caption {
        display: block;
}
div.caption {
        margin-top: 1em;
        border: 1px solid #ddd;
        padding: 12px;
        color: #666;
}
div.caption a {
        color: #fff;
}
div.image-title {
        font-weight: bold;
        font-size: 1.4em;
}

div.image-desc {
        line-height: 1.3em;
        padding-top: 12px;
}
div.navigation {
        /* The navigation style is set using jQuery so that the javascript specific styles won't be applied unless javascript is enabled. */
}
ul.thumbs {
        clear: both;
        margin: 0;
        padding: 0;
}
ul.thumbs li {
        float: left;
        padding: 0;
        margin: 5px 10px 5px 0;
        list-style: none;
}
a.thumb {
        padding: 2px;
        display: block;
        border: 1px solid #ccc;
}
ul.thumbs li.selected a.thumb {
        background: #000;
}
a.thumb:focus {
        outline: none;
}
ul.thumbs img {
        border: none;
        display: block;
}
div.pagination {
        clear: both;
}
div.navigation div.top {
        margin-bottom: 12px;
        height: 11px;
}
div.navigation div.bottom {
        margin-top: 12px;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
        display: block;
        float: left;
        margin-right: 2px;
        padding: 4px 7px 2px 7px;
        border: 1px solid #ccc;
}
div.pagination a:hover {
        background-color: #eee;
        text-decoration: none;
}
div.pagination span.current {
        font-weight: bold;
        background-color: #000;
        border-color: #000;
        color: #fff;
}
div.pagination span.ellipsis {
        border: none;
        padding: 5px 0 3px 2px;
}
#captionToggle a {
        float: right;
        display: block;
        background-image: url('caption.png');
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 5px;
        padding: 5px 30px 5px 5px;
}

/* Minimal Gallery Styles */
#thumbs-min ul.thumbs li {
        float: none;
        padding: 0;
        margin: 0;
        list-style: none;
}

#thumbs-min a.thumb {
        padding: 0px;
        display: inline;
        border: none;
}

#thumbs-min ul.thumbs li.selected a.thumb {
        background: inherit;
        color: #000;
        font-weight: bold;
}

/* lightbox style */

 /* jQuery specific overlay styles */
 
 #jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}