/* styles */
.portal-bounty-program {
	margin:1em auto;
	font-size:80%;
	}
.helperText {
	margin:1em 0;
	border-bottom:1px solid #e1e1e1;
	}
.moreInfo {
        float:right;
	font-size:75%;
	}
.portal-bounty-program li a {
	padding: 0 30px 0 0;
	}
.portal-bounty-program li a img {
        vertical-align:middle;
	}
