[buildout]
develop = .
parts = py test omelette dependency
extends = 
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/ztk.cfg?rev=108671
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/zopeapp.cfg?rev=108687
versions = versions

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = lovely.remotetask [test]

[py]
recipe = zc.recipe.egg
interpreter = python
eggs = lovely.remotetask

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[dependency]
recipe = zc.recipe.egg:scripts
eggs = z3c.dependencychecker
