div .faceted-empty-column {
  color: #CDE0EF;
}

.faceted-column {
  border-color: #2981B2;
}

.faceted-section-tabs {
  border-bottom: 1px dotted #2981B2;
}

/* Top
*/
div #faceted-top-column {
  background-image: url(../../++resource++faceted_images_blue/top-widgets.png);
}

/* Left
*/
div #faceted-left-column {
  background-image: url(../../++resource++faceted_images_blue/left-widgets.png);
}

/* Right
*/
div #faceted-right-column {
  background-image: url(../../++resource++faceted_images_blue/right-widgets.png);
}

/* Center top
*/
div #faceted-center-column {
  background-image: url(../../++resource++faceted_images_blue/center-widgets.png);
}

/* Center bottom
*/
div #faceted-bottomcenter-column {
  background-image: url(../../++resource++faceted_images_blue/bottomcenter-widgets.png);
}

/* Bottom
*/
div #faceted-bottom-column {
  background-image: url(../../++resource++faceted_images_blue/bottom-widgets.png);
}

div .faceted-add-button span {
  border-color: #2981B2;
}

div .faceted-add-button .ui-icon {
  background-image: url(../../++resource++faceted_images_blue/ui-icons_222222_256x240-green.png) ! important;
}
