div div.faceted_loading > img {
    display: none;
}

div div.faceted_loading {
  background-image:url(../../++resource++faceted_images_blue/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

/* Daterange widget
*/
div .faceted-date-widget-form .ui-slider {
  border-color: #2981B2;
}

div .faceted-date-widget-form .ui-widget-header {
  background-color: #CDE0EF;
}

div .faceted-date-widget-form .ui-state-default,
.faceted-date-widget-form .ui-widget-content .ui-state-default {
  background-color: #CDE0EF;
  border-color: #2981B2;
}
