div div.faceted-widget-loading {
  background-image:url(++resource++faceted_images_blue/ajax-loader-small.gif);
}

div .ui-accordion .ui-state-default {
  background-color: #2981B2;
}
div .ui-accordion .ui-state-default a:hover {
  color: #CDE0EF;
}

div .ui-accordion .ui-state-active {
  background-color: #CDE0EF;
}

div .faceted-tag-selected {
  color: #2981B2 !important;
}

div .tags-cloud li {
  color: #CDE0EF;
}

div .tags-cloud li:hover {
  color: #2981B2 !important;
}

div .ui-widget-header {
  background: #CDE0EF;
}

div .faceted_letter {
  color: #2981B2;
}

div .faceted_letter:hover {
  background-color: #2981B2;
  color: #CDE0EF;
}

div .faceted_letter_selected {
  background-color: #2981B2;
  color: #CDE0EF;
}

div .faceted-criteria a {
  color: #2981B2 !important;
}
