/* Stylesheet for the 'Ego Theme' Plone theme */

#breadcrumbs li {
	display: inline;
	list-style: none;
}

#breadcrumbs {
	display: inline; 
	padding: 0;
}

#breadcrumbs li:last-child:after {
	content: none;
}

#breadcrumbs li:after {
	content: " → ";
}

#threadnavigation li {
	display: none;
}

#threadnavigation > li, #threadnavigation > li > ul > li, #threadnavigation li.selected > ul > li {
	display: block;
}

.contract-expand, .this-indicator {
	display: none;
}

#threadnavigation > li > p {
	display: none;
}

#threadnavigation li p {
	margin: 0;
}