[buildout]
develop = . 
parts = scripts docs devpython
versions = versions

[versions]

[scripts]
recipe = zc.recipe.egg
eggs = 
    zope.pytest[tests]
    zest.releaser
    pytest
    pytest-cov

[docs]
recipe = zc.recipe.egg
eggs = zope.pytest[docs]
dependent-scripts = true
scripts = sphinx-build sphinx-quickstart

[devpython]
recipe = z3c.recipe.scripts:interpreter
eggs = zope.pytest
