[buildout]
extends = instance.cfg
          migrate_frontpage.cfg
          migrate_users.cfg
          migrate_props.cfg
parts =
for_later = 
    ${migrate_frontpage:parts}
    ${migrate_users:parts}
    ${migrate_props:parts}
