.marquee {
display:inline;
float:left;
margin-bottom:10px;
margin-right:10px;
}
.marquee {
background:#F8F8F8 none repeat scroll 0 0;
border:1px solid #F1F1F1;
height:100px;
line-height:30px;
overflow:hidden;
width:100px;
}

.marquee li {
height:100px;
text-align:center;
width:100px;
}
.level li {
float:left;
}