html, body, #main{
    background:#E8E8E8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#apptitle {
    font-size:1em;
    margin:0.3em 1em 0.5em;
}

.plusIcon {
    background-image: url(/static/tango-icon-theme/16x16/actions/document-save.png);
    background-repeat: no-repeat; 
    width: 16px;
    height: 16px;
}




