@import url("default.css");

object#icon {
    width: 120pt;
}
td#icon_container {
    width: 120pt;
}
h1.name {
    margin-top: 30pt;
    text-align: right;
    font-size: large;
}
hr {
    background-color: black;
    height: 1.5pt;
    border: 0pt;
}
table.data {
    width: 100%;
    border: 0pt;
    margin: 0pt;
    padding: 0pt;
}
table.data td {
    border: 0pt;
    margin: 0pt;
    padding: 0pt;
    width: 50%;
}
table.data td.name {
    color: #888888;
    text-align: left;
}
table.data td.value {
    text-align: right;
}

