@import url("default.css");

object#padlock {
    width: 120pt;
}
td#padlock_container {
    width: 120pt;
    vertical-align: top;
}
td#maincontent {
    vertical-align: top;
}
hr {
    background-color: black;
    height: 1.5pt;
    border: 0pt;
}
table.form {
    width: 330pt;
    border: 0pt;
    margin: 0pt;
}
table.form td.name {
    color: #555555;
    width: 140pt;
    text-align: left;
}
table.form td.value {
    text-align: right;
    width: 180pt;
}
table.form td.submit {
    text-align: center;
}
table.form td.value input {
    width: 180pt;
}
table.form td.value select {
    width: 180pt;
}

