	/*CSS black style pagination*/
	p.pagination {
		padding: 3px;
		margin: 3px;
		text-align:left;
		color:#a0a0a0;
		font-size:80%;
	}
	p.pagination a {
		border: 1px solid #909090;
		margin-right:3px;
		padding:2px 5px;
		background-image:url('bar.gif');
		background-position:bottom;
		text-decoration: none;
		color: #c0c0c0;
		-moz-border-radius: 2px;
	}
	p.pagination a:hover, div.meneame a:active {
		border: 1px solid #f0f0f0;
		background-image:url(invbar.gif);
		background-color:#404040;
		color: #ffffff;
	}
	p.pagination span.current {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #0D82C6;
		font-weight: bold;
		background-color: #606060;
		color: #ffffff;
		-moz-border-radius: 2px;
	}
	p.pagination span.disabled {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #606060;
		color: #808080;
	}
