a.image-reference img {
	border-width: 0px;
}

.fullimagecontainer {
    	border: 3px solid  #0869a1;
    	text-align: center;
    	margin: 15px 10px;
}

.fullimagecontainer h1.sitetitle {
        position: absolute;
        font-size: 12pt;
        left: 50px;
        top:0;
        padding: 0 5px;
        margin: 0;
        background-color: white;
        float: left;
}

.fullimagecontainer h1.sitetitle a {
        color:  #0869a1;
        text-decoration: none;
}

.fullimagecontainer h1.fullimage {
        font-size: 16px;
        font-weight: bold;
}

.fullimagecontainer .imagebox {
        text-align: center;
        margin: 10px;
        position: relative;
        overflow: auto;
}


div.shortabstract img {
	border-width: 0px;
        margin: 4px;
}

div.abstract img {
	border-width: 0px;
        margin: 4px;
}

div.contenticons img {
	border-width: 0px;
}

div#scrollblock {
    float: left;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 200px;
    text-align: center;
    margin: 0;
    padding: 0;
}

div#scrollblock a {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}

div#scrollblock a img {
    border-style: none;
}

div.article img {
	border-width: 0px;
}


#logo {
	border-width: 0px;
}

div.abstract img {
	display: block;
	position: relative;
}

#menucolumnbr {
        display: none;
}

#mainmenu {
	display: block;
	position: relative;
	z-index: 2;
	margin-left: 250px;
	min-width: 600px;
	top: 1px;
	border-bottom: solid 1px #0869a1; 
        clear: right;
}

#logobar {
	display: block;
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	width: 250px;
}


#header {
	display: block;
	color: white;
	position: relative;
	min-width: 600px;
	margin-left: 250px;
	border: solid 1px #0869a1; 
	}


#content {
	display: block;
	position: relative;
	background-color: #ffffff; 
	z-index: 1;
	margin-left: 250px;
	min-width: 600px;
	border: solid 1px #0869a1; 
	}


#referencemenu {
	display: block;
	position: relative;
	text-align:right;
	z-index: 4;
	padding: 2px;
	margin: 2px;
	clear: both;
}

#footer {
	display: block;
	position: relative;
	width: 100%;
	clear: both;
	min-width: 600px;
	text-align: right;
	vertical-align: middle;
	border: solid 1px #0869a1; 
	padding: 2px;
	margin: 2px;
	}

#smartbanner {
	display: block;
	position: relative;
	text-align: center;
	padding: 2px;
	margin: 2px;
	}


#mainbody { 
	display: block;
	position: relative;
	left: 0px;
	right: 0px;
	min-height: 1300px;
	}


#body {
	display: block;
	position: relative;
	padding: 0px;
	}

#localnavy {
	display: block;
        position: relative;
	border: solid 1px #0869a1; 
	margin: 2px;	
	text-align: center;
	}


#formplace {
	display: block;
	color: #0869a1;
	position: relative;
        z-index: 0;
	margin: 1px;
	float: rigth;
}

#topdreambot {
	display: None;
	z-index: 1;
}

#search {
	display: block;
	position: relative;
	
}

#breadcrumbs {
	display: block;
	color: #535af6;
	position: relative;
	margin: 12px;
}

#bottomformplace {
	display: block;
	background-color: #ffffff;
	color: #0869a1;
	position: relative;
	vertical-align: middle;
}

#bottomdreambot {
	display: block;
	background-color: #0869a0;
	font-size: 20px;
	color: #ffffff;
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}

#login {
	display: block;
	background-color: #ffffff;
	position: relaive;
	vertical-align: middle;
}

form.login {
	display: block;
	background-color: #ffffff;
	position: relaive;
	vertical-align: middle;
        margin: 2px;
}

#bottombreadcrumb {
	display: none;
	background-color: #ffffff;
	color: #535af6;
	position: absolute;
	top: 0px;
        height: 15px;
	right: 15px;
	width: 100%;
	min-width: 600px;
	z-index: 2;
}

input {
  	background-color:  #0869a0; 
  	color: #ffffff; 
	vertical-align: bottom;
	border-style: solid;
	font-size: 20px;
}	

textarea {
  	background-color:  #0869a0; 
  	color: #ffffff;
	vertical-align: top;
	border-style: solid;
	font-size: 12px;
}	


#logo {
	display: block;
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
	width: 100;
	height: 118;
}

#authordata {
	display: None;
	background-color: #ffffff;
	color: #000000;
	position: relative;
	top: 0px;
	text-align: right;
	vertical-align: middle;
	z-index:04;
}


#menucolumn {
	display: block;
	background-color: #ffffff;
	position: relative;
	left: 0px;
	border: solid 1px #0869a1;  
	width: 244px;
	float: left;
	clear: left;
}


.menublock {
   margin: 2px;
   padding: 2px;
   border: solid 1px #0869a1;
   position: relative;
}

.menuheader {
   display: block;
   position: relative;
   margin: 2px;
   padding: 2px;
   text-align: center;
   border: solid 1px #0869a1;
}

.menuitem {
   display:block;
   width: 90%;
   margin-left: 10px; 
   margin-right: 10px;
   position: relative;
   text-align: justify;
   font-size: 11px;
   font-weight:bold;
   color: #151ff3;
   padding-bottom: 5px;
 }

.menublock div {
   padding: 10px;
}

.menublock div.menubody form div#searchincurrentfolder {
    display: block;
    float: left;
    padding: 5px 0;
}

.menublock div.menubody form table#searchincurrentfolder tr td {
    font-size: 10pt;
    vertical-align: middle;
}

.clouditem0, .clouditem1, .clouditem2, .clouditem3, .clouditem4, .clouditem5, .clouditem6  {
   display: inline;
   position: relative;
   text-align: justify;
   font-size: 11px;
}       

.clouditem0 {
   font-size: xx-small;
}

.clouditem1 {
   font-size: x-small;
}


.clouditem2 {
   font-size: small;
}


.clouditem3 {
   font-size: medium;
}


.clouditem4 {
   font-size: large;
}


.clouditem5 {
   font-size: x-large;
}


.clouditem6 {
   font-size: xx-large;
}


.clouditem7 {
   font-size: xx-large;
}

.mainmenuitem {
   display:inline;
   text-align: justify;
   font-size: 14px;
   font-weight:bold;
   margin: 20px; 
   color: #0869a1;
   padding-left: 10px;
   padding-right: 10px;
   background-color: white;
}


.mainmenuitemactive  {
   display:inline;
   text-align: justify;
   font-size: 14px;
   font-weight:bold;
   margin: 20px; 
   color: #0869a1;
   padding-left: 10px;
   padding-right: 10px;
   background-color: white;
   border-top: solid 1px #0869a1; 
   border-left: solid 1px #0869a1; 
   border-right: solid 1px #0869a1; 
   border-bottom: solid 1px white;
 }


div.reference {
   margin: 2px;
   padding: 2px;
   position: relative;
   border: solid 1px #0869a1; 
   z-index: 0;
}

h1.reference {
   margin: 10px;
   padding: 0px;
   font-size: 12px;
   border: solid 0px black;
   position: relative;
}

a.reference {
   display:block;
   margin-left: 40px; 
   margin-right: 10px;
   position: relative;
   text-align: justify;
   font-size: 16px;
   font-weight:bold;
   color: #151ff3;
   padding-bottom: 5px;
 }



p.date {
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   color=#000000;
   padding: 4px;
}
p.author {
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   color=#000000;
   padding: 4px;
}

a.up:after {
   content: url(icons/arrow-up.png);
}

a.up:before {
   content: url(icons/arrow-up.png);
}

a.up {
   display: block;
   position: relative;
   text-align: center;
   font-size: 11px;
   font-weight:bold;
}

a.right:before  {
   content: url(icons/arrow-left.png);	
}

a.left {
   display: inline;
   position: relative;
   text-align: left;
   font-size: 11px;
   font-weight:bold;
   margin-left: 15px;
   width: 30%;
   border: solid 1px gray;  
}


a.left:after {
   content: url(icons/arrow-right.png);	
}

a.right {
   display: inline;
   position: relative;
   text-align: right;
   font-size: 11px;
   font-weight:bold;
   margin-right: 15px;
   width: 30%;   
   border: solid 1px gray;  
}

h1.abstract {
   margin: 0px;
   padding: 0px;
   font-size: 22px;
}

span.abstractauthor {
  display: block;
}

span.abstractdate {
  display: block;
}

div.abstract {
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: justify;
  float: right;
  margin: 2px;
  z-index: 5;
  border: solid 1px #0869a1; 
}


div.article {
  padding: 10px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
  margin: 2px;
  border: solid 1px #0869a1; 
}

div.comments {
  margin: 2px;
  border: solid 1px #0869a1;
}

div.comments img {
  float: left;
  margin: 2px;

}

div.comments div.comment {
  margin: 2px;
  border-top: solid 1px #0869a1;
  border-bottom: solid 1px #0869a1;
}

form.loginbox span.label {
  font-weight: bold;
  display: block;
}

form.loginbox hr {
  width: 50%;
  color: #0869a1;
}

form.loginbox span {
  font-weight: bold;
}

form.loginbox input#loginbox-password, input#loginbox-login, input#loginbox-submit, input#loginbox-openid {
  width: 98%;
}


form.loginbox select {
  width: 90%;
}

form.loginbox div.error {
  margin: 2px;
  left: 0px;
}


div.annotations {
   display: block;
   position: relative;
   padding: 0px;
   padding-color: white;
   float: right;
   background-color: white;
   width: 250px;
   z-index: 1;
   margin: 10px;
   border: solid 1px #0869a1; 

}

div.annotation {
   display: block;
   position: relative;
   padding: 10px;
   margin: 10px;
   font-size: 11px
   border-style: solid;
   border-width: 1px;
   border-color:  #0869a1;
   margin: 2px;
   border: solid 1px #0869a1; 
}

h1.annotation {
   margin: 0px;
   padding: 0px;
   font-size: 12px;
}

div.short {
   display: block;
   position: relative;
   padding: 0px;
   width: 100%;
   min-height: 130px;
   clear:  right;
}

div.shortheader {
   border: solid 0px black;
   display: block;
   position: relative;
   padding-bottom: 10px;
}

a.shorttitle {
   border: solid 0px black;
   display: block;
   position: relative;
   text-align: left;
   font-weight: bold;
   font-size: 14px;
   width: 80%; 
}

span.shortauthor {
   display: block;
   position: relative;
   float: left;
   font-weight: bold;
   font-size: 14OApx;
   width: 40%;

}

span.shortdate {
   display: block;
   position: relative;
   text-align: right;
   float: right;
   font-weight: bold;
   font-size: 14px;
   width: 40%;
}

div.shortabstract {
   display: block;
   position: relative;
   width: 100%;
   clear: right;
   text-align: justify;
}

div.values {
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
  border: solid 1px #0869a1; 
  padding: 2px;
  margin: 2px;
}

h1.values {
  display:none;
}

div.leftvalues {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

div.rightvalues {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align:  right;
}

div.contenticons {
   margin: 2px;
   padding: 2px;
   position: relative;
   border: solid 1px #0869a1;
}

div.shareit {
   margin: 2px;
   padding: 2px;
   position: relative;
   width: 100%;
   float: left;
}

div.shareit a {
    display: block;
    float: right;
}

div.shareit a img {
    border-style: none;
    margin: 0 3px;
    width: 26px;
    height: 26px;
}

div.profile {
   margin: 2px;
   padding: 2px;
   position: relative;
   border: solid 1px #0869a1;
}

.profile .profileinfo {
    float: right;
    width: 45%;
    text-align: left;
    padding: 10px;
}

.profile .profilephoto {
    text-align: center;
    float: left;
    width: 45%;
    padding: 10px 0;
}

.profile .profileheader {
    float: left;
}
.profile .profileabout {
    clear: both;
}





div#breadcrumbs span:before {
	content: " :: ";
}

div#breadcrumbs span:first-child:before {
	content: "Главная :: ";
}
 