span.abstract1 {
  display: block;
}

span.abstract2 {
  display: block;
}


#header {
    width: 50%;
    min-width: 200px;
    margin-left: 0px;
    margin-right:0px;
}

#breadcrumbs {
    right: 0px;
}

#mainmenu {
	display: none;
}


#column {
	display: none;
	}

#content {
	margin-left: 0px;
	margin-right:0px;
	border-left: solid 0px #0869a1; 
	border-right: solid 0px #90b03e;
	}

body {
	font-size: 10px;		    
}


h1.abstract {
	font-size: 10px;
}

div.abstract {
	font-size: 8px;
}

div.article {
	font-size: 12px;
}

div.annnotation {
	font-size: 8px;
	
}

h1.annotation { 
	font-size: 10px;
}

a.shortheader {
	font-size: 10px;
}

span.shortauthor {
	font-size: 10px;
}

span.shortdate {
	font-size: 10px;
}

div.leftvalues {
	display: none;
}

div.rightvalues {
	display: none;
}

A {
	color: black;
}

#referencemenu {
	display: none;
}

#footer {
	bottom: 0px;
	}

#smartbanner {
	bottom: 0px;
	}

#localnavy {
	display: none;
	}

#formplace {
	display: none;
}

#bottomformplace {
	display: none;
}

