/*
div.abstract {
  width: 95%;
}

div.shortabstract {
   width: 95%;
}

div.shortheader {
   width: 95%;
}


#menucolumnbr {
        display: block;
}


#header {
	margin-right: 175px;
	}

#column {
	left: 0px;
	}

#content {
	border-left: solid 5px #0869a1; 
	}

#body {
	}



#formplace {
	width: 100%;
}

#search {
	left: 60px;
}

#bottomformplace {
	right: 125px;
}

form.login {
	margin: 0px;
	}

#login {
	padding: 0px;
	right: 140px;
	bottom: 0px;
}


#logo {
	top: 30px;
}


#logobar {
	width: 255px;
}

#menucolumn {
	top: 0px;
	z-index: 5;
}

a.left {
   width: 30%;
}

a.right {
   width: 30%;   
}


*/