#slider-media-album
{
    width:650px;
    height:430px;
    background-color:#e8e8e8;
    overflow:hidden;
    white-space:nowrap;
    position:relative;
    margin:0 0 30px 0;
    padding:0;
}

#slider-media-album .sliderInfo
{
    display:none;
}

#slider-media-album-blocks
{
    white-space:nowrap;
    overflow:visible;
    position:relative;
    margin:0;
    padding:0;
}


#slider-media-album .slider-media-block
{
    width:650px;
    height:430px;
    position:absolute;
    background-color:#e8e8e8;
}

#slider-media-album .slider-media-block img
{
    height:auto;
    width:650px;
    display:block;
    margin:auto;
}

#slider-media-album .slider-media-title
{
    font-size: 18px;
    color:#7bbfca;
    font-weight:bold;
    margin-bottom: 10px;
}

#slider-media-album .slider-media-description
{
    background-image: url(++resource++plonetheme.mvob.images/light-alpha.png);
    position:absolute;
    color:white;
    height:80px;
    width:613px;
    bottom: 0;
    left:0;
    padding:20px;
    white-space: normal;
    display:none;
}

#slider-media-album .slider-next-button
{
    position:absolute;
    z-index:9999;
    top:165px;
    right:0;
    cursor:pointer;
    
   opacity:0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=0);
}

#slider-media-album .slider-prev-button
{
    position:absolute;
    z-index:9999;
    opacity:0;
    top:165px;
    left: 0;
    cursor:pointer;
    
   opacity:0;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
}

#slider-media-album:hover .slider-next-button
{
   opacity:0.8;
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
}

#slider-media-album:hover .slider-prev-button
{
    opacity:0.8;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}


#slider-media-album:hover .slider-media-description
{
    display:block;
}

