html { margin: 0; padding: 0;}
body { font-family: Georgia, times new roman, serif;
      margin: 0; padding: 0;
      background-color: #DDD; color: #000008; }
h1 { font-size: 150%;  padding: 0; }
h2 { font-size: 130%;  padding: 0; }
h3 { font-size: 110%;  padding: 0; }
p { margin: 0 0 0.5em 0; padding: 0 0 0 10%; }
pre { margin: 0 0 0.5em 0; padding: 0 0 0 10%; background-color: white; border: 1px solid #aaa; }

.blogentry { padding: 0.5em; margin-bottom: 0.5em;
     background-color: #F0F0F0; border-top: 2px solid #e26c52; }

.blogentry h4 { padding: 0 0 0 10%; color: #0F0F0F; margin-bottom: 0; }


#rightbar { float:right; padding: 0.5em; width: 30%;
     background-color: #F0F0F0; border-bottom: 3px solid #e26c52;  }

#content { margin: 0 1em 0 1em;  float:left; width: 60%; }

#banner { border-bottom: 2px dotted #AAA; padding: 1em; margin: 0 0 0.5em 1em;}

#googlejuice { margin: 0;  padding: 20px; width: 38%; clear: both;}
