dl.portletClickSearch ul {
    margin-left: 0.5em;
}

dl.portletClickSearch a.see_more {
    font-weight: bold;
    background: transparent url(arrowRight.gif) no-repeat 0 3px;
    padding-left: 8px;
}

dl.portletClickSearch li.current_selection {
    font-weight: bold;    
}

dl.portletClickSearch span.selected_value {
    font-weight: bold;    
}
dl.portletClickSearch a.current_selection {
    font-weight: bold;    
}

dl.portletClickSearch a.unselect_value {
    background: transparent url(arrowLeft.gif) no-repeat 0 3px;
    padding-left: 8px;    
}    


div.clicksearch_results_bar {
    background: transparent url(++resource++slc.clicksearch.images/clicksearch_results_bar.gif) repeat-x scroll 0 0;
    border-bottom:1px solid #D0EAF8;
    border-top:1px solid #D0EAF8;
    margin:4px 0;
    width:100%;
}
div.clicksearch_results_bar div{
    padding: 0.8em 1em;
}

div.clicksearch_results_bar div.sort_by {
    float:right;
}
div.clicksearch_results_bar div.sort_by select {
    vertical-align:middle;    
    font-size:90%;
    
}

#tree ul {
    list-style-image:none;
    list-style-type:none;
}