

.visualBoxBody {
	/*remove this line if you dont want the description 
		display: none ;
	and this */
}

.visualBoxEntry {
	float: left;
	width: 250px;
	height: 180px;
	border: 2px solid #FFF;
	overflow: hidden;
    background: #EEE;	
}

.visualBoxEntry a {
	text-decoration: none !important;
	color: #edd13d /* !important */;
}

.visualBoxEntryTitle {
	position: relative;
	top: 130px /* change this if you show the description */;
	left: 15px;
	font-weight: bold;
	font-size: 25px;
    padding: 0;
}

.visualBoxWrapper img {
	position: relative;
	top: 0px;
	left: 0;
}

.visualBoxCaption {
	position: relative;
	left: 0;
	width: 250px;
	height:30px;
	background: #000;
	opacity: 0.6;
	color: white;
	font-family: bold;
	top: 170px;
	text-align: left;
	text-indent: 6px;
	line-height: 30px;
}

.visualBoxEntry div.plain{
	padding: 7px;
}