/* author: marc goetz
   stylesheet for the 'WoWLichKing' Plone3 theme
*/

a {
  color: #FEAF00;
  text-decoration: none;
}

a:hover {
  color: #00B3FE;
}

abbr, acronym, .explain {
  color: White;
}

.actionMenu .actionMenuContent li a {
  background-color: Black;
}

.actionMenu .actionMenuContent li a:hover {
  background: Black;
  color: #00B3FE;
}

.actionMenu .actionMenuContent ul {
  background: none repeat scroll 0 0 Black;
  border: 1px solid White;
}

.actionMenu .actionMenuContent .actionSeparator a {
  border-left: 1px solid White;
  border-top: 1px solid White;
}

body {
  background: url("++resource++collective.wowlichking.images/background.jpg") top center repeat-y;
  background-color: Black;
  color: White
}

.contentActions {
  background-color: Black;
  border-left: 1px solid White;
  border-right: 1px solid White;
  color: White;
}

.contentActions a {
  color: #FEAF00;
}

.contentActions li {
  background-color: Black;
  border-left: 1px solid White;
  color: ##FEAF000;
}

.contentActions span.subMenuTitle {
  background-color: transparent;
}

.contentActions span.subMenuTitle:hover {
  color: #00B3FE;
}

.contentActions ul, .contentActions li {
  color: #FEAF00;
}

#content-history .historyAction {
  color: White;
}

.contentViews {
  border: 1px solid White;
}

.contentViews li a {
  background: url("++resource++collective.wowlichking.images/button.gif");
  border: 1px solid White;
  color: #FEAF00;
}

.contentViews li a:hover {
  color: #00B3FE;
}

.contentViews .selected a {
  border-bottom: 1px solid White;
  border-left: 3px solid White;
  border-right: 3px solid White;
  color: #FEAF00;
}

.context, .formControls .actionButtons .button, .documentEditable * .context {
  border: 1px solid White;
  color: White;
}

.destructive, .documentEditable * .destructive {
  background-color: Black;
  border: 1px solid White;
  color: White;
}

.discreet {
  color: White;
}

div.error {
  background-color: Black;
  border: 1px solid White;
}

dl.collapsedBlockCollapsible {
  border: medium none !important;
}

dl.collapsedBlockCollapsible dt.collapsibleHeader {
  border: none;
}

dl.expandedBlockCollapsible {
  border: 1px solid White !important;
}

dl.error dd {
  background-color: Black;
}

dl.error dt {
  background-color: Black;
}

dl.portalMessage {
  border: 1px solid White;
}

dl.portalMessage a {
  color: #FEAF00;
  text-decoration: none;
}

dl.portalMessage a:hover {
  color: #00B3FE;
}

dl.portalMessage dt {
  background-color: Black;
  border-bottom: 1px solid White;
  border-right: 1px solid White;
}

dl.portalMessage dd {
  background-color: Black;
}

dl.expandedInlineCollapsible dt.collapsibleHeader, dl.expandedBlockCollapsible dt.collapsibleHeader {
  background-color: Black;
}

dl.warning {
  border-color: White;
}

.documentActions li {
  background-color: Black;
  border: 1px solid White;
}

.documentByLine {
  color: White;
}

.documentContent {
  background: none repeat scroll 0 0 Black;
}

.documentContent dd a {
  border-bottom: none;
}

.documentContent dd a:visited {
  color: #FEAF00;
}

.documentContent li a {
  border-bottom: none;
}

.documentContent li a:visited {
  color: White;
}

.documentContent p a {
  border-bottom: none;
}

.documentContent p a:visited {
  color: #FEAF00;
}

.documentEditable {
  margin: 0 0 0 5em;
}

.documentEditable .documentContent {
  border: 1px solid White;
}

element.style {
  color: #FEAF00;
}

element.style:hover {
  color: #00B3FE;
}

fieldset {
  border: 1px solid White;
}

.formHelp {
  color: White;
}

.formHelp:hover {
  color: White;
}

.formPanel {
  border: 1px solid White;
}

h1, h2 {
  border-bottom: 1px solid White;
  color: #FEAF00;
}

h3, h4, h5, h6 {
  color: #FEAF00;
}

img {
  margin-bottom: 1px;
}

input {
  background : None;
  background-color: Black;
  border: 1px solid White;
  color: White;
}

input.inputLabelActive {
  color: White;
}

input.searchButton {
  background-color: Black;
  border: 1px solid White;
  color: #FEAF00;
}

input.searchButton:hover{
  color: #00B3FE;
}

legend {
  background: none repeat scroll 0 0 Black;
}

li.confilgetDescription {
  color: White;
}

li.formTab a {
  background: none repeat scroll 0 0 Black;
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  border-top: 1px solid White;
}

li.formTab a:hover {
  background: none repeat scroll 0 0 Black;
}

li.formTab a.selected {
  background: none repeat scroll 0 0 Black;
  border-left: 2px solid White;
  border-right: 2px solid White;
}

.LSBox {
  padding-top: 48px;
}

.managedPortlet a:hover {
  color: #00B3FE;
}

.managedPortlet .portletHeader {
  background-color: Black;
}

.managedPortlet .portletHeader a:hover {
  color: #00B3FE;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
	border: 1px solid White !important;
	width: 10em;
}

.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
	background-color: transparent;
	border: 1px solid White;
}

.ploneCalendar .todaynoevent {
  border: 1px solid White;
}

.ploneCalendar .weekdays th {
  background: url("++resource++collective.wowlichking.images/button.gif");
  border: 1px solid White;
}

#portal-breadcrumbs {
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  margin: 0 0 0 7em;
}

#portal-breadcrumbs a {
  color: #FEAF00;
}

#portal-breadcrumbs a:hover {
  color: #00B3FE;
}

#portal-colophon ul {
  margin-left: 7em;
  margin-top: 2em;
}

#portal-colophon ul li a {
  border-bottom: none;
  color: #FEAF00;
}

#portal-colophon ul li a:hover {
  border-bottom: none;
  color: #00B3FE;
}

#portal-column-content {
  padding-left: 7em
}

#portal-column-content fieldset > * input:focus, #portal-column-content fieldset > * textarea:focus {
  border-color: White;
}

#portal-column-one .visualPadding {
  padding: 2em 0 1em 7em;
}

#portal-column-two .visualPadding {
  padding: 1em 2em 1em 0;
}

#portal-footer {
  background-color: Black;
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  border-top: 1px solid White;
  margin: 0 0 0 7em;
}

#portal-footer a {
  color: #FEAF00;
}

#portal-footer a:hover {
  color: #00B3FE;
  text-decoration: none;
}

#portal-footer a:visited {
  color: #FEAF00;
}

#portal-globalnav {
  padding: 0 0 0 7em;
}

#portal-globalnav li a {
  background: url("++resource++collective.wowlichking.images/button.gif");
  border: 1px solid White;
  color: #FEAF00;
}

#portal-globalnav li a:hover {
  border: 1px solid White;
  color: #00B3FE;
}

#portal-globalnav li.selected a {
  background: url("++resource++collective.wowlichking.images/button.gif");
  border-left: 2px solid White;
  border-right: 2px solid White;
  border-top: 2px solid White;
  color: #FEAF00;
}

#portal-globalnav li.selected a:hover {
  border-left: 2px solid White;
  border-right: 2px solid White;
  border-top: 2px solid White;
}

#portal-logo img {
  margin: 0em 0 2em 7em;
}

#portal-personaltools {
  background-color: Black;
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  border-top: 1px solid White;
  color: White;
  margin: 0 0 0 7em;
}

#portal-personaltools li a {
  color: #FEAF00;
}

#portal-personaltools li a:hover {
  color: #00B3FE;
}

#portal-siteactions li a {
  background: url("++resource++collective.wowlichking.images/button.gif");
  color: #FEAF00;
}

#portal-siteactions li a:hover {
  border: 1px solid White;
  color: #00B3FE;
}

.portlet {
  border-bottom: 1px solid White;
}

.portlet a {
  background-color: Black;
  color: White;
}

.portletCalendar dt {
  background-color: Black;
}

.portletFooter {
	background-color: Black;
	border-left: 1px solid White;
	border-right: 1px solid White;
	border-top: 1px solid White;
}

.portletHeader {
  background-color: Black;
  border: 1px solid White;
  color: White;
}

.portletHeader a:hover {
  color: #00B3FE;
}

.portletHeader a, .managedPortlet .portletHeader a {
  color: #FEAF00;
  text-decoration: none;
  background-color: Black;
}

.portletItem {
  background-color: Black;
  border-left: 1px solid White;
  border-right: 1px solid White;
  border-top: 1px solid White;
}

.reviewHistory, .contentHistory {
  background-color: Black;
  color: White;
}

#searchGadget {
  border: 1px solid White;
}

.searchSection {
  color: White;
}
.searchSection label {
  color: #FEAF00;
}

.searchSection label:hover {
  background-color: Black;
  color: #00B3FE;
}

.standalone, .documentEditable * .standalone {
  background-color: Black;
  border: 1px solid White;
  color: White;
}

.state-published {
  color: Green !important;
}

table.listing a {
  color: #FEAF00 !important;
}

table.listing a:hover {
  color: #00B3FE !important;
  text-decoration: none;
}

table.listing td, .stx table td {
  background: Black;
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  border-right: 1px solid White;
}

table.listing th, .stx table th {
  background: none repeat scroll 0 0 Black;
  border-bottom: 1px solid White;
  border-left: 1px solid White;
  border-right: 1px solid White;
  border-top: 1px solid White;
}

.tileItem {
  border-top: 1px solid White;
}

ul.configlets li a {
  color: #FEAF00;
}

ul.configlets li a:hover {
  color: #00B3FE;
}

ul.configlets li a:visited {
  color: #FEAF00;
}

ul.configletDetails li.configletDescription {
  color: White;
}
