div.showwidget dt {
    border-top: 1px dashed #999;
    padding-top: 10px;
}
div.showwidget dt:first-child {
    border-top: none;

}
div.showwidget dd {
    margin-bottom: 5px;
    padding-left: 20px;
    clear: both;

}
div.showwidget dl {
    margin-left:10px;
}

div.clear{
    clear:both;
}
@media screen {
    .show_widget_column {
        float:left;
        padding-right:15px;
    }
    .columns-3 .show_widget_column {
        width:30%;
    }
    .columns-2 .show_widget_column {
        width:45%;
    }
    .columns-1 .show_widget_column {
        width:90%;
    }
    .show_widget_column pre
    {
    }
    div.showwidget {
        border: 1px dashed black;
    }
}

div.showwidget div.contentpane {
    border: 1px solid #bfbfbf; float: left;
}
div.showwidget div.splitcontainer{ height:600px;}

@media print {
   
}
