/* forms */

div.listform dt {
    border-top: 1px dashed #999;
    padding-top: 10px;
}
div.listform dt:first-child {
    border-top: none;

}
div.listform dd {
    margin-bottom: 5px;
    padding-left: 20px;
    clear: both;

}
div.listform dl {
    margin-left:10px;
}

div.clear{
    clear:both;
}
@media screen {
    .listform_column {
        float:left;
        padding-right:15px;
        
    }
    .columns-2 .listform_column {
        width:45%;
    }
    .columns-1 .listform_column {
        width: 90%;
    }
    .listform_column.with-border {
        border-right:2px solid black;
    }
    .listform_column pre
    {
    }

    .listform_column:last-of-type {
        border: none;
    }
}

ul.field_list {
    list-style: none;
}

ul.field_list label {
    display: block;
    font-weight: bold;
}

ul.field_list li {
    margin: 1em 0 .3em 0;
}

ul.field_list .fielderror {
    display: block;
    font-weight: bold;
    color: red;
}

ul.field_list input,
ul.field_list select,
ul.field_list textarea {
    border: solid 1px #888;
    padding: .2em;
}

ul.field_list input:focus,
ul.field_list select:focus,
ul.field_list textarea:focus {
    background: #e9e9ff;
}

form.listform label {  
float: left;  
width: 10em;  
margin-right: 1em;  
text-align: right;
}

form.listform li {
    float: left;  
    clear: left;  
    width: 100%;  
    padding-bottom: 0em;
}