[buildout]
develop = .
newest = false
versions = versions
parts = scripts test

[versions]
# Override versions here.

[scripts]
recipe = zc.recipe.egg
eggs = 
    serf

[test]
recipe = zc.recipe.testrunner
eggs = serf
defaults = ['--tests-pattern', '^f?tests$', '-v']
