@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono&subset=latin");

*, .ui-widget input {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, sans-serif;
}

.monospace, .monospace *, #key-form textarea, .uid, .uid *, .fingerprint, .repo-name {
  font-family: "Droid Sans Mono", Courier, monospace;
}

body {
  margin: 0 auto;
  width: 960px;
}

li {
  margin: 0 0 0 20px;
}

input[type="submit"], a button.ui-button span.ui-button-text, a.ui-button span.ui-button-text {
  padding: 0;
}

input[type="submit"]:hover, button:hover {
  cursor: pointer;
}

.clear {
  clear: both;
}

#messages ul {
  padding: 2px 0 0 2px;
  margin: 1em 0;
}

#messages ul li {
  list-style-type: none;
  margin: 0;
  vertical-align: middle;
}

#messages ul li span.ui-icon {
  float: left;
  margin: 0.2em 0.3em 0 0.2em;
}

#header {
  margin: 1em 0 1em 0;
  text-align: right;
}

div#key-form, div#access-form {
  margin: 1em 0;
}

div#key-form {
  width: 80%;
  float: left;
}

#key-form textarea:focus {
  background-color: white;
  outline: none;
}

#key-form textarea {
  float: left;
  font-size: 1em;
  margin: 0 0.5em 0 0;
  padding: 1em 0 1em 0.9em;
  resize: none;
}

#key-form input[type="submit"] {
  padding: 2em 1em;
}

div#keys {
  padding: 10px 0 0 0;
  clear: both;
}

#repo-form, #group-form {
  margin: 1em 0;
}

dl#login-form dt {
  width: 6em;
  float: left;
  clear: both;
}

.info {
  margin: 1em 0;
}

.info dl {
  margin-top: 1em;
}

.info dl dt {
  float: left;
  clear: both;
}

.info dl dd {
  margin-left: 7em;
}

#repo-acl {
  margin: 1em 0 0 0;
}
