[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.0.x.cfg

package-name = experimental.atrefspeedup

parts =
    instance
    test
    coverage
    report
    report-html

[test]
recipe = collective.xmltestreport
eggs =
    ${buildout:package-name}
defaults = ['--auto-color', '--auto-progress', '-q']

[coverage]
recipe = zc.recipe.egg
eggs = coverage
initialization =
    include = '--source=${buildout:directory}/experimental'
    sys.argv = sys.argv[:] + ['run', include, 'bin/test', '--all', '-k', '--xml']

[report]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report
initialization =
    sys.argv = sys.argv[:] + ['xml', '-i']

[report-html]
recipe = zc.recipe.egg
eggs = coverage
scripts = coverage=report-html
initialization =
    sys.argv = sys.argv[:] + ['html', '-i']
