/*   Designed by w w w . t e m p l a t e m o . c o m    */
body{
    margin: 0;
    padding: 0;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #444;
    background: url(++resource++cooking.theme.images/body_bg.jpg) repeat;
}

#login_form, 
#portal-personaltools-wrapper {
    clear: both;
    width: 100%;
    display: block;
}
#portal-header {
    clear: both;
    width: 100%;
    display: block;
    background-color: white;
}

a:link, 
a:visited { 
    color: #720803;
    text-decoration: none; 
    font-weight: bold;
} 

a:active, 
a:hover { 
    color: #720803; 
    text-decoration: none;
    font-weight: bold;
}

.newsImage {
    border: none;
}

#title {
    float: left;
    padding:  .833em 0 0 1.25em;
    height: 2.291em;
    font-size: 24px;
    font-weight: bold;
    color: #4c770c;
    line-height: 1.6;
    width: 100%;
}

#title span {
    color: #666;
}

h1, h2 {
    border-bottom: none;
    font-family: Arial,Helvetica,sans-serif;
}
h1 {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    color: #518b10;
}
h2 {
    font-weight: bold;
    font-size: 14px;
    color: #427707;
    padding-top: 1.428em;
    margin: 0.83em 0 0 0;
}

h2 a {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 14px;
    color: #427707;
    padding-top: 1.428em;
    text-decoration: none;
    text-transform: none;
}


.documentFirstHeading {
    line-height: .763;
}
.documentDescription span,
.documentDescription {
    line-height: 1.6;
    margin-bottom: 0;
    font-weight: bold;
}

/* ===== GLobal Navigation menu setup ======== */
#portal-globalnav {
    float: left;
    background: #3a3f3a;
    height: 179px;
    padding: 10px 0 0 10px;
    width: 277px;
    border-bottom: solid 1px #547d16;
    border-top: solid 2px #547d16;
}

#portal-globalnav li {
    float: left;
    width: 213px;
    padding-left: 25px;
    margin: 0;
}

#portal-globalnav li a{
    text-transform: uppercase;
    margin-right: 0;
    padding: 4px 15px 0 50px ;
    border: none;
    display: block;
    height: 24px;
    color: #edf1e8;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.4;
    background: url(++resource++cooking.theme.images/menu_button.jpg);
}

#portal-globalnav li.selected a {
    color: #edf1e8;
    border: none;
}

#portal-globalnav li a:hover{
    background: url(++resource++cooking.theme.images/menu_hover.jpg);
    color: white;
}
/*====== End Global Navigation menu setup =======*/


#container, #visual-portal-wrapper {
    margin: auto;
    width: 770px;
    background: url(++resource++cooking.theme.images/container_bg.jpg) repeat-y;
}


p.documentDescription  span {
    font-weight: bold;
}
.documentActions {
    border-top: none;
}
p, dl, multicol {
    line-height: 1.4; 
    display: block;
    margin: 12px 0;
}


/* hide portal-column-one */
#portal-column-one {
    display: none;
}
/* Make-ups for content column */
#portal-column-content{
    float: left;
    display: block; 
    width: 483px;
    padding: 0;
    margin-bottom: 0;
}

#content {
    float: left;
    margin: 30px;
    padding: 0 0 10px 10px;
    width: 413px;
    text-align: justify;
}

.documentContent {
    font-size: 12px;
    padding: 0 !important;
    display: block;
}

/* end makeups for content column */

/* blocks from original template design */
#header {
    float: left;
    clear: left;
    width: 483px;
    height: 191px;
    background: url(++resource++cooking.theme.images/header.jpg) no-repeat;
}
#header_slogan {
    width: 483px;
    float: left;
    margin-top: 162px;
    color: #000;
    font-weight: bold;
    text-align: center;
}
#parent-fieldname-text {
    line-height: 1.2;
}
.service {
    font-weight: bold;
    font-size: 14px;
    color: #427707;
    height: 31px;
    padding: 20px 0 0 55px;

    background: url(++resource++cooking.theme.images/photo1.jpg) no-repeat;
}
.aboutus {
    font-weight: bold;
    font-size: 14px;
    color: #427707;
    height: 30px;
    padding: 20px 0 0 70px;
    background: url(++resource++cooking.theme.images/photo2.jpg) no-repeat;
}
.domain {
    float: left;
    width: 267px;
    height: 20px;
    padding: 55px 0 0 20px;
    background: #fff;
    color: #063;
}
/* end of original naming block */



/* column two styling (the one with portlets) */



.portletCollectionListView h2{
    margin-top: 0.83em;
}

.portletCollectionListView h2, 
.portletCollectionDetailedView h2{
    text-transform: uppercase;
    line-height: 1.2;
}


.portlet-static-contact-us {
    display: block;
}
.portlet-static-checks img{
    margin: 8px 0;
}



#portal-column-two {
    float: right;
    width: 287px;
}
#parent-fieldname-description {
    font-size: 14px;
    color: #666;
}

ul {
    padding-left: 40px;
}
    
.hiddenStructure {
    margin: 0;
    height: 0;
    width: 0;
}
#portal-column-two .visualPadding {
    float: left;
    width: 200px;
    padding: 0 0 0 27px;
    margin-bottom: -17px;
    text-align: justify;
}

#portal-column-two ul {
    list-style-type: disc;
}

#portal-column-two a{
    font-weight: normal;
    color: #333;
    text-decoration: underline;
}

.portletCollectionListView li {
    margin-bottom: 0px;
}

#portal-column-two .portletCollectionListView a {
    line-height: 1.667;
}
#portal-column-two .portletCollectionDetailedView a{
    font-weight: bolder;
    text-decoration: none;
    color: #444;
}
.portletCollection a:hover {
    text-decoration: underline;
}
.portlet-static-check-code {
    margin-top: 20px;
}

#contact {
    width: 225px;
    padding: 10px 0 0 30px;
    height: 93px;
    color: #fff;
    margin: 40px 0 0 -27px;
    border-top: solid 3px #fff;
    background: url(++resource++cooking.theme.images/contact_bg.jpg) repeat-x;
}
#contact img {
    float: right;
}

img {
    border: none;
}

/* End portlet (column two) customizations */

/* footer customize */
#footer {
    clear: both;
    width: 770px;
    height: 32px;
    padding-top: 20px;
    text-align: center;
    background: #545e54;
    font-weight: bold;
    color: #fff;
}
#footer a {
    color: #fff;
}

