/**
 * Curtain template extension.
 */

@import url("default.css");

#sourceforge_logo {
    position: absolute;
    left: 230px;
    top: 3px;
}

.logo {
    float: left;
    margin-right: 40px;
    margin-top: 10px;
}
