/* Stylesheet for the 'Laboral theme' Plone theme */

body
{
    background-color:#f6f6f6;
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
}

#portal-columns
{
    margin-bottom: 30px auto auto auto;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-top:10px;
}

#portal-top
{
}

#head-wrapper
{
    background-color:white;
    height: 127px;
    margin-bottom: 20px;
}

#head-width
{
    margin:0px auto;
    width:980px;
}

#portal-logo {
    display: inline-block;
    margin: 64px 0;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 36px 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton {
    border: 1px solid darkGray;
}

#searchGadget {
    border: 1px solid darkGray;
    height: 25px;
    width: 220px;
    margin:0;
}

.LSBox input.searchButton {
    background-image: url(searchglass.png);
    background-position: right center;
    background-repeat:no-repeat;
    background-color: #3C3C3C;
    color: white;
    font-size: 94%;
    height: 27px;
    margin: -1px 0 0 -5px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 23px;
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

#portal-columns
{
    width:980px;
    margin: 0 auto;
    float: none;
    clear: both;
}

/* ==== TYPOGRAPHY ==== */

body
{
    font-family: "Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 16px;
    color: #8c8c8c;
}

h1, h2, h3, h4, h5, h6 {
color:Black;
font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
}

h1, h1 a, #content h1 a:link
{
    font-size: 18px;
}

h2, h2 a, #content h2 a:link
{
    font-weight:bold;
}

a:hover
{
    text-decoration:underline;
}


.mceContentBody a {
    background-color:transparent;
    border-bottom:inherit !important;
    text-decoration:none !important;
}

#content h2.tileHeadline a, input#title
{
    font-size: 18px;
}

input#title
{
    text-decoration: none !important;
}

#content h2.tileHeadline a:hover, input#title
{
    text-decoration:underline;
}

#content .documentDescription, #content #description, #archetypes-fieldname-description textarea#description {
    font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 100%;
    font-weight:normal;
    margin-left:0;
    margin-bottom: 20px;
}

#content {
    font-size:80%;
    line-height:1.7em;
}

#parent-fieldname-text h2, .mceContentBody h2
{
    font-size:12px;
}

#content.mceContentBody
{
    font-size:11.2px;
}

/* ==== MENU ==== */

#portal-globalnav
{
    background-color: white;
    margin: 0 auto 30px auto;
    padding: 0 5px;
    width: 980px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#portal-globalnav li a {
    background: none repeat scroll 0 0 #FFFFFF;
    border-right: 2px solid #f6f6f6;
    color: #3c3c3c;
    text-align: center;
    height: 0px;
    padding: 0.8em 4em 2em;
}

#portal-globalnav .selected a, #portal-globalnav a:hover {
    background: none repeat scroll 0 0 white;
    color: #3c3c3c;
}

#portal-globalnav .selected a:hover
{
    background: none repeat scroll 0 0 white;
    color: #3c3c3c;
}



/* ==== Language ==== */

#portal-languageselector {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    font-size: 70%;
    max-width: 50%;
    padding: 16px 0 0;
}

#portal-languageselector a
{
    color:#8c8c8c;
    text-decoration: underline;
    margin-left:10px;
}


/* ==== Editor ==== */

td.canonicalLanguage div
{
    height:auto !important;
}

#content.mceContentBody
{
    font-size: 12.8px;
}

td.targetLanguage, td.canonicalLanguage
{
    vertical-align:top;
}

.ploneSkin .mceExternalToolbar
{
    background-color: #cccccc !important;
}


/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;   
}

#LaboralFooter-wrapper
{
    width:100%;
    background-color:#3c3c3c;
    min-height: 274px;
    clear:both;
    color:white;
    margin-top:20px;
}

#LaboralFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
}

#LaboralFooter h2
{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size:12px;
}

#LaboralFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#LaboralFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;.
}

#LaboralFooter ul li
{
    display:block;
    font-size:11px;
}

#LaboralFooter ul li a
{
    color:white;
    font-size:11px;
    text-decoration: none;
}

#LaboralFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    clear:both;
    margin-bottom: -23px;
    margin-right: 100px;
}