/* These classes are just here to make the demo have some color/whitespace.
   Not part of the grid system.
*/

* { margin:0; padding: 0; }

body {
	font: 1em "Lucida Grande", "Lucida Sans", Arial, Helvetica, sans-serif;
	line-height: 1.5em;
}

div.row { margin-top: 1em inherit; margin-bottom: 0.5em; padding-left: 10px; }
div.cell {text-align: center; padding: 0.5em 0; background-color: #3a8104; }
h1, h2 { letter-spacing: -0.05em; margin: 10px; text-align: justify; line-height: 1.25em;}

/* Uncomment the below line to test the fixed-width version, 60em = 960px: */
/* body { width: 960px; margin: 0 auto;} */

/* Another approach is to make sure the page never exceeds 960px, but scales down */
body {
	height: 300px;
	margin: 0 auto;
	background-color: #E5EDF3;
} 

#logo {
	text-align: center;
	margin-bottom: 15px;
}

div#right-column {
	min-width: 50px;
	float: right;
}

div#left-column {
	min-width: 50px;
	float: left;
}

div#main-container {
	max-width: 810px;
	margin: auto;
}

div.bnt div {
	background-image: url("../images/bg_btn_grey.png");
}

div.lastMovie div {
	background-image: url("../images/bg_btn_green.png");
}

.button a {
	text-decoration: none;
}

div.first-photo img, div.second-photo img, div.third-photo img{
	margin: 0px 10px;
	border-style:solid;
	border-width:3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-color: #fdffef;
}

.required {
	vertical-align: middle;
}

a, a:active, a:focus, a:hover, a:link, a:visited {
	color: white;
}

a.mini {
	font-size: 80%;
}

a img {
	border-width: 0px;
}

#mainTitle {
	text-align: center;
	color: #3a8104;
}

.invisible {
	display: none;
}

.cell {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color: white;
}

.textField {
	width: 100%;
}

.commands {
	text-align: center;
}
.commands input {
	background-color: #3a8104;
	color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 0.1em 0.3em;
}

.formHelp {
	color: #e0e0e0;
	font-size: 80%;
}

option.emptySelection {
	background-color: #3a8104;
}

#movieList {
	text-align: center;
}

#movieList table {
	width: 99%;
	margin:auto;
}

#movieList table td {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#movieList table tr.odd td {
	background-color: #66BF23;
}
#movieList table tr.even td {
	background-color: #77DF29;
}

#movieList table th {
	background-color: #3a8104;
}

#movieList table tr td.movieCommands {
	background-color: #E0E8EF;
}

#movieList table tr td {
	color: black;
}

td.movieCommands img {
	vertical-align: middle;
	margin: 0.1em 0em;
}

#search {
	width: 90%;
}

.center {
	text-align: center;
}
