/* Stylesheet for the 'amberjack' Plone theme */
p.invalid_tour{
    font-weight: normal;
    margin-bottom: 0px !important;
}

.invalid_tour .discreet{
    color: #666666;
    font-size: 85%;
    line-height: 1em;
}

.invalid_tour span {
	display: block;
}

dl.portlet li {
	margin-bottom: 0.4em !important;
}

.ajLink {
    font-size: 9px;
    color: #000000;
}
.ajLink:hover {
    background-color: yellow;
}
ul.ajSteps {
	margin-bottom:0;
}
.ajSteps li{
    list-style: none;
    background: transparent url(dot.gif) no-repeat left top;
    padding-left: 12px; 
    clear:both;
    display: block;
}

.ajDescr{
    float: left;
    width: 80%;
    padding-right: 10px;
}

input#form.actions.save.context {
	background: yellow !important;
}

.kupu-tb-buttongroup button.ajHighlight,
.fulleditor .ajHighlight{
    border:2px solid yellow !important;
}

#kupu-editor-iframe-form.text.ajHighlight{
	border:2px solid yellow !important;
}

.ajHighlight {
    background-color: yellow !important;
	color: black !important;
	font-weight: bold !important;
}
input.ajHighlight,
textarea.ajHighlight {
	background-image: none;
	background-color: #FFFF99;
}
/*.formControls .ajHighlight {
	background-color: yellow !important;
	color: black !important;
	border: 0.1em solid #555555;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-radius-bottomleft: 0.9em;
	-moz-border-radius-bottomleft: 0.9em;
	-webkit-border-radius-bottomleft: 0.9em;
	border-radius-bottomright: 0.9em;
	-moz-border-radius-bottomright: 0.9em;
	-webkit-border-radius-bottomright: 0.9em;
	border-radius-topleft: 0.9em;
	-moz-border-radius-topleft: 0.9em;
	-webkit-border-radius-topleft: 0.9em;
	border-radius-topright: 0.9em;
	-moz-border-radius-topright: 0.9em;
	-webkit-border-radius-topright: 0.9em;
	padding: 0 0.5em;
	box-shadow: 0 0 1px #555555 inset;
	-moz-box-shadow: 0 0 1px #555555 inset;
	-webkit-box-shadow: 0 0 1px #555555 inset;
}*/
.plone_jscalendar select.ajHighlight {
	background-color: yellow !important;
	color: black !important;
	border: 0.1em solid #555555;
	border-radius-bottomleft: 0.5em;
	-moz-border-radius-bottomleft: 0.5em;
	-webkit-border-radius-bottomleft: 0.5em;
	border-radius-bottomright: 0.5em;
	-moz-border-radius-bottomright: 0.5em;
	-webkit-border-radius-bottomright: 0.5em;
	border-radius-topleft: 0.5em;
	-moz-border-radius-topleft: 0.5em;
	-webkit-border-radius-topleft: 0.5em;
	border-radius-topright: 0.5em;
	-moz-border-radius-topright: 0.5em;
	-webkit-border-radius-topright: 0.5em;
	padding: 0 0.1em 0 0.5em;
	box-shadow: -0.1em 0 1px #555555 inset;
   	-moz-box-shadow: -0.1em 0 1px #555555 inset;
   	-webkit-box-shadow: -0.1em 0 1px #555555 inset;
}
a.ajHighlight:hover {
	color: #000!important;
}

.aj_link_inactive {
	color: #CCC !important;
	cursor: default;
}
#ajControlInfo .aj_link_inactive {
	color: #000 !important;
}
.contentViews .selected a.aj_link_inactive{
	color: #CCC !important;
}
.contentActions a.aj_link_inactive {
	color: #CCC !important;
}
.contentViews a.aj_link_inactive:hover {
	background-color: transparent;
}
.contentViews .selected a.aj_link_inactive:hover {
	color: #999 !important;
} 

#ajLastStep {
	float: left;
}

/*** Amberjack portlets styles ***/
.portletItem ol {
	padding-left: 1em;
}
a.tour_inactive,
a.tour_inactive:link,
a.tour_inactive:visited,
a.tour_inactive:hover {
	color: #CCC;
	cursor: default;
}

/*** Amberjack popup tour generic styles ***/

#ajControl {
  position: fixed;
  top:0;
  right:0;
  z-index:999999;
}

#ajControlBody h2 {
  margin:0 0 0.5em;
}


#ajControlBody div {
  padding: 0 0 0.5em 0;
}

/*** Amberjack alert ***/
#ajMessage {
	font-size:0.8em;
}

#ajMessage ul{
	list-style:disc inside none;
}

#ajMessage li{
	display:list-item;
	margin-top:5px;
}

#ajMessage a:link, #ajMessage a:visited{
	color:#205C90;
	text-decoration:underline;
}
