/* Stylesheet for the 'INTK Theme' Plone theme */

html, body {
height: 100%;
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
    position:relative;
    min-height:100%;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    height: 127px;
}

#head-width
{
    margin:0px auto;
    width: 1150px;
}

#portal-logo {
    display: block;
    left: 50%;
    margin: 0 0 0 -75px;
    position: absolute;
    top: -75px;
}

#portal-logo-bottom {
    display: block;
    left: 50%;
    margin: 0 0 0 -75px;
    position: absolute;
    bottom: 0;
    width:150px;
    height:75px;
    background-image:url(++resource++plonetheme.intk.images/logo.png);
}

#portal-searchbox
{
    z-index:1001;
    position: absolute;
    margin: 0;
    float:none;
    clear:both;
    display:block;
    height:75px;
    opacity:0;
    background-color:#F3F6EE;
    width:1150px;
}

#portal-searchbox:hover
{
}

.searchSpacer
{
  height:75px;  
}

.LSBox .searchSection {
    display: none;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

#portal-searchbox .searchButton {
    position:absolute;
    left:1075px;
    top:0;
    background-color:white;
    border: none;
    height:75px;
    width:75px;
    background-image:url(++resource++plonetheme.intk.images/search2.png);
    color:transparent;
    font-size:0px;
    text-indent:-10000px;
    cursor:pointer;
}

#portal-searchbox .searchButton:hover {
    border-bottom:5px solid #cdd0c7;
}

#portal-searchbox #searchGadget, #portal-searchbox #nolivesearchGadget
{
    font-family: Georgia,serif;
    background-color:white;
    font-size: 48px;
    position:absolute;
    top:0;
    left:-1px;
    width: 1063px;
    height: 75px;
    padding: 0px 10px 0px 0px;
    margin:0;
    border: 0px none;
    -moz-appearance: none;
}

#portal-searchbox #searchGadget:focus, #portal-searchbox #nolivesearchGadget:focus
{
    background-color:white;
}


.highlightedSearchTerm
{
  background-color:transparent;  
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 75%;
}

#portal-columns
{
    width: 1150px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-100.6%;
}

#INTKFooter-wrapper
{
    width:100%;
    min-height: 150px;
    clear:both;
    color:black;
    margin-top:20px;
}

#INTKFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#INTKFooter h2
{
    color: black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#INTKFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#INTKFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#INTKFooter ul li
{
    color: black;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#INTKFooter ul li a
{
    color: black;
    font-size:13px;
    text-decoration: none;
}

#INTKFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:black;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dd a:hover
{
    color:black;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#INTKFooter dl.actionMenu.activated dd
{
    position:static;
}

#INTKFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

#portal-personaltools-wrapper
{
    float:right;
}

#anon-personalbar
{
    display:none;
}

/* ====  CONTENT ====*/

#content {
    clear: both;
    font-size: 12px;
    line-height: 25px;
    margin: 20px 0 20px 0;
}

#content h1.documentFirstHeading {
    margin-top: 0;
    padding-top: 2px;
}

/* HACK */

.template-intk_folder_view #content, .template-search #content
{
    margin: 20px 0 20px -50px;
}

.template-intk_folder_view #plone-document-byline, .template-search #plone-document-byline, .template-search #portal-searchbox, .template-intk_folder_view #portal-searchbox, .template-search .documentFirstHeading, .template-intk_folder_view .documentFirstHeading
{
    margin-left: 50px;    
}

/* END OF HACK */

#content li
{
    line-height: 25px;
}

#content .documentDescription
{
    font-family: Georgia, serif;
    font-style:italic;
    color:#333;
    font-weight:normal;
    font-size:20px;
}

#content hr
{
    margin-bottom:50px;
}

.pageWrapper
{
    margin-bottom:50px;
}

html, body, span, div, hr, ul, li, p, img {
margin: 0;
padding: 0;
}

li {
margin-left: 30px;
}

body {
color: #000;
font-family: Lucida Console, Monaco, monospace;
background-color: #f3f6ee;
height:100%; 
}

h1, h2, h3 {
font-family: Georgia, serif;
font-weight: normal;
margin: 0;
padding: 0;
color:#333;
letter-spacing:normal;
}

a, #content a:link, dl.portlet a:link, #content a:visited {
    color: #666 !important;
    border: none !important;
    text-decoration: underline;
}

a:hover, #content a:hover, dl.portlet a:hover {
    text-decoration: none;
}

h1 {
font-size: 48px;
}

h2 {
font-size: 30px;
margin-bottom: 10px;
margin-top: 15px;
}

h3 {
font-size: 22px;
margin-bottom: 10px;
margin-top: 15px;
}

.list-item {
margin-left: 25px;
}

hr {
color: #000;
background-color: #000;
border: 0px;
height: 1px;
}

#titleItem {
    margin-bottom: 5px;
    margin-top: -65px;
    margin-left: 1px;
}

p {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 25px;
}

.quote {
    font-family: georgia, serif;
    font-size: 13px;
    font-style: italic;
    padding: 20px;
    color: #999;
    background-color: white;
    margin: 0px 50px 25px 50px;
}

.code {
    padding: 20px;
    color: #999;
    background-color: white;
    margin: 0px 50px 25px 50px;
}

table, tr, td {
margin:0;
padding: 0;
font-size: 12px;
line-height: 25px;
}

table {
width: 100%;
margin-bottom: 25px;
}

td {
padding: 0px 10px 0px 0px;
}

thead {
font-weight: bold;
}

/* == Content Columns == */

div.leftColumn
{
    float:left;
    width: 550px;
    margin-right: 25px;
}

div.rightColumn
{
    float:right;
    width: 550px;
    margin-left:25px;
}


/* == TinyMCE Specific == */

body#content
{
    margin: 0;
}

.mceContentBody div.leftColumn
{
    border:1px dashed #ccc;
    margin-right: 14px;
    min-height: 20px; 
}

.mceContentBody div.rightColumn
{
    border:1px dashed #ccc;
    margin-left: 14px;
    min-height: 20px;
}

#content #fieldset-default
{
    margin:0;
    padding:0;
}


/* == Tile Items == */

.tileItem
{
    width:230px;
    padding:0px 10px 10px;
    float:left;
    margin-left:50px;
    margin-top:50px;
    background-color:#fff;
    /* height:354px; */
    color:#555;
}

#masonContainer .tileItem
{
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
}

.template-search .searchResults .tileItem
{
   /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0.0;
  /* Safari 1.x */
  -khtml-opacity: 0.0;
  /* Good browsers */
  opacity: 0.0;
}

#content img.tileImage, #content div.newsImageContainer {
    float: none;
    margin: 0;
}

#content .tileItem .tileHeadline
{
    font-size: 12px;
    font-family: Lucida Console, Monaco, monospace;
}

#content img.tileImage
{
    margin-left:-10px;
    width:250px;
    height:auto;
}