[buildout]
extensions = buildout.dumppickedversions
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    versions.cfg
parts += coverage pylint
package-name = collective.disqus
package-extras = [tests]
test-eggs = PIL
develop = 
    .
#   needed to use trunk version of plone.app.viewletmanager until 2.0.2 is released
    ../plone.app.viewletmanager

[instance]
eggs+=PIL

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress', '--coverage=${buildout:directory}/coverage', '-v', '-s', '${buildout:package-name}']

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('${buildout:directory}/coverage', '${buildout:directory}/docs/report')

[pylint]
recipe = zc.recipe.egg
eggs =
    ${instance:eggs}
    pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]+[
        '--output-format=html',
        '--import-graph=${buildout:directory}/docs/pylint_disqus.dot',
        '--ext-import-graph=${buildout:directory}/docs/pylint_disqus_external.dot',
        '--int-import-graph=${buildout:directory}/docs/pylint_disqus_internal.dot',
        '--init-import=y',
        '${buildout:directory}/src//collective/disqus']

