/* IDs */
#main { min-width: 45em; max-width: 65em; }
#header {  }
#footer { min-width: 45em; /* max-width: 61em; */ width: 850px; margin-right: 1em;}

/* classes */
.box, .main-content { }
.cols-wrapper { }
.hide-left .cols-wrapper { }
.hide-right .cols-wrapper {  }
.hide-both .cols-wrapper {  }
.box {  }
.sidecol {  }

/* Generics */

h1, h2, h3, h4, h5, h6 { padding: 0.25em; }
p { padding: 0.25em; }
img { border: none; }

/* Main-content styling */
.main-content ul, ol {padding-left:  2em;}
.main-content ul li ul {padding-left:  2em;}
#result pre {font-size: 0.8em;}
