.quickLinks {
 padding-top: 2em;
 padding-left: 1em;
 margin-right: 1em;
}
.quickLinks a {
 color: #808080;
 text-decoration: none;
}
.quickLinks table {
 margin-top: 1em;
}

a.seemore{
 color: #666666;
 text-decoration: none;
}

a.highlighted{
 color: #000;
}
