body {
  background: #fff;
  color: #222;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 75%;
  margin: 0 0 0 20px;
}

div#memory {
  height: 200px;
  width: 800px;
}

div#details {
  height: 200px;
  width: 800px;
}
