[buildout]
develop = .
parts = test demo
versions = versions

[versions]
zc.buildout = 1.4.4

[apache]
recipe = tl.buildout_apache:httpd

[modpython]
recipe = tl.buildout_apache:modpython
httpd = apache

[demo]
recipe = tl.buildout_apache:root
httpd = apache
python = modpython

[test]
recipe = zc.recipe.testrunner
eggs = tl.buildout_apache [test]
defaults = ["-v", "-s", "tl.buildout_apache"]
