[buildout]
parts =
    lxml
    wsgi
    wsgi-conf
    supervisor
    test
versions = versions
find-links =
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
develop =
    .

[versions]
lxml=2.1.5

[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml == 2.1.5
force = false

[test]
recipe = zc.recipe.egg
eggs = 
    ${wsgi:eggs}
    nose

[wsgi]
recipe=zc.recipe.egg
eggs =
	PasteScript
    mr.monster
    
[wsgi-conf]
recipe=collective.recipe.template
input=${buildout:directory}/inc/paste.ini.in
output=${buildout:directory}/etc/paste.ini
port = 8080

[supervisor]
recipe = collective.recipe.supervisor
port = 8081
user = admin
password = admin
serverurl = http://127.0.0.1:${supervisor:port}
programs =
	10 wsgi ${buildout:bin-directory}/paster [serve ${wsgi-conf:output}] ${buildout:directory} true
