[buildout]
develop = .
parts = test

[test]
recipe = zc.recipe.testrunner
eggs = xupdate_processor
initialization = from shutil import copy2; from glob import glob; [copy2(f, '../../parts/test/%s' % f.split('/')[-1]) for f in glob('../../*.xml')]