[buildout]
extends =
# Comment out the line below for Plone 4
    buildout-plone3.cfg
# Uncomment the line below for Plone 4
#    buildout-plone4.cfg    

parts +=
    omelette
    plonesite

extensions = mr.developer
sources = sources
auto-checkout = Products.PloneInvite

[sources]
# Comment out the line below for Plone 4
Products.PloneInvite = svn https://svn.plone.org/svn/collective/Products.PloneInvite/trunk
# Uncomment the line below for Plone 4
#Products.PloneInvite = svn https://svn.plone.org/svn/collective/Products.PloneInvite/branches/plone4

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products = ${instance:products}
# Comment out the line below for Plone 4
packages = ${zope2:location}/lib/python ./

[instance]
debug-mode = on
verbose-security = on
eggs +=
    Products.PloneInvite
    Products.Clouseau
    Products.DocFinderTab
    plone.reload

[plonesite]
recipe = collective.recipe.plonesite
site-id = ploneinvite
products = PloneInvite
