[buildout]
develop = .
parts = test releaser
versions = versions

[versions]
hurry.resource = 0.4.1

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs =
    hurry.zoperesource
    hurry.zoperesource[test]

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
