[buildout]
# define this directory as a development egg
develop = .
# create 3 parts
parts = packages instance test
# make sure that we do not unzip python libs, could be true for development
unzip = true
# no extensions needed
extensions =
# place the buildout's egg directory into our appengine project
# directory, so it gets deployed and can be accessed
eggs-directory = app/packages
# add the tornado download url to find-links because tornado is not
# available via pypi currently
find-links = http://www.tornadoweb.org/static/tornado-0.1.tar.gz

[packages]
# this part collects the needed eggs. define dependencies in setup.py
recipe = zc.recipe.egg
eggs = lovely.gae.example

[instance]
# this part generates the deveopment server start script. Note that
# for this to work the dev_appserver.py script from the SDK needs to
# be on your $PATH.
# the mkfile recipe generates files with predifened contents.
recipe = lovely.recipe:mkfile
path = ${buildout:bin-directory}/instance
mode = 0755
content =
 #!/bin/sh
 AS=`which dev_appserver.py`
 ${buildout:executable} $AS --show_mail_body $@ ${buildout:directory}/app

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color']
# for testing we have additional dependencies defined
eggs = lovely.gae.example [test]
# we import the environment in initialization code
initialization = import environment
working-directory = ${buildout:directory}/app
