[buildout]
parts =
    zope2
    instance
    zopepy
    test
develop = .

newest = false
versions = versions

[versions]
zope.app.publisher = 3.5
zope.authentication = 3.5
zope.securitypolicy = 3.5

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.8/Zope-2.10.8-final.tgz
fake-zope-eggs = true
additional-fake-egg =
    zope.app.publisher

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    zope.component>=3.4,<3.5dev
    five.megrok.menu
zcml = five.megrok.menu-meta
products =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
extra-paths = ${zope2:location}/lib/python
defaults = ['-m', 'five.megrok.menu', '--tests-pattern', '^f?tests$', '-v']
