#header {  }
#col-a {  }
.box {  }
#footer {  }

a { color: rgb(3%, 34%, 0%); text-decoration: none; }
a:visited { color: rgb(64%, 62%, 63%); text-decoration: none; }
a:hover { color: rgb(0%, 31%, 59%); text-decoration: none; }

#pageLogin a { color: rgb(0%, 59%, 0%); }
#pageLogin a:visited { color: rgb(59%, 31%, 0%); }
#pageLogin a:hover { color: rgb(0%, 100%, 0%); }

