/* Stylesheet for the 'INTK Theme' Plone theme */

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    height: 127px;
    margin-bottom: 20px;
}

#head-width
{
    margin:0px auto;
    width:1024px;
}

#portal-logo {
    display: inline-block;
    margin: 23px 0;
    float: left;
}

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    position: relative;
    margin-top: 73px;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 75%;
}

#portal-columns
{
    width:1024px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-100.6%;
}

#INTKFooter-wrapper
{
    width:100%;
    min-height: 274px;
    clear:both;
    color:black;
    margin-top:20px;
}

#INTKFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#INTKFooter h2
{
    color: black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#INTKFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#INTKFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#INTKFooter ul li
{
    color: black;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#INTKFooter ul li a
{
    color: black;
    font-size:13px;
    text-decoration: none;
}

#INTKFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:black;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dd a:hover
{
    color:black;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#INTKFooter dl.actionMenu.activated dd
{
    position:static;
}

#INTKFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

#portal-personaltools-wrapper
{
    float:right;
}

/* ====  CONTENT ====*/

html, body, span, div, hr, ul, li, p, img {
margin: 0;
padding: 0;
}

li {
margin-left: 30px;
}

body {
color: #000;
font-family: Lucida Console, Monaco, monospace;
background-color: #f3f6ee;
}

h1, h2, h3 {
font-family: Georgia, serif;
font-weight: normal;
margin: 0;
padding: 0;
}

a {
color: #555;
}

a:hover {
text-decoration: none;
}

h1 {
font-size: 48px;
}

h2 {
font-size: 30px;
margin-bottom: 10px;
margin-top: 15px;
}

h3 {
font-size: 22px;
margin-bottom: 10px;
margin-top: 15px;
}

.list-item {
margin-left: 25px;
}

hr {
color: #000;
background-color: #000;
border: 0px;
height: 1px;
}

#container {
width: 1150px;
padding: 0px 50px;
margin: 0 auto;
}

.clearer {
clear: both;
}

.content, .fullimg, .sidebar, .sidebarfirst {
width: 550px;
}

.content {
float: left;
margin-top: 40px;
}

.fullimg {
display: block;
margin-bottom: 50px;
}

.filterbutton {
height: 45px;
margin: 0px 0px 0px 1px;
float: left;
background-color: white;
padding-top: 25px;
width: 136px;
text-align: center;
cursor: pointer;
border-bottom: 5px solid #fff;
}

.filterbutton:hover, .activebutton {
/* background-color: #cdd0c7;
color: #fff; */
border-bottom: 5px solid #cdd0c7;
}

#hiddendiv {
filter: alpha(opacity=0);
-moz-opacity: 0;
-khtml-opacity: 0;
opacity: 0;
position: relative;
background-color: #f3f6ee;
}

.searchButton {
cursor:pointer;
float: left;
margin: 0px 50px 0px 1px;
border-bottom: 5px solid #fff;
}

.searchButton:hover {
border-bottom: 5px solid #cdd0c7;
}

#bottomlogo, #toplogo {
height:75px;
background-image: url("logo.png");
background-repeat: no-repeat;
}

#toplogo {
margin-bottom: 70px;
background-position: 50% -75px;
}

#bottomlogo {
margin-top: 90px;
background-position: 50% 0px;
}

#titleItem #subtitle {
font-family: Georgia, serif;
font-style: italic;
font-size: 18px;
}

#titleItem {
margin-bottom: 5px;
margin-top: -65px;
margin-left: 1px;
}

p {
font-size: 12px;
line-height: 25px;
margin-bottom: 25px;
}

.description {
color: #999;
margin-bottom: 40px;
margin-top: -40px;
}

.disclaimer {
color: #999;
margin-top: 50px;
margin-bottom: 50px;
}

.description a {
color: #999;
}

.sidebar {
width: 550px;
float: right;
margin-top: 40px;
}

.block, .block img, .block iframe {
width:250px;
}

.block2 .searchbox img {
width:auto;
}

.block2, .block2 img, .block2 iframe {
width:550px;
}

.block, .block2 {
margin: 25px;
float: left;
}

.block img, .block2 img {
margin: 0;
padding: 0;
display: block;
}

.block iframe, .block2 iframe {
margin: 0;
padding: 0;
display: block;
}

.block .title, .block2 .title {
font-size: 12px;
line-height: 25px;
background-color: #fff;
padding: 10px;
color: #555;
}

.block .title a, .block2 .title a {
color: #555;
}

#blockdiv {
margin: 25px -25px;
}

.blockcol {
width: 300px;
float: left;
}

.quote {
font-family: georgia, serif;
font-size: 13px;
font-style: italic;
padding: 20px;
color: #999;
background-color: white;
margin: 0px 50px 25px 50px;
}

.code {
padding: 20px;
color: #999;
background-color: white;
margin: 0px 50px 25px 50px;
}

#pagination {
width: 1150px;
margin: 0 auto;
margin-top: 50px;
}

#pagination div {
float: left;
background-color: #fff;
padding: 5px 10px;
margin: 0px 5px 0px 0px;
font-size: 12px;
cursor: pointer;
color: #555;
}

#pagination div:hover, #pagination .current {
background-color: #cdd0c7;
color: #fff;
}

#pagination .dots, #pagination .dots:hover {
background-color: transparent;
color: #999;
margin: 0px 0px 0px -5px;
cursor: auto;
}

#pagination .next {
float: right;
}

table, tr, td {
margin:0;
padding: 0;
font-size: 12px;
line-height: 25px;
}

table {
width: 100%;
margin-bottom: 25px;
}

td {
padding: 0px 10px 0px 0px;
}

thead {
font-weight: bold;
}
