[buildout]
develop = .
parts = test checker coverage-test coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = zam.api [app,test]


[checker]
recipe = lovely.recipe:importchecker
path = src/zam/api


[coverage-test]
recipe = zc.recipe.testrunner
eggs = zam.api [app,test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
