[buildout]
develop = .
parts = package i18n test

[package]
recipe = zc.recipe.egg
eggs = ztfy.monitor
       zc.z3monitor
       threadframe

[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = ${package:eggs}
       z3c.recipe.i18n
packages = ztfy.monitor
domain = ztfy.monitor
output = ztfy/monitor/locales
zcml = <include file="configure.zcml" />

[test]
recipe = zc.recipe.testrunner
eggs = ztfy.monitor [test]
