[buildout]
parts = 
    zeo 
    instance 
    chatserver
    zopepy
    omelette
    supervisor

# We keep the dexterity version to have sane pinning for z3c.form
extends = 
    http://download.zope.org/Zope2/index/2.12.4/versions.cfg
    http://dist.plone.org/release/4.0b2/versions.cfg

versions = versions
zeo_address = 2000

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/packages/
    http://dist.plone.org/release/4.0b2/
    http://dist.plone.org/thirdparty

eggs =

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = .

sources = sources

[zeo]
recipe = plone.recipe.zeoserver
blob-storage = ${buildout:directory}/var/blobstorage
zeo-address = 8100

[instance-settings]
debug-mode = on
shared-blob = on
user = admin:admin
verbose-security = on
zeo-address = ${zeo:zeo-address}
zeo-client = on

# See install_requires in setup.py for egg dependencies of osha.extranet
eggs =
    ${buildout:eggs}
    zope2
    Plone
    babble.demo

zcml =
    babble.server 

[instance]
recipe = collective.recipe.zope2cluster
instance-clone = instance-settings
http-address = 8080
zope-conf-additional =
    <icp-server>
        address 8080
    </icp-server>

[chatserver]
recipe = collective.recipe.zope2cluster
instance-clone = instance-settings
http-address = 8081
zope-conf-additional =
    <icp-server>
        address 8081
    </icp-server>

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[supervisor]
recipe = collective.recipe.supervisor
port = 9000
user = admin
password = admin
serverurl = http://localhost:9000
programs =
    10 zeo          ${zeo:location}/bin/runzeo                      true   
    20 instance     ${buildout:directory}/bin/instance   [console]  true
    20 chatserver   ${buildout:directory}/bin/chatserver [console]  true
