[buildout]
develop = .
parts = check_temp_ts
eggs = gocept.thermosnake

[check_temp_ts]
recipe = zc.recipe.egg:scripts
scripts = check_temp_ts
eggs = ${buildout:eggs}
entry-points = check_temp_ts=gocept.thermosnake.check_temp_ts:main
