[buildout]
develop = 
    .
    src/my.package
allow-hosts = *.python.org
extensions = buildout.bootstrap
extends = http://download.zope.org/bluebream/bluebream-1.0.cfg
parts =
    bluebream
versions = versions

[bluebream]
recipe = collective.recipe.bluebream
eggs =
    my.package 

[versions]
distribute = 0.6.19
