
#container {
            width: 400px;
            margin: auto;
            margin-top: 125px;
}

#top-menu {
    text-align: right;
}

.yui-g {
    margin-left: 20px;
}

.error {
    color: red:
    font-weight: bold;
}

.emph {
    font-weight: bold:
    font-size: 2em;
}

.clear {
    overflow: hidden;
    width: 100%;
    padding: 1em;
}

input[type=text], input[type=password], textarea {
    font-size: 1.1em !important;
    background: #fff;
    color: #525252;
    padding: 3px;
}

input[type=radio], input[type=checkbox], input[type=submit], input[type=reset], input[type=button], input[type=file], select {
    font-size: 1em;
}

/******* SIGNIN **************/
form {
    -moz-border-radius:8px;
    -webkit-border-radius:8px; 
    padding-bottom: 10px;
}

form td {
    padding: 0.5em;
}

form.openid {
    background: #DCDCDC url(img/openid_icons/fadegrey.png);
}

form.auth {
    background: #CCCCFF url(img/openid_icons/fadeblue.png);
}

form.auth h2 {
    padding-top: 0.5em;
}

input.login-button {
    width: 4.8em;
    font-weight: normal;
    font-size: 1.3em;
    color: darkblue;
}

input.login-button:hover {
    color: white;
}

div.form-row {
    padding-bottom: 8px;
    text-align: left;
}

div.submit-row {
}

