#visual-portal-wrapper {
	margin-left: 0px;
	margin-right: 0px;
	border-left: 50px solid #92967F;
	border-right: 50px solid #92967F;
}

.hiddenStructure {
    display:none;
}

/*in ie6 the global nav implementation is inverted*/
#globalnav-wrapper {
    _background: transparent url(++resource++plonetheme.xtheme.images/gnav_left_inv.jpg) no-repeat scroll top right;
    float:right;
    margin-right:10px;
}
#portal-globalnav {
    _float:right;
    _background: #4a4e3d url(++resource++plonetheme.xtheme.images/gnav_right_inv.jpg) no-repeat scroll top left;
    _margin-right:7px;
    _display:block;
    _padding:9px 0px 10px 0px;
}
#portal-globalnav li.last a, #portal-globalnav li.last a:hover {
    _margin-right:-10px;
}
