[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
#extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
versions = versions
package-name = collective.harlequin
package-extras = [tests]
test-eggs = PIL

[instance]
eggs+=PIL

[versions]
Products.PrintingMailHost = 0.7
#z3c.form for plone-3.x
collective.z3cform.datetimewidget = 0.1a9
plone.app.z3cform = 0.4.9
plone.z3cform = 0.5.10
z3c.form = 1.9.0
z3c.formwidget.query = 0.5
z3c.batching = 1.1.0
zope.i18n = 3.4.0
zope.component = 3.4.0
zope.securitypolicy = 3.4.0
zope.app.zcmlfiles = 3.4.3
