/*
 * Additional styles for collective.portlettabber
 */

ul.portletTabs {
	display:block;
	list-style-type:none;
	margin:0 0 -1px;
	padding: 2px 0 0 0;
	position:relative;
	text-align:center;
}

li.portletTab {
	display:inline;
	margin:0;
	padding:0;
}

li.portletTab a {
    /* this isn't supported by all browsers, so we keep it in a separate rule */
    display: inline-block;
}
li.portletTab a {
    border-left: 1px dotted #8cacbb;
    border-bottom: 1px solid #8cacbb;
    border-top: 1px solid #8cacbb;
    background: #dee7ec;
    margin: 0;
    padding: 0.1em 0.75em;
    text-decoration: none;
}
li.portletTab a:visited {
    color: #436976;    
}

li.portletTab a.selected {
	background: White;
	border-bottom-color: White;
}
li.portletTab a:hover {
    background: White;
}

li.firstPortletTab a {
    border-left: 1px solid #8cacbb;
}
li.lastPortletTab a {
    border-right: 1px solid #8cacbb;
}
