/* Stylesheet for the 'WMOWonen Theme' Plone theme */

/*======= General ======*/

body
{
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTextureGray.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size:15px;
}

#head-wrapper {
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTexture.jpg);
    height: 170px;
    border-bottom: solid 6px white;
}

#INTKFooter-wrapper {
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTexture.jpg);
    border-top: solid 6px white;

}

#head-width
{
    margin:0px auto;
    width:960px;
}

#portal-columns
{
    width:960px;
    min-height:400px;
}

/* ======== Complicated stuff ======== */

div.width-1\3a 4 {
    width: 30.75%;
}

div.position-3\3a 4 {
    margin-left: -31.2%;
}

div.width-3\3a 4 {
    width: 66%;
}

div.width-1\3a 2 {
    width: 39.75%;
}

div.width-full.position-0#portal-column-content
{
    width: 104%;
    margin-left: -100%;
}

div.width-full.position-0 #INTKFooter-wrapper
{
    width:104%;
}

div.width-full.position-0 .pageWrapper
{
    width: 920px;
}

/* ========= Making 4 columns when there is no portlets  =========*/

div.width-full .columnBreak{
    display:none;
}

div.width-full .tileItem.tileOdd
{
    margin-right:30px;
    margin-left:0;
}

div.width-full .tileItem.tileEven
{
    margin-right:30px;
    margin-left:0;
}

/*====== typography =======*/

#content {
    font-size: 15px;
    line-height: 20px;
}

a, #content a, #content a:active, #content a:link, #content a:visited
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    border-bottom:none;
    text-decoration:none;
}

a:hover
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    text-decoration:none;
}

#content a:hover
{
    color: #5ea8ce !important;
}

#content a.summary, #content a.summary:hover, #content .tileHeadline a, #content .tileHeadline a:hover
{
    font-size:18px;
    font-weight:normal;
    color:#333 !important;
    line-height: normal;
}

#content a:link, dl.portlet a:link {
    border-bottom: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    letter-spacing: normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}

/*======= tiles =======*/

.tileItem
{
    background-color:white;
    width:260px;
    height:235px;
    float: left;
    margin: 15px;
    padding: 20px;
    font-size:13px;
}

.tileItem.tileEven
{
    margin-left:0;
}

.tileItem.tileOdd
{
    margin-right:0;
}

.newsImageContainer
{
    border:1px solid #ccc;
}

.tileImage
{
    border: 1px solid #ccc !important;
}

#content img.tileImage, #content div.newsImageContainer {
    float: right;
    margin: 0 3px;
}

#content .documentDescription, #content #description {
    color: #333;
    font: normal 15px Arial, Helvetica, FreeSans,sans-serif;
    margin-left: 0;
}


/*=======  Document view =======*/
.pageWrapper
{
    background-color: #fff;
    padding:20px;
    margin-top: 12px;
}

#content div.newsImageContainer p.discreet {
    background-color: transparent;
    color: #999;
    font-weight: normal;
    margin: 0;
    padding: 0;
    position: static;
    top: 0;
    width: auto;
}


#content h1.documentFirstHeading {
    margin-bottom: 15px;
}

.news-date
{
    color:#999;
    margin-bottom: 20px;
}

/*===== Header elements =====*/

#portal-searchbox {
    margin-top: 87px;
}

#portal-logo {
    margin: 18px 0;
}

/*===== search box =====*/

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 87px 0 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton {
    border: 1px solid darkGray;
}

#searchGadget, #nolivesearchGadget, input.searchPage[type=text] {
    border: 1px solid #cccccc;
    border-right: none;
    height: 30px;
    padding: 0 0 0 5px;
    width: 164px;
    position: absolute;
    right: 30px;
    top: 0;
    color:#333;
    font-size:13px;
}

.field #searchGadget
{
    position:static;
    
}

input.searchPage[type=text]
{
     left: 180px;
     right:auto;
     width:423px;
}

input.searchPage[type=submit]
{
    left: 615px;
    position: absolute;
}

form.searchPage {
     margin: 20px 0 10px 52px;
    position: relative;
}

.LSBox input.searchButton, .searchPage .searchButton {
    background-color: #fff;
    color: transparent;
    background-image: url("++resource++plonetheme.wmoWonen.images/searchbutton.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    border-left: none;
    font-size: 0;
    font-weight: normal;
    height: 32px;
    width: 32px;
    margin: 0 0 0 -5px;
    padding:0
}

body.template-search #content #content-core
{
    padding-top:21px;
}

form.searchPage p.discreet
{
    display:none;
}

/* ======== Portlets ========*/



#portal-column-two .portlet
{
    background-color:white;
    padding:5px 20px 20px 20px;
    margin-top: 15px;
}

#portal-column-two .portlet .portletHeader, .cn-category-title
{
    background-color:transparent;
    margin:0 0 15px 0;
    padding:0;
    font-size:24px;
    font-weight:normal;
    line-height:27px;
}

#portal-column-two #category-selector.portlet .portletHeader
{
    display:none;
}

#portal-column-two .portlet.managedPortlet .portletHeader
{
    font-size:13px;
}

.cn-category-title
{
    margin:15px 0 15px 0;
}

.cn-description
{
    margin:0 0 15px 0;   
}

.nc-category a
{
    color:#999 !important;
    font-weight:normal;
    border: none !important;
}

#portal-column-two .portlet .nc-category a:hover
{
    color:#999 !important;
    font-weight:normal;
}

.nc-category_selected.nc-category a
{
    color:#000 !important;
}

ul.subcategory .cn-category-title
{
    font-size:12px;
    color:#999;
    margin:0;
    cursor:pointer;
}

.collapse_0 ul.subcategory .cn-category-title
{
    font-size:12px;
    color:#999;
    margin:0;
    cursor:default;
    display:block;
}

.collapse_2 ul.subcategory ul
{
    display:none;
}

ul.subcategory li ul
{
    margin-left: 20px;
}

ul.subcategory li
{
    margin:0;
}

/* ==========  paging =========== */

#content div.listingBar
{
    margin:0px 0px 20px 0px;
    width: 100%;
}

.template-search #content div.listingBar
{
    margin: 15px 0 0 8px;
    width: 102.6%;
}

#content div.listingBar span.next {
    background-color:#FFFFFF;
    padding:0;
}

#content div.listingBar span.previous{
    background-color:#FFFFFF;
    padding:0;
    float:left;
    margin-right:3px;
}

#content div.listingBar span:hover 
{
 
    text-decoration:none;
}

#content div.listingBar span a
{
    color:#999;
    background-color:#FFFFFF;
    border:none;
    padding:5px 9px;
    font-weight:normal;
}

#content div.listingBar span a:hover
{
    color:#ffffff !important;
    background-color:#5aa4ca;
    text-decoration:none;
}

#content div.listingBar a
{
    color:#999;
    background-color:#ffffff;
    border:none;
    padding:5px 9px;
    font-weight:normal;
}

.relatedDate.pastDate
{
    text-decoration:line-through;
}

#content div.listingBar a:hover
{
    color:#ffffff !important;
    background-color:#5aa4ca;
    border-color:transparent;
    text-decoration:none;
}

#content div.listingBar span.current
{
    background-color:#5aa4ca;
    border:none;
    color:#FFFFFF;
    display:inline-block;
    margin-top:-1px;
    padding:5px 9px;
}

#content div.listingBar span {
    padding:3px 5px;
}