/* column configurations for nested collage*/

#collage .collage_type_collage .one-column .block_1 {
    width: 100%;
}

#collage .collage_type_collage .two-columns-equal .block_1 {
  width:49.49%;
}

#collage .collage_type_collage .two-columns-equal .block_2 { width:49.49%; }

#collage .collage_type_collage .three-columns-equal .block_1,
#collage .collage_type_collage .three-columns-equal .block_2,
#collage .collage_type_collage .three-columns-equal .block_3 {
    width:32.5%;
}

#collage .collage_type_collage .three-columns-equal .block_2 { width:32.9%; }

#collage .collage_type_collage .four-columns-equal .block_1,
#collage .collage_type_collage .four-columns-equal .block_2,
#collage .collage_type_collage .four-columns-equal .block_3,
#collage .collage_type_collage .four-columns-equal .block_4 {
    width: 24.2%;
}

#collage .collage_type_collage .four-columns-equal .block_2 { width: 24.4%; }

#collage .collage_type_collage .five-columns-equal .block_1,
#collage .collage_type_collage .five-columns-equal .block_2,
#collage .collage_type_collage .five-columns-equal .block_3,
#collage .collage_type_collage .five-columns-equal .block_4,
#collage .collage_type_collage .five-columns-equal .block_5 {
    width: 19.2%;
}

#collage .collage_type_collage .five-columns-equal .block_2 { width: 19.2%; }

#collage .collage_type_collage .block_2,
#collage .collage_type_collage .block_4,
#collage .collage_type_collage .block_3,
#collage .collage_type_collage .block_4,
#collage .collage_type_collage .block_5,
#collage .collage_type_collage .block_6 {
  padding-left: 1%;
}

#collage .collage_type_collage .two-columns-largeleft .block_1 {
    width: 59%;
}
#collage .collage_type_collage .two-columns-largeleft .block_2 {
    width: 40%;
}

#collage .collage_type_collage .three-columns-largeleft .block_1 {
    width:59%;
}

#collage .collage_type_collage .three-columns-largeleft .block_2 {
  width:19%;
}

#collage .collage_type_collage .three-columns-largeleft .block_3 {
  width: 20%;
}

#collage .collage_type_collage .four-columns-largeleft .block_1 {
    width: 40%;
}

#collage .collage_type_collage .four-columns-largeleft .block_2,
#collage .collage_type_collage .four-columns-largeleft .block_3,
#collage .collage_type_collage .four-columns-largeleft .block_4 {
  width: 19%;
}

#collage .collage_type_collage .five-columns-largeleft .block_1 {
    width: 24%;
}
#collage .collage_type_collage .five-columns-largeleft .block_2,
#collage .collage_type_collage .five-columns-largeleft .block_3,
#collage .collage_type_collage .five-columns-largeleft .block_4,
#collage .collage_type_collage .five-columns-largeleft .block_5 {
  width: 18%;
}

#collage .collage_type_collage .two-columns-largeright .block_2 {
    width: 59%;
}
#collage .collage_type_collage .two-columns-largeright .block_1 {
    width: 40%;
}

#collage .collage_type_collage .three-columns-largeright .block_3 {
    width:59%;
}

#collage .collage_type_collage .three-columns-largeright .block_1 {
    width: 20%;
}

#collage .collage_type_collage .three-columns-largeright .block_2 {
  width:19%;
}

#collage .collage_type_collage .four-columns-largeright .block_1,
#collage .collage_type_collage .four-columns-largeright .block_2,
#collage .collage_type_collage .four-columns-largeright .block_3 {
  width: 19%;
}
#collage .collage_type_collage .four-columns-largeright .block_4 {
    width: 40%;
}

#collage .collage_type_collage .five-columns-largeright .block_1,
#collage .collage_type_collage .five-columns-largeright .block_2,
#collage .collage_type_collage .five-columns-largeright .block_3,
#collage .collage_type_collage .five-columns-largeright .block_4 {
  width: 18%;
}
#collage .collage_type_collage .five-columns-largeright .block_5 {
    width: 24%;
}
