[buildout]
develop = .
parts = test test-wo-zca releaser
versions = versions
unzip = true

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = hurry.resource [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']

# This is needed to test without zope.interface
# We use py.test
# We can't use zope.testing because it depends on zope.interface
# Test should be run in a clean environment with:
# bin/py.test --doctest-glob "*.txt" -v src/
[test-wo-zca]
recipe = zc.recipe.egg
eggs =
  py
  hurry.resource [test]

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
