* {
    font-family: Georgia,"Bitstream Vera Serif","New York",Palatino,serif;
    font-weight:normal;    
}

pre {
    font-family: "Courier New", Courier, monospace;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #888888;
    background: #eeeeee;
}

#package-info {
    border: 1px solid black;
    width: 100%;
}

.footer {
    font-size: 11px;
    font-style:italic;
}
#package-info td {
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}                                         

a:visited {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.message {
    font-weight: bold;
    font-size: 12px;
}

input.textType {
    width: 400px;
}

.label {
    font-weight: bold;
}

.breadcrumbs {
    font-size: 12px;
}

#metadata-Description {
    background: #dddddd;
}

p,
.literal-block {
}

.system-message {
    margin-left: 2em;
}

pre.literal-block {
    margin-left: 2em;
}

#metadata td.label {
    vertical-align: top;
}
