/* change or overwrite if necessary */
#ajBodyCover {position:absolute;top:0;left:0;width:100%;height:100%;z-index:10000} /* where */
#ajBodyCover {background:#000;-moz-opacity:0.25;filter:alpha(opacity=25);opacity:0.25;-khtml-opacity:0.25} /* style */

#ajControl {position:absolute;top:-1000px;right:0px;z-index:999999;text-align:left} /* where */
#ajControl {font-family:Arial,sans-serif;width:350px;} /* style */
#ajControl table {width:100%}

#ajControlNavi td {padding:5px 10px}
#ajControlNavi td {font-size:1.5em;font-weight:bold;color:#000;border-bottom:1px solid #000}

#ajControlBody td {padding:10px}

#ajControlInfo td {padding:5px 10px;font-size:0.9em;color:#999;background:#eee;border-top:1px solid #ddd}
#ajControlInfo a {color:#660000}

a#ajPrev, a#ajNext {color:#436976;background:#DEE7EC;text-decoration:none;margin-right:10px}
a#ajPrev.disabled, a#ajNext.disabled {color:#ccc;background:#eee;cursor:default;display:none}

#ajCloseCell {text-align:right}
#ajClose:hover {color:#999}

/*** my changes ***/
#ajControl {
	background-color: #EEE;
	border:1px solid #CCC;
	padding: 5px;
}
.lightgrey_tl {
	background: #FFF url('corner_tl.png') no-repeat left top;
}
.lightgrey_tr {
	background: transparent url('corner_tr.png') no-repeat right top;
}
.lightgrey_bl {
	background: transparent url('corner_bl.png') no-repeat left bottom;
}
.lightgrey_br {
	background: transparent url('corner_br.png') no-repeat right bottom;
}
#ajControlNavi {
	position: relative;
	height: 2em;
	padding-bottom: 0.2em;
}
#ajCloseCell {
	position: absolute;
	right: 0;
	top: 0em;
	clear: left;
}
a#ajClose,
a#ajPrev,
a#ajNext {
	width:0;
	height: 16px;
	display: block;
	padding-left:16px;
	line-height: 0;
	overflow: hidden;
	background: transparent url(lg_close.gif) no-repeat left top; 
}
a#ajClose:hover,
a#ajPrev:hover,
a#ajNext:hover {
	background-color: #FFF;
}
a#ajClose span,
a#ajPrev span,
a#ajNext span {
	margin-left:20px;
}
#ajPlayerCell {
	position: absolute;
	left: 5px;
	top: 0.3em;
}
a#ajPrev {
	background-image: url(lg_prev.gif); 
}
a#ajNext {
	background-image: url(lg_next.gif); 
}

a#ajPrev,
a#ajNext,
#ajCount {
	float: left;
}
#ajCount {
	font-size: 1.2em;
	margin:0;
	color: #004b85;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	line-height: 1em;
}
#ajCount .ajCurrPage {
	color: #000;
}
#ajControlBody {
	padding: 0.7em 1em;
}
#ajControlBody h2 {
	font-size: 1.3em;
	font-weight: bold;
	border:0;
	color: #004b85;
}
#ajControlInfo {
	clear: both;
	padding: 0.8em 0.5em 0;
	font-size: 0.85em;
	color: #333;
}
.ajSteps li {
	padding-bottom:0;
}
.ajSteps .ajDescr {
	padding-bottom: 0.4em;
	width: 88%;
	padding-right: 3%;
} 
.ajLink {
	color:#FFF;
	line-height:0;
	display: block;
	height:16px;
	font-size: 0;
	text-decoration: none;
	padding-left: 16px;
	overflow: hidden;
	text-decoration: none;
	background: #EFEFEF url(lg_go.gif) no-repeat left top;
	width:0;
}