[buildout]
index = http://pypi.python.org/simple
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools

develop = .
parts = test checker


[checker]
recipe = lovely.recipe:importchecker
path = src/s01/scrapy


[test]
recipe = zc.recipe.testrunner
eggs = s01.scrapy [test]
