/* 
Project Gutenberg EPUB docutils stylesheet.

This stylesheet contains styles specific to EPUB.
*/

/* FONTS */

.small-caps     { font-style: italic }
.gesperrt       { font-style: italic }

/* ALIGN */

/* SECTIONS */

body            { margin: 1% }

p               { margin: 0;
		  text-indent: 2em }
p.pfirst        { text-indent: 0 }

/* PAGINATION */

.frontispiece, .verso, .plainpage, .section.level-2,
.clearpage       { page-break-before: always }

.coverpage, .titlepage, 
.contents, .foreword, .preface, .introduction, .dedication, .prologue,
.epilogue, .appendix, .glossary, .bibliography, .index, .colophon,
.footnotes,
.cleardoublepage { page-break-before: right  }

.vfill           { margin: 5% 10% }
h2.title         { margin-top: 20% }

/* DIV */

.toc-pageref    { display: none }

/* DROPCAPS */

span.dropcap    { line-height: 0 }
img.dropcap     { vertical-align: bottom }

