[buildout]
parts = book.isbn test
develop = .

[book.isbn]
recipe = zc.recipe.egg
eggs = book.isbn
interpreter = py

[test]
recipe = pbp.recipe.noserunner
eggs =
    nose
    pep8
    book.isbn [test]
defaults =
    --verbosity=3
    --with-doctest
