/**********************************
 
Name: cmxform Styles
Author: Nick Rigby 
 
***********************************/

form.cmxform {
	width: 90%;
	color: #333;
	}
	
form.cmxform ul {
	border: none;
	border-top: 1px solid #C9DCA6;
	background: url("/img/assets/cmxform-fieldset.png") left bottom repeat-x;
	margin-bottom: 10px;
	padding-bottom: 1em;
	}
	
form.cmxform legend {
	padding: 0 2px;
	padding-left: 0;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
	}
	
form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	}
	
form.cmxform legend,
form.cmxform label { color: #333; }
 
form.cmxform ul.field_list li {
	margin: 0 10px 0 0;
	list-style: none;
	padding: 5px 10px 7px;
	padding: 5px;
	background: url("/img/assets/cmxform-divider.png") left bottom repeat-x;
	} 

form.cmxform ul.field_list li legend {
	padding: 0 0 5px;
	font-weight: normal;
	}
 
form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
	}
 
form.cmxform label { width: 120px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 123px; } /* Width plus 3 (html space) */

form.cmxform span.fieldhelp {font-size: 80%; font-style:italic; color: #666;}

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */
