/*
fieldset_error: class for a div containing a “global” error
field_error: class for a span containing an error from a single Field
field_req: class for a label for a required field
field_opt: class for a label for an optional field
field_readonly: class for the td of the ‘label’ for a field in a readonly FieldSet table
grid_error: class for a span containing an error from a single Field in a Grid
*/

/* Styling of tabular grid */

table.grid { font-size: 1em; width: 45em; margin: 1em 0 0 0.5em; padding: 0; }


.grid th {font-weight:bold; font-size:80%; color: #9F1C00;}
.grid tr {text-align:left; line-height: 1.5em;}
.grid tr td {padding: 0.1em 0.5em; font-size:80%;}
/*
.grid tr.odd {background-color: #eee;}
.grid tr.even {background-color: #ffe;}
*/
/* Forms styling */
label { float: left; text-align: right; margin-right: 1em; width: 10em; }
form div { margin: 0.5em; float: left; width: 100%; }
form input[type="submit"] { margin-top: 1em; margin-left: 9em; }