[buildout]
develop = .
parts = demo test coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.rest [app, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[zope3]
location = .

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.rest" file="application.zcml" />
eggs = z3c.rest [app]

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = ${database:zconfig}
  <server>
    type HTTP
    address 8080
  </server>

  <server>
    type REST-HTTP
    address 8081
  </server>

[database]
recipe = zc.recipe.filestorage
