[buildout]
extends = 
    plone4-0-1.cfg
    http://good-py.appspot.com/release/collective.xdv/1.0?plone=4.0.1

eggs +=
    collective.examples.diazo
    xdv

extensions = 
    mr.developer
    buildout.dumppickedversions
dump-picked-versions-file = picked-versions.cfg
sources = sources
auto-checkout =
    collective.examples.diazo

[versions]
xdv = 0.4b3

[sources]
collective.examples.diazo = svn https://svn.plone.org/svn/collective/collective.examples.diazo/trunk/
