[buildout]
extends = http://grok.zope.org/releaseinfo/grok-1.1a1.cfg
develop = .
parts = test omelette releaser
newest = false
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = megrok.resource [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
