# main version file for BlueBream

# The marker below gives the last version with
# significant changes in the project template:
# LAST_TEMPLATE_CHANGE = 1.0b4

[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.0a3/ztk-versions.cfg
          http://download.zope.org/zopetoolkit/index/1.0a3/zopeapp-versions.cfg


[versions]
# Pin-down versions of other dependencies here. Eg:-
z3c.testsetup = 0.8.2
martian = 0.12
z3c.evalexception = 2.0
# for python2.4
elementtree=1.2.6-20050316
