#content h2.tileHeadline a, div.tileHeadline a
{
    line-height:0px !important;
}

#portal-globalnav li:hover a:hover
{
    background-color:#fefefe !important;
    color:#3c3c3c;
}

#portal-globalnav li.selected:hover a:hover
{
    background-color:#fefefe !important;
    color:#3c3c3c;
}

#portal-top
{
    z-index:1000;
}