div#parent {
  margin: 10px;
}
div#parent > div.child {
  position: relative;
  margin: 5px;
  border: 1px solid #000;
}
div#parent > div.child:after {
  content: ".";
}
div#parent > div.child > div {
  padding: 5px;
}
div#parent > div.child > div.highlight-border {
  border: 1px solid #da120c;
}
div#parent > div.child > div.top-right-box {
  top: 1px;
  right: 1px;
}