[buildout]
extensions += mr.developer
always-checkout = force
auto-checkout =
#    menhir.contenttype.photoalbum
#    menhir.contenttype.rstdocument
#    menhir.contenttype.user
#    menhir.library.tablesorter
#    menhir.simple.livesearch
#    menhir.simple.navtree
#    menhir.skin.lightblue
#    menhir.skin.snappy
