body{
    margin: 1em;
}
#apptitle{
    font-size: 2em;
    padding: 2px;
    padding-left: 40px;
    margin: 0px;
    background-image: url(images/32x32/Recycle.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
.sectitle{
    font-size: 1.5em;
    padding: 2px;
    padding-left: 4px;
    margin: 0px;
}
#content_pane{
    padding: 1em;
}
.btn {
    margin: 2px;
    background-position: 4px 1px;
    padding-bottom: 1px;
    padding-left: 26px;
    padding-top: 2px;
    padding-right: 4px;
    border: 1px solid silver;
    cursor: hand;
    font-size: 1em;
    line-height: 15px;
    color: #333;
}
.btn:hover {
    background-color:silver;
    color: #000;
    border: 1px solid gray;
}
.iconInfo {
    background-image: url(images/16x16/Information.png);
    background-repeat: no-repeat;
}
.iconStart {
    background-image: url(images/16x16/Play.png);
    background-repeat: no-repeat;
}
.iconRefresh {
    background-image: url(images/16x16/Refresh.png);
    background-repeat: no-repeat;
}
.btn_list{    
    list-style:none;
    margin: 0;
    padding:0;
}

.grid {
    background-color:silver;
    font-size: 13px;
    border-spacing: 1px;
}
.grid th {
    color: #333;
    text-align: left;
    padding-left: 2px;
    padding-right: 2px;
}
.grid td {
    background-color:transparent;
    color: #333;
}
.odd {
    background-color:#eee;
    cursor: hand;
}
.even {
    background-color:#fff;
    cursor: hand;
}
.hilite {
    background-color:#dfd;
    cursor: hand;
}
.odd:hover, .even:hover, .hilite:hover {
    background-color:#ddf;
}
.error{
    color:red;
}
#dojoIoIframe{
    display:none;
}