[buildout]
develop = .
parts = test coverage-test coverage-report python

[test]
recipe = zc.recipe.testrunner
include-site-packages = true
eggs = z3c.setuptools_mercurial [test]

[coverage-test]
recipe = zc.recipe.testrunner
include-site-packages = true
eggs = z3c.setuptools_mercurial [test]
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport=coverage-report
arguments = ('coverage', '${buildout:directory}/coverage/report')

[python]
recipe = zc.recipe.egg
include-site-packages = true
eggs = z3c.setuptools_mercurial
interpreter = py
