div.sidebar, div.header {
    display: none;
}

div.footer {
    position: static;
}

div.wrapper {
    padding: 0px;
    border: none;
}

html, body {
    background: none;
}

body {
    margin: 0;
    width: 100%;
    min-height: 0;
    border: 0;
}

a {
    text-decoration: underline;
}

#content {
    overflow-x: visible;
    margin-top: 0.8em;
}

h1#pagelocation {
    font-size: 220%;
    margin: 0em auto auto 0em;
}

div#interwiki {
    display: none;
}
