[buildout]
parts =
    zope2
    instance
    omelette
    test
    releaser
find-links =
    http://dist.plone.org/release/3.3.4
    http://dist.plone.org/thirdparty
extends =
    http://dist.plone.org/release/3.3.4/versions.cfg
eggs =
    PILwoTk
    Plone
    collective.updatelinksoncopy[test]
develop = .
versions = versions


[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs = ${buildout:eggs}


[test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages = collective.updatelinksoncopy
extra-paths = .

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
ignore-develop = true

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
