[buildout]
extends = 
    http://dist.plone.org/release/3.3.5/versions.cfg
parts =
    zope2
    instance
    getpaid
find-links =
    http://dist.plone.org
    http://dist.plone.org/release/3.3.5
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads
unzip = true
eggs = 
    Plone
    functools # this is needed for python 2.4. In python 2.5+ it is part of the std library
versions = versions

[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
additional-fake-eggs = ZODB3
url = ${versions:zope2-url}


[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
eggs =
    ${buildout:eggs}
    ${getpaid:eggs}
    collective.subscribemember
zcml = 
    collective.subscribemember


[getpaid]
recipe = getpaid.recipe.release
addpackages =
# Add the getpaid.* packages you want here

[versions]
functools = 0.5