@charset "utf-8";
/* CSS Document */

body {
/*	background: #ECECF3;/*l(body-bg.png) top center repeat-y;*/
        background: #ECECF3 url(wrap2.png) top left repeat-y;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
        padding-left:10px;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight : bold;
}

h1 {
	font-size:24px;
	font-weight: bold;
	color: #0066A4;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color:#009DDC;
}
h3 {
	font-size: 14px;
	font-weight:bold;
	color: #0066A4;
}
#visual-portal-wrapper {
	margin: 0px auto;
	padding-right: 28px;
	text-align: left;
        background:#fff url(wrap.png) repeat-y top right;
}

/*
#portal-header {
	background: #0A4AAC url(header.png) left no-repeat;
	margin-left: 2px;
	height: 120px;
	border-bottom: solid 5px #C6CCD7;
	border-top: solid 5px #638CAF;
}
#portal-header {
	height: 70px;
	border-right: 2px #999;
	padding-left: 10px;
}*/

#logo-text {
	position: absolute;
}
#logo-slogan {
	position: absolute;
	margin-top: 42px;
}

/* Navigation Bar */


#portal-globalnav {
	width : auto;
	height : 24px;
	background : url(nav-bg.png) repeat-x;
	font : bold 12px/25px Verdana, Arial, Tahoma, Sans-serif;
	list-style : none;
	padding : 0;
}

#portal-globalnav li {
	display : inline;
}

#portal-globalnav li a {
	display : block;
	float : left;
	padding : 0 10px;
	color : #666;
	text-decoration : none;
        border:none;
}

#portal-globalnav li a:hover {
	color : #000000;
        background:inherit;
}

#portal-globalnav li.selected a {
	color : #000000;
        background:inherit;
        border:none;
}

/* Search */


#content {
	padding-left: 10px;
	padding-top: 10px;
}
#content h1 {
	margin-top : 10px;
	font : bold 110% Verdana, 'Trebuchet MS', Sans-serif;
	color : #005C82;
	padding : 5px 0 5px 5px;
	border: 1px solid #D6D3D3;
	text-align : justify;
	background: url(post-title.png) repeat-x;
}

/* Sidebar */

#portal-column-one,#portal-column-two {
	padding-right: 10px;
	padding-top: 20px;
	background : #fff;
}

.portletCalendar dt {
  background:#fff url(sidebar-title.png) repeat-x;
}

.portletHeader {
	margin-top : 0;
	padding : 5px 0 5px 5px;
	font : bold 0.9em Verdana, 'Trebuchet MS', Sans-serif;
	color : #494949;
	background: #fff url(sidebar-title.png) repeat-x;
	border: solid 1px #D6D3D3;
}


.portletItem,.portletFooter,.portlet {
  border:none;

}

.portletFooter {
        border-bottom : 1px solid #D6D3D3;
        border-top:none;
        padding : 5px;
        font-size : 95%;
        background-color : #F7F7F7;
}


/* Additional Formatting */

blockquote {
	margin : 10px;
	padding : 0 0 0 40px;
	border : 1px solid #D6D3D3;
	background : #F7F7F7 url(quote.png) no-repeat;
}
code {
	margin : 4px 8px;
	padding : 0 0 0 40px;
	text-align : left;
	display : block;
	overflow : auto;
	font : 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background : #F7F7F7 url(code.png) no-repeat;;
	border : 1px dashed #D6D3D3;
}

ul, ol {
	margin : 5px 20px;
	color : #333333;
}

ul span, ol span {
	color : #333333;
}

form {
	margin : 10px;
	padding : 10px;
	border : 1px solid #D6D3D3;
	background: #fff url(post-title.png) repeat-x;
}

#portal-searchbox form,.portletSearch form {
  margin:0px;
  padding:0px;
  border:none;
  background:inherit;
}

label {
	font-weight : bold;
	margin : 5px 0;
	color: #333333;
}

input {
	padding : 2px;
	border : 1px solid #D7C3C3;
	font : normal 1em Verdana, sans-serif;
	color : #000000;
	background : #fff url(shade.gif) top repeat-x;
	background-color : #ffffff;
}

textarea {
	width : 400px;
	padding : 2px;
	font-family : Verdana, sans-serif;
	border : 1px solid #D7C3C3;
	background-color : #ffffff;
	height : 100px;
	background : #fff url(shade.gif) top repeat-x;
	display : block;
	color : #000;
}

input.button {
	margin : 0;
	font : bolder 12px Arial, Sans-serif;
	border : 1px solid #ccc;
	padding : 2px 3px;
	background : #fff;
	color : #131212;
}

/* Images */

img {
	border : none;
}

img.float-right {
	margin : 5px 0 10px 10px;
}

img.float-left {
	margin : 5px 10px 10px 0;
}


/* Post Footer */

.documentActions {
	border-bottom : 1px solid #D6D3D3;
        border-top:none;
	padding : 5px;
	margin : 20px 10px 0 2px;
	font-size : 95%;
	background-color : #F7F7F7;
}


#portal-colophon {
	background: #3A5D7A;
	padding-top: 10px;
	border-top: solid 5px #638CAF;
	padding-bottom: 10px;
	color: #ffffff;
        margin-bottom:0px;
}
#portal-colophon a:link {
	color: #fff;
}
#portal-colophon a:visited {
	color: #fff;
}
