[buildout]
parts = 
    sphinxbuilder
    
develop = .

###########################################
# Prepare Sphinx documentation generator. #
###########################################
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/python