@charset "UTF-8";
.rum-grid { background-color:#e3e3e3;font-size:12px;font-family:verdana,sans-serif;border:none;width:100%;}
.rum-grid td, .rum-grid th {padding:1px;border:none;vertical-align: top;}
.rum-grid .action_cell { text-align:right; }
.rum-grid THEAD { text-align:left;background-color:#f0f0f0;color:#333;}
.rum-grid .heading img { float:right;margin-left:2px;margin-right:3px; } 
.rum-grid .heading a { text-decoration:none;color:#333; }
.rum-grid td a { text-decoration:none;color:#333}
.rum-grid .odd{background-color:#edf3fe}
.rum-grid .even{background-color:#fff}
.rum-grid .pointer {cursor:pointer}
.rum-grid tr:hover {
    background-color:#F8F1C4;
}
a.rum-grid-action { padding: 0 3px; }
a.rum-grid-action:hover { background: none; }
span.rum-grid-action{white-space:nowrap;}
th.rum-data-grid-asc{
    background: url(grid_sort_up.gif) 2px no-repeat #9F9;
    padding-left: 13px;
}
th.rum-data-grid-desc{
    background: url(grid_sort_down.gif) 2px no-repeat #F90;
    padding-left: 13px;
}
.rum-grid td.number_field {
    text-align:right;
}
.hidden-column{
    display:none;
}
