[buildout]
develop = .
          externals/z3c.recipe.i18n

parts = i18n


[i18n]
recipe = z3c.recipe.i18n:i18n
eggs = zam.locales [extract]
packages = zam.api
           zam.skin
           zamplugin.contents
           zamplugin.control
           zamplugin.error
           zamplugin.navigation
           zamplugin.sampledata
           zamplugin.sitemanager
domain = zam
output = src/zam/locales
zcml = <include package="zam.locales" file="extract.zcml" />
