[buildout]
develop = .
parts = test scripts
versions = versions

[versions]
setuptools=0.6c9


[test]
recipe = zc.recipe.testrunner
working-directory = ${buildout:directory}/src/lovely/gae/testing
defaults = ['--auto-color', '-s', 'lovely.gae']
initialization = from lovely.gae.environment import setUp
                 setUp('${buildout:directory}/src/lovely/gae/testing')
eggs = lovely.gae [test]

[scripts]
initialization = from lovely.gae.environment import setUp
                 setUp()
recipe = zc.recipe.egg:script
eggs = lovely.gae
