@import url(layout.css);
@import url(presentation.css);
@import url(colour.css);
@import url(mimicon.css);
html {  margin: 0.5em;}
body 
    {font-family: "Helvetica", "Trebuchet MS" sans-serif; width:62em;}

#logo
    { margin-top: 1em; height: 9em; width: 62em; font-size: 1em; color: #aaa; }
#logo
    { background: #fff url(/img/assets/legend.jpg) 0 0 no-repeat;}

ul#skipnav
    { margin: 0; padding: 0; position: absolute; left: 3%; top: 0; list-style-type: none; font-size: 80%; width: 90%; }
ul#skipnav li 
    { display: inline; }
ul#skipnav li a
    { margin: 0 1em 0 0; padding: 0; text-decoration: none; }

#srchbox { float: right; width: 13.5em; margin-right: 1em; }
#srchbox fieldset {border-color: #E3BE89;}
#srchbox legend {margin: 0.5em 0.15em; padding: 0.5em 0.15em; font-size:80%;}
#srchbox legend span {color: rgb(3%, 34%, 0%); font-size: 100%; }
#srchbox input {font-size: 1em; background-color: #fcfbc7; line-height: 120%; margin: -0.2em 0.15em 0.5em 0.15em;}

#headerblock 
    { float: left; padding-left: 1em; display: inline; padding-bottom: 1em; width:95%; }
#headerblock
    {  font-size: 90%; }
#headerblock ul
    { margin: 0.5em 0 0 0; padding: 0; list-style: none; }
#headerblock li
    { float: left; width: 7.33em; margin: 0 5px 0 0; padding: 0; }
#headerblock li
    { background: rgb(80%, 91%, 77%); border: 1px solid #c8c8d8; text-align: center; }
#headerblock li a
    { text-decoration: none; display: block; font-weight: bold;  padding-top: 0.15em; }
#headerblock li a:link, 
    #headerblock li a:visited 
    { color: #666; color: rgb(5%, 25%, 21%);}
#headerblock li a:hover, 
    #headerblock li a:active 
    { background-color: rgb(84%, 73%, 34%) }

#subheaderblock 
    { float: left; padding-left: 1em; display: inline; padding-bottom: 1em; width:95%; }
#subheaderblock
    {  font-size: 90%; }
#subheaderblock ul
    { margin: 0; margin-top: -0.75em; padding: 0; list-style: none; }
#subheaderblock li
    { float: left; width: 8em; margin: 0 5px 0 0; padding: 0; }
#subheaderblock li
    { background: #eee8e8; border: 1px solid #c8c8d8; text-align: center; }
#subheaderblock li a
    { text-decoration: none; display: block; font-weight: bold; padding-top: 0.15em; }
#subheaderblock li a:link, 
    #subheaderblock li a:visited 
    { color: #666; color: #558; }
#subheaderblock li a:hover, 
    #subheaderblock li a:active 
    { background-color: #edd; }

#main
    { float: left; background: #fff; margin-right: 1em;  min-width: 45em;}

/* --- Main content area styles --- */
.main-content 
    { margin-top: 0.5em; width: 100%; }

#content
    { margin: 0 0 2em 3%; padding: 0 4%; border-left: 1px solid #9ac; min-height:16em; width: 90%; }

#content h1
    { margin-top: -0.25em; padding: 0;}

#content h3 
    { border-bottom: 1px solid #ccc;}

#content p { line-height: 155%; margin: 0 1em 1.25em 1em;}
#content p a { text-decoration: underline; text-decoration: none; border-bottom: 2px dotted #aaa;}
#content p a:hover { text-decoration: underline; text-decoration: none; border-bottom: 2px solid red; }
#content p a:link { color: #2d3b7e;}
#content p a:visited { color: #9F1C00; }
#content p a:hover, a:active { }


/* --- Left/Right column styles --- */
#homepage #navarea h2 { font-size: 120%; }

#navarea h2 { margin: 0.5em 0; }

#navarea ul ul
    { margin: 0; padding: 0; list-style-type: none; }

#navarea, #accessibility 
    { font-size: 98%; line-height: 130%; }
#navarea ul, #accessibility ul
    { margin: 8px 0 1em 0; padding: 0; list-style-type: none; }
#navarea li, #accessibility li
    /* { background: url(/img/bullet.gif) 0 0.15em no-repeat; padding-left: 20px; } */
    { margin-top: 0.5em; background: url(/img/assets/link_go.png) 0 0 no-repeat; padding-left: 20px; padding-top: 2px;}

#navarea 
    { margin: 0 0 2em 1em; }
#navarea h3
    { font-size: 110%; border-bottom: 1px solid #bbb; }
#navarea p 
    { margin: 0 0 0 -1em; color: #111; font-size: 0.95em; line-height: 140%; }
#navarea a { font-size: 0.95em;}
#navarea a:link { color: #6C6A00; color: #2d3b7e;}
#navarea a:visited { color: #9F1C00; }
#navarea a:hover, a:active { color: #fff; background-color: #9F1C00; background-color: #2d3b7e; }

/* --- right-column styles --- */
#accessibility 
    { margin: 0 0 2em 3%; }
#accessibility dl
    { margin: 0 0 1em 0; padding-left: 0; }
#accessibility dt 
    { margin-top: 10px; }
#accessibility dd
    { margin: 0; background: url(/img/assets/bullet.png) 0 .4em no-repeat; padding-left: 12px; }

/* --- footer styles --- */
#footer a:link, ul#skipnav a:link 
    { color: #666666; }
#footer a:visited,ul#skipnav a:visited 
    { color: #666666; }
#footer a:hover, 
    #footer a:active, 
    ul#skipnav a:hover, 
    ul#skipnav a:active
    { color: #fff; background-color: #666666; }
#footer ul
    { clear: both; border-top: 1px solid #ccc; margin: 0 auto; padding: 5px 0; }
#footer ul
    { font-size: 90%; height: 30px; background: url(/img/assets/footer.jpg) repeat-x 0 0; }
#footer li
    { display: inline; list-style-type: none; margin: 0 .5em 0 1em; }

p#credits {text-align: center; padding-top: 0.25em;}

h1, h2
    { font-weight: normal; line-height: normal; }
h1, h2
    { color: rgb(3%, 34%, 0%);}

h3, h4 { color: #9F1C00; }
h1 { font-size: 170%; }
h2 { font-size: 140%; }
h3 { font-size: 115%; }
h4 { font-size: 100%; }

i {font-style: italic;}

span.bad {color: red; font-style: italic; font-size:90%;}

code { font-size: 110%; }
div.highlight { background-color: #fff;}
pre { margin: 0.5em 1em; padding: 1em; border: 1px solid #bbf; font-family: monospace; line-height: 1.33em; }
#pageLogin { font-size: 10px; font-family: verdana; text-align: right; margin-right: 2em; }

p.fixme { color: #f0f; margin: 1em; padding: 1em; font-size: 0.8em; border: 1px solid #dee;}


/* Thickbox popup styling */

div#popup {margin:0.5em;}
div#popupcontent {margin:1em; padding: 0.5em; background-color: #ddf;}
span#popuplegend {font-size:130%; font-weight: bold; color: red;}

/* Flash Status message styling */ 
#flash { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 1000; background-color: #569; color: white; border-bottom: 1px solid #555; }
#flash, #flash * { cursor: pointer; }
#flash .yui-b { padding: 5px 0; }
#flash .yui-b>* { font-size: 128%; }
#flash label { display: block; text-align: right; font-weight: bold; text-transform: capitalize; }
#flash label:after { content: ':'; }
#flash.subtle { background-color: #444; color: white; }
#flash.subtle:hover { background-color: #222; }
#flash.warning { background-color: #ff0; color: black; }
#flash.warning:hover { background-color: #ff8; }
#flash.success { background-color: #595; }
#flash.success:hover { background-color: #7b7; }
#flash.failure, #flash.error { background-color: #800; }
#flash.failure:hover, #flash.error:hover { background-color: #a00; }
#flash.subtle, #flash.success, #flash.failure, #flash.error { text-shadow: black 2px 2px 2px; }

#wdg_html_errors { background-color: #ffd; border: 1px solid #000; width:70%; margin: auto; }
#wdg_html_errors pre { border: none; color: #600; font-size: 80%; }
table.twgrid { width: 42em; margin-top: 1.66em; font-size:1em; }
.twgrid th { font-weight: bold; color: #9F1C00; }
img#pylons { float:right; margin-bottom:-0.5em; height:20px; padding-right:1em; }