# main version file for BlueBream

[buildout]
extends = http://download.zope.org/zopetoolkit/index/1.0a2/ztk-versions.cfg
          http://download.zope.org/zopetoolkit/index/1.0a2/zopeapp-versions.cfg


[versions]
# Pin-down versions of other dependencies here. Eg:-
# z3c.form = 2.3.2
# z3c.formui = 2.2.0
elementtree = 1.2.6-20050316
zope.app.xmlrpcintrospection = 3.5.1
z3c.testsetup = 0.6.1
zc.table = 0.8.0
#zc.queue = 1.1
#lovely.remotetask = 0.5

# Dependencies:
ClientForm = 0.2.10
martian = 0.12

