[buildout]
develop = . 
parts = openldap python-ldap
        test
        releaser
versions = versions

# versions section can be removed
[versions]

[test]
recipe = zc.recipe.testrunner
eggs = ldappas [test]

[openldap]
recipe = zc.recipe.cmmi
url = http://www.openldap.org/software/download/OpenLDAP/openldap-release/openldap-2.4.23.tgz 
extra_options= --disable-slapd --disable-backends 

[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs = ${buildout:directory}/parts/openldap/include
               /sw/include/sasl
library-dirs = ${buildout:directory}/parts/openldap/lib
rpath = ${buildout:directory}/parts/openldap/lib

[releaser]
recipe = z3c.recipe.scripts
eggs = zest.releaser
