[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = collective.contentrules.mailtolocalrole

eggs-directory = /Users/fred/cache-buildout/plone4/eggs
download-cache = /Users/fred/cache-buildout/plone4/downloads
