[buildout]
parts = test
develop = .
versions = versions
extends = http://download.zope.org/zopetoolkit/index/1.0a2/ztk-versions.cfg

[versions]
zc.recipe.testrunner =

[test]
recipe = zc.recipe.testrunner
eggs = zc.recipe.testrunner
