[buildout]
extensions = buildout.dumppickedversions
dump-picked-versions-file = versions-picked.cfg
eggs = collective.siteisolation
parts =
    zope2
    instance
    test
    coverage-test
    coverage-report
    docs
    omelette
    command

extends = http://dist.plone.org/release/3.3.5/versions.cfg

find-links +=
    http://dist.plone.org/release/3.3.5/
    http://pypi.python.org/simple/
    http://packages.affinitic.be/simple

develop = .
unzip = true
versions = versions

[zope2]
recipe = plone.recipe.zope2install
url = ${versions:zope2-url}
fake-zope-eggs = true
additional-fake-eggs =
    ZConfig
    ZODB3
    pytz

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 13080
debug-mode = on
verbose-security = off
environment-vars =
  TZ Europe/Brussels
  PTS_LANGUAGES en nl

eggs =
    ${buildout:eggs}
    PIL
    Plone
    elementtree

zcml =
    collective.siteisolation

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products =
packages = ${zope2:location}/lib/python ./

[test]
recipe = zc.recipe.testrunner
eggs = collective.siteisolation [test]
extra-paths = ${zope2:location}/lib/python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = collective.siteisolation [test]
defaults = ['--coverage', '${buildout:directory}/coverage']
extra-paths = ${zope2:location}/lib/python

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
arguments = ('coverage', 'coverage/report')

[command]
recipe = collective.recipe.cmd
on_install = true
on_update = true
cmds =
    ${buildout:directory}/bin/docs
    ${buildout:directory}/bin/coverage-test
    ${buildout:directory}/bin/coveragereport

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = collective.siteisolation [docs]
build-dir = ${buildout:directory}/docs
default.css = ${buildout:directory}/docs/layout.css
layout.html = ${buildout:directory}/docs/layout.html
extensions = sphinx.ext.autodoc
             collective.sphinx.includedoc
             collective.sphinx.includechangelog
