# This file contains the credentials of users allowed to
# access to the PyGall photo gallery.
# Currently pygall contains only one group: 'admin'.
# The format of each line should look like:
# 'username:password[:group]'
administrator:xGTJeDo9pPVvM:admin
user:vCzX.LyFC5Hqo
