@import url('showcase.css');

.showcasebox {
    background-color: #dadada;
}

.showcasebox .wrapper .img {
    cursor: move;
}


.showcasebox #editablelayer .cutsize {
    position: absolute;
    background-color: red;
}

.showcasebox .contextmenu {
    border: 1px solid #808080;
    background-color: #ffffff;
    z-index: 100000010;
}

.showcasebox .contextmenu ul {
    margin: 0;
    list-style: square;
}

.showcasebox .contextmenu ul li {
    color: #808080;
    padding: 0 5px;
    display: block;
}

.showcasebox .contextmenu ul li:hover {
    background-color: #808080;
    color: #ffffff;
    cursor:pointer;cursor:hand;
}

.showcasebox .editablelayer {
    position: absolute;
}

.showcasebox .editablelayer.side {
    width:1px;
    height:1px;
    background-color: #e44040;
    z-index: 100000001;
}

.showcasebox .editablelayer.corner {
    width:13px;
    height:13px;
    background-color: #e44040;
    z-index: 100000002;
}

.showcasebox #nw-editablelayer {
    cursor: nw-resize;
}
.showcasebox #ne-editablelayer {
    cursor: ne-resize;
}
.showcasebox #sw-editablelayer {
    cursor: sw-resize;
}
.showcasebox #se-editablelayer {
    cursor: se-resize;
}