
html, body {
	font: normal 8pt verdana, arial, helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

form {
    font: normal 8pt verdana, arial, helvetica, sans-serif;
    text-align: left;
}

h4 {
    font-size: 10pt;
    margin: 1.1em 0px 0.3em;	
    border-bottom: 1px dotted #369;
    width: 250px;
    text-align: left;
}

.link {
    color: #369;
    font: normal 8pt verdana, arial, helvetica, sans-serif;
    text-decoration: underline;
}

.index_link_selected {
    color: #000;
    font: bold 8pt verdana, arial, helvetica, sans-serif;
    text-decoration: none;
}

.textinput {
	border: 1px solid #333333;
	margin-bottom: 0.5em;
	margin-right: 0.2em;
    font: normal 8pt verdana, arial, helvetica, sans-serif;
}

.submitinput {
	border: 1px solid #333333;
	margin-bottom: 0.5em;
    font: normal 8pt verdana, arial, helvetica, sans-serif;
}

#status {
    max-width: 350px;
//    float: left;
}

#status tr {
    padding: 0px;
//    margin: 0px auto;
//    border-width: 1px;
//    border-color: #000;
}

#status td {
//    padding: 5px;
//    margin: 0px auto;
//    border-width: 0px;
    text-align: left;
}

#status caption { 
    font-size: 9pt;
//    margin: 1.1em 0px 0.3em;	
    border-bottom: 1px dotted #369;
    width: 250px;
    caption-side: top;
    text-align: left;
}

#results th { 
    font-size: 9pt;
//    margin: 1.1em 0px 0.3em;
//    padding: 5px;
    border-bottom: 1px dotted #369;
//    width: 150px;
    caption-side: top;
    text-align: left;
}

#results tr {
    padding: 0px;
    margin: 0px auto;
    border-width: 0px;
}

#results td {
    padding: 5px;
    margin: 0px auto;
    border-width: 0px;    
}

#results tr.odd {
    background-color: #def;
}

#results tr.even {
    background-color: #fff;
}

#results table {
    border-width: 0px;
    border-spacing: 0px;
}

#container {
    position: absolute;
	width: 900px;
//	min-height: 100%;
//    height: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 10px;   
}

#queryform {
    width: 510px; 
//    height: 400px;
    float: left;
    margin: 0px 10px auto;
    padding: 0px auto;
//	padding: 10px 10px;
//    margin: 10px 10px 10px 10px;
}

#query_results {
    text-align: left;
    width: 100%;
//    border-top: 1px solid #369;
//    border-bottom: 1px solid #369;    
//	padding: 10px 5px 5px 5px;
//    margin: 10px 5px 5px 5px;
    padding: 10px 10px;
    margin: 10px auto;
    float: left;
    font: normal 9pt verdana, arial, helvetica, sans-serif;
    background: #fff;
}

#header {
    width: 100%;
    background: #369;
    overflow: hidden;
    color: #fff;
}

#header h1 {
    font: bold 250% verdana, arial, sans-serif;
    margin: 0px;
    letter-spacing: -1px;
    padding: 0px 10px;
    float: left;
}

#header p {
    float: right;
    padding: 0px 10px;
}

#header a {
    color: #fff;
}

#footer {
    position: absolute;
    font: normal 9pt verdana, arial, sans-serif;
    color: #fff;
    width: 100%;
    background: #369;
    overflow: hidden;
    bottom: 0px;
}

#footer p {
    padding: 0px 10px;
}

#footer a {
    color: #fff;
}
