* {
	margin: 0;
	padding: 0;
	font-weight: 0;
}

li {
    list-style:none;
}

body {
    font-size:0.8em;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

a {
    text-decoration:none;
    color: #00C;
}



#header {
    background:#FFF;
    padding:0.5em 1em 0.5em 1em;
    color:#000;
}

#header h1{
    font-size:1.5em;
}

#categories {
    background:#DDD;
    display:block;
    width:100%;
    overflow:auto;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
}

#categories li a{
    float:left;
    border-right:1px solid #999;
    height:auto;
    padding:0.5em 1em 0.5em 1em;
}

#categories li a:hover{
    background:#EEE;
}

.category_selected{
    background:#FFF;
    border-bottom:1px solid #999;
}

#callables tr {
/*    border-bottom:1px solid #CCC; */
}


.callable_title{
    width:30em;
}
.docstring {
    width:30em;
}

.subtle{
    font-size:0.5em;
    color:#888;
}

h2 {
    font-size:1.3em;
    border-bottom:1px solid #AAA;
    margin-top:0.6em;
    margin-bottom:0.5em;
}

#content {
    margin-bottom:1em;
    padding:0em 0.5em 0 0.5em;
}

table {
    border-collapse:collapse;
    width:100%;
}

thead {
    font-weight: bold;
}
td {
    padding-left:0.2em;
    padding-bottom:0.5em;
    padding-top:0.5em;
    padding-right:2em;
}



dl {
    padding: 0.1em;
    line-height:1em;
    overflow:auto;
} 

dt {
    float: left;
    clear: left;
    width: auto;
    font-weight: bold;
    height:1.6em;
    width:16em;
} 

dt:after {
    content: ":";
}

dd {
    margin: 0 0 0 0;
    padding: 0 0 0.5em 0;
    float:left;
}


.valid_permission {
    font-weight:bold;
    color:#080;
}

.invalid_permission {
    color:#800;
    font-weight:bold;
}


.role {
    text-align:center;
}

.odd {
    background:#F2F2F2;
}

/* Some reset love, courtesy of yahoo */
/*
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-size:10px;
}


/*Container*/
/*
body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#222;
	color: #050505;	
	background-color: #CCC;
	padding-bottom:20px;
}


div {
    background-color: #FFF;
}

.section {

    padding:1em;
    overflow:auto;

}






#header {
	overflow:hidden;
	margin:0px auto 0px auto;
	background-color: #FFF;
	border-bottom: 3px solid #DDD;
	border-top:none;
	float:none;
    padding:5px;	
}

#header h1{
    font-size:20px;
    float:left;
    font-weight:100;
}






dt { 
	float: left;
	font-weight:bold;
}




table {
    border-collapse:collapse;
    border-spacing:0;
}

thead{
    font-weight:bold;
}

td{
    font-size:10px;
}

.odd {
    background:FFF;
}

.even {
    background:#F4F4F4;
}

/*
li {
    list-style:none;
    display:block;
}*/
