[buildout]
extends = http://svn.plone.org/svn/plone/buildouts/plone-coredev/branches/4.1/buildout.cfg
auto-checkout +=
   collective.testswarm
eggs += collective.testswarm

[sources]
collective.testswarm = svn https://svn.plone.org/svn/collective/collective.testswarm/trunk

[test]
environment = testswarm-instance
eggs = collective.testswarm [test]

[testswarm-instance]
ts_url = http://testswarm
ts_user = tsuser
ts_auth = #select auth from users where name = "tsuser";
ts_job_name = Test collective.testswarm
ts_urls = http://localhost:55555/plone/example-qunit-suite
ts_suites = QUnit example
ts_browsers = popularbeta
ts_max_jobs = 1

#ZSERVER_HOST = 55555
#ZSERVER_PORT = localhost
