body.foreignkey {
    font-size: 12px;
}

div.relatedgenericwidget {
    float: left;
    margin-left: 2em;
}

div.relatedgenericwidget a {
    font-size: 12px;
    font-weight: bold;
}

select.genericforeignkey {
    float: left;
}

span.remove_current {
    display: none;
    margin: 0px 1em;
}

span.remove_current img {
    cursor: pointer;
}

div.obj_id.hidden {
    display: none;
}

div.relatedgenericwidget a.content_type.hidden,
div.relatedgenericwidget span.selected_content.hidden {
    display: none;
}

table {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

table th {
    text-align: left;
    color: white;
    padding: 0.5em;
    background: transparent url(../../admin/img/admin/default-bg.gif) repeat-x left top;
}

table tr td {
    padding: 0.3em 0.5em;
}

table tr.even td {
    background: #F2F2F2;
}

table tr td a {
    text-decoration: none;
}

/* pagination */
.foreignkey .pagination {
    text-align: center;
    margin: 1em 0 1em 25%;
    float: left;
}

.foreignkey .pagination a,
.foreignkey .pagination span {
    float: left;
    height: 18px;
    line-height: 16px;
    display: block;
    margin-right: 5px;
    text-decoration: none;
}

.foreignkey .pagination a.page,
.foreignkey .pagination span.current {
    width: 19px;
    text-align: center;
}

.foreignkey .pagination a.page {
    color: #a0b8d8;
    background: transparent url(../img/page.jpg) no-repeat left top;
}

.foreignkey .pagination span.current {
    color: white;
    background: transparent url(../img/current_page.jpg) no-repeat left top;
}

.foreignkey .pagination .prev {
    width: 90px;
    background: transparent url(../img/prev_page.jpg) no-repeat left top;
}

.foreignkey .pagination .next {
    width: 90px;
    background: transparent url(../img/next_page.jpg) no-repeat left top;
}