/* Basic layout */

.title {
    text-align: center;
    margin-bottom: 1em;
}

.title h1 { font-weight: normal; margin-bottom: 0; }

.description {}

.postblock {
    background:#EEAA88;
    color:#800000;
    font-weight:800;
    padding-left: 3pt;
    padding-right: 3pt;
}

.post .message, .post .attach, .post .pingbacks { display: block; }
.post .attach, .gui, .pingbacks { float: left; font-size: 80%; }
.attach img {display: block;}

.post { min-width: 120px; }

.akane, .kasumi { font-weight: bold }

.postnumber a { text-decoration: none;  }

.threadGo { margin-left: 0.5em; }

.footer {
    font-size: 10pt;
    text-align: center;
}

.attaches { float:left; margin-right: 12pt; }

.attach { margin: 4pt; }

.message, .attaches, .pingbacks { margin-left: 1.5em; }
.message { margin-right: 1.5em; }

.pingbacks { margin-top: 1em; }

.canvas {
    background: #ccc;
	padding: 0.5em; 
}

.gui
{
    width: 280px;
    left: 0px !important;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    cursor: default;
}

/* Colors */

html, body { background:#ffe; color:#800000; }

a { color: #00e; }
a:hover, .postnumber a:hover { color:#d00; }

td.post { background:#F0E0D6; color:#800000; }

.omitted { color: gray }

.akane { color: #060 }

.kasumi { color: #a00 }

.spoiler {
    -webkit-transition: color .1s;
    background: #2c2c2c;
    color: #2c2c2c;
}

.post blockquote {
    margin: 0; 
    padding: 0;
    color: #789922;
}

.postnumber a { color: #800000;  }

.spoiler:hover {
    color: white;
}

.traceback {
    background:#ec9;
    board-top: solid 1px grey;
    board-bottom: solid 1px grey;
    margin-left: 3em;
    margin-right: 3em;
}