/* ===== Fixes for IE =====*/

#searchGadget, #nolivesearchGadget
{
    padding: 7px 0 0 5px;
    height: 23px;
}

#portal-globalnav li a {
    padding-right:55px;   
}

#FooterPortletManager .portlet
{
    width: auto;
    max-width: 220px;
    margin:0 30px
}

input.searchPage[type="submit"] {
    color:transparent;
    font-size:0px !important;
}