[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
    http://good-py.appspot.com/release/plone.app.registry/1.0b2
package-name = collective.imagetags
extensions = buildout-versions

[versions]
collective.js.jqueryui = 1.8.12.2