# Configuration file for maze structures of the Maze2d environment.
# A * indicates a wall, an S the start position of the agent
# and a G the goal position. A blank indicates a free cell, a 'O'
# an open door that might be closed after some time. An 'C' denotes
# a closed door that might be opened after some time.

*************
*   *   *   *
*           *
*   *   *   *
** *******C**
*   *   *   *
* S O     G *
*   *   *   *
*************
