# Configuration file for maze structures of the Maze2d environment.
# A * indicates a wall, an S the start position of the agent
# and a G the goal position. A blank indicates a free cell, and
# a "D" a door state that might change its traversability from time 
# to time.

*************************
*           *           *
*           *           *
*           *           *
*           *           *
*           *           *
*     S                 *
*           *           *
*           *           *
*           *           *
*           *           *
*           *           *
****** *********** ******
*           *           *
*           *           *
*           *           *
*           *           *
*           *           * 
*                 G     *
*           *           *
*           *           *
*           *           *
*           *           *
*           *           *
*************************
