body {
	font: 400 62.5%/1 Verdana,sans-serif;
	min-width: 960px;
	padding: 0;
	margin: 0;
}

h1.header {
	font: normal 400 2.8em/2.5em;
	background-color: #210F7A;
	color: #FFFFFF;
	padding-left: 25px;
	margin-top: 40px;
	line-height: 2;
	height: 2;
}

.main {
	margin: 0 25px 2em;
	padding: 1px 0;
}

.info, .errors, .success {
	clear: both;
	font-size: 12px;
	line-height: 1.5;
	margin: 18px 0;
	padding: 20px 20px 20px 100px;
}

.success {
	background: url("images/confirm.gif") no-repeat scroll 20px 18px #DDFFAA;
	border: 1px dotted #339900;
	color: #339900;
}

.errors {
	background:url("images/error.gif") no-repeat scroll 20px 18px #FFEEDD;
	border: 1px dotted #D21033;
	color: #D21033;
}

.success h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	margin: 0 18px 0 0;
	padding: 0;
}

.footer {
	border-top: 1px solid #CCCCCC;
	color: #999999;
	margin: 0 25px 1em;
	padding: 0 0 1px;
}