[buildout]
develop = .
extends = versions.cfg
parts = test
allow-picked-versions = false

[test]
recipe = zc.recipe.testrunner
eggs = gocept.lms

[tags]
recipe = z3c.recipe.tag:tags
eggs = gocept.lms
