[buildout]
extends = grok-1.0a1.cfg
versions = versions

[versions]
# Override versions from grok
decorator = 3.0.1
gocept.ctl = 0.9.1
gocept.recipe.deploymentsandbox = 0.1.1
gocept.reference = 0.4
gocept.runner = 0.3.2
grok = 1.0a1
hurry.query = 0.9.2
lovely.recipe = 0.3.1b5
setuptools = 0.6c9
transaction = 1.0a1
z3c.recipe.eggbasket = 0.3.1
z3c.recipe.tag = 0.2.0
z3c.schema = 0.6.0
zc.buildout = 1.2.1
zc.queue = 1.1
zc.recipe.egg = 1.2.2
zc.recipe.filestorage = 1.0.1
zc.recipe.testrunner = 1.2.0
zc.relation = 1.0
zc.sourcefactory = 0.4.0
zc.zdaemonrecipe = 0.2
zc.zodbrecipes = 0.4.0
zc.zope3recipes = 0.8.0
zope.app.generations = 3.5.0
zope.browser = 0.5.0
zope.sendmail = 3.5.1
zope.testing = 3.7.4
