[buildout]
extends =
   http://download.zope.org/zopetoolkit/index/1.0/ztk-versions.cfg
   http://download.zope.org/zopetoolkit/index/1.0/zopeapp-versions.cfg
develop = .
parts = test coverage demo
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = z3c.securitytool [demo, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage


[demo]
recipe = zc.zope3recipes:instance
application = z3c-securitytool
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[z3c-securitytool]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.securitytool" file="site.zcml"/>
eggs = z3c.securitytool [demo]


[zope3]
location = .
