/*= Core CSS progress bar code */
.progressbar {
    width: 200px;
    background: url(../images/progressbar.png) no-repeat -10px -40px;
	border-width: 0 1px 0 1px;
	border-style: solid;
	border-color: #aaa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
}
#sidebar .progressbar {
    margin: 0 10px;
}
.progressbar.mini {
	width: 100px;
}
.progressbar-completed {
    height: 20px;
    margin-left: -2px;
	padding-left: 2px;
    background: url(../images/progressbar.png) no-repeat 1px 0;
}
.progressbar-completed div {
    float: right;
    width: 50%;
    height: 20px;
	line-height:20px;
    margin-right: -1px;
    background: url(../images/progressbar.png) no-repeat 100% 0;
    display: inline; /* IE 6 double float bug */
}
#sidebar .progressbar-completed p,
.progressbar-completed p {
	color: #000;
	margin:0;
	padding:0;
	
	position:absolute;
	text-align:center;
	line-height:20px;
	vertical-align:middle;
	
	width:100%;
}
