[buildout]
develop = .
parts = test eggs

[eggs]
recipe = zc.recipe.egg
eggs =
    plone.recipe.osxcontroller
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
    plone.recipe.osxcontroller
defaults = ['-s', 'plone.recipe.osxcontroller']


