[buildout]
develop = .
parts = test
find-links = http://download.zope.org/distribution

[test]
recipe = zc.recipe.testrunner
eggs = gocept.paypal
environment = testenv

[testenv]
# Edit these to your API Credentials
pp_api_username =
pp_api_password =
pp_api_signature =
pp_api_version = 3.0

# Sandbox URLs, not production
pp_api_endpoint = https://api-3t.sandbox.paypal.com/nvp
pp_api_url = https://www.sandbox.paypal.com/webscr&cmd=_express-checkout&token=
pp_api_callback_url = http://localhost/response
pp_api_callback_cancel_url = http://localhost/cancel

# Edit this to your currency (EUR, GBP, USD,...)
pp_currency = USD

# Edit these to your paypal developer login
pp_dev_username =
pp_dev_password =

# Edit these to your paypal buyer login and credit card info
pp_buyer_username =
pp_buyer_password =
pp_buyer_cc_number =
pp_buyer_cc_expdate =
pp_buyer_cc_type =
