
/* Normal Bubble */
div.bubble {
	width: auto;
	margin-bottom: 24px;
}

div.bubble blockquote {
	margin: 0px;
	padding: 0px;
	border: 1px solid #c9c2c1;
	background-color: #fff;
}

div.bubble blockquote p {
	margin: 10px;
	padding: 0px;
}

div.bubble cite {
	position: relative;
	margin: 0px;
	padding: 7px 0px 0px 15px;
	top: 6px;
	background: transparent url(../images/tip.gif) no-repeat 20px 0;
	font-style: normal;
}

/* Rounded Bubble */
div.bubble div.rounded {
	/*margin-bottom: 10px;*/
	border: 3px solid #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
div.bubble .message_type {
    float: right;
    color: #fff;
    padding: 0 5px;
    font-weight: normal;
    opacity: .7;
}
div.bubble:hover .message_type {
    opacity: 1;
}
div.bubble div.success {
    background-color: #D6F2BB;
}
div.bubble div.info {
	background-color: #b7e0ff;
}
div.bubble div.warning {
    background-color: #FCD08D;
}

div.bubble div.error {
    background-color: #FF8F8F;
}
div.bubble div.failure {
    background-color: #ef2929;
    font-weight: bold;
    color: #fff;
}
div.bubble div.rounded blockquote {
	border: 0;
	background-color: transparent;
}
div.bubble div.rounded blockquote p {
	margin: 10px;
}
div.bubble cite.rounded {
	position: relative;
	margin: 0px;
	padding-left: 15px;
	padding-top: 12px;
	top: 9px;
}
div.bubble cite.success {
	background: transparent url(../images/tip-rounded-success.gif) no-repeat 15px 0;
}
div.bubble cite.info {
	background: transparent url(../images/tip-rounded-info.gif) no-repeat 15px 0;
}
div.bubble cite.warning {
	background: transparent url(../images/tip-rounded-warning.gif) no-repeat 15px 0;
}
div.bubble cite.error {
	background: transparent url(../images/tip-rounded-error.gif) no-repeat 15px 0;
}
div.bubble cite.failure {
	background: transparent url(../images/tip-rounded-failure.gif) no-repeat 15px 0;
}

/* Pimped Bubble */
div.pimped.bubble {
	font-size: 0.9em;
}
div.pimped.bubble div.rounded {
	color: #fff;
	border: 3px solid #fff;
	background-color: #111;
}
div.pimped.bubble cite.rounded {
	background: transparent url(../images/tip-pimped.gif) no-repeat 15px 0;
}
