body {
	overflow: hidden;
}

div.WireIt-Container {
	width: 200px; /* Prevent the modules from scratching on the right */
	/*height: 100px;*/
}

div.WireIt-Container div.inputEx-Group div.inputEx-label{
	width: auto;
}

div.inputEx-TypeField-PropertiesPanel {
	z-index: 7;
}

#left {
	height: 200px;
	overflow: auto;
}

/* Comment Module */
div.WireIt-Container.WiringEditor-module-comment { width: 200px; }
div.WireIt-Container.WiringEditor-module-comment div.body { background-color: #EEEE66; }
div.WireIt-Container.WiringEditor-module-comment div.body textarea { background-color: transparent; font-weight: bold; border: 0; }


div.WireIt-Container {
	width: 300px;
}

div.WireIt-Container div.body {
	height: 180px;
}

div.WireIt-Container.WiringEditor-module-AdapterCode div.body,
div.WireIt-Container.WiringEditor-module-ProducerCode div.body,
div.WireIt-Container.WiringEditor-module-ConsumerCode div.body {
	height: 200px;
}

div.WireIt-Container div.body .inputEx-Field {
	float: none;
	text-align: right;
}

div.WireIt-Container div.body .inputEx-StringField-wrapper textarea {
	width: 100%;
}

div.WireIt-Container div.body>div.inputEx-Group>fieldset {
	height: 100%;
}

div.WireIt-Container div.body .inputEx-Field textarea {
	width: 100% !important;
	height: 90%;
}

div.WireIt-Container div.body .inputEx-Field input {
	width: auto;	
}

div.WireIt-Container .CodeMirror-line-numbers {
	margin-top: 0.4em;
	line-height: 1.1em;
}

/* Composed Module */
div.ComposedModule { background-color: #DDDDAA; }

div.inputEx-ListField-childContainer .inputEx-Field {
	float: left !important;
}

#header {
	z-index: 10;
}

.WireIt-LayerMap {
	width: 100%;
}

.WiringEditor-module {
	background-color: #90887F;
	color: #fff;
}

div.WireIt-Container-ddhandle {
	background: #90887f;
}

div.WireIt-Container div.body {
	border: none;
 	background-color: #E8E6DD;
	padding-bottom: 11px;
}

div.WireIt-Container div.body .inputEx-Group {
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 3px;
}

div.WireIt-Container div.body .inputEx-Group .inputEx-Group {
    background: none;   
}

div.WireIt-Container div.body .inputEx-Group .inputEx-Group .inputEx-label {
    width: 70px;
}

div.WireIt-Container div.body .inputEx-Group .inputEx-Group .inputEx-Field {
    padding-left: 10px;
}

div.inputEx-ListField-childContainer {
    overflow: auto;
}

div.inputEx-ListField-childContainer>div {
    background: #90887f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    margin: 5px 3px 0 3px;
}

div.inputEx-ListField-childContainer>div label {
    color: #fff !important;
}

ul.formfields {
	text-align: left;
	margin: 0;
	padding: 0;
	background: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
}

ul.formfields li label {
	width: 40%;
	float: left;
}

ul.formfields li input[type='text'] {
	width: 58%;
	float: left;
}
