[buildout]
develop = .
parts = interpreter
        test
	coverage-detect
        coverage-report
	docs
versions = versions

[versions]

[interpreter]
recipe = zc.recipe.egg
eggs = odls.client [test]
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = odls.client [test]
defaults = ['--tests-pattern', '^test_.*$', '-v']

[docs]
recipe = collective.recipe.sphinxbuilder
eggs = odls.client [docs]
build = ${buildout:directory}/docs/build
source = ${buildout:directory}/docs/source
outputs = doctest html
script-name = make-docs
extra-paths = ${buildout:directory}/src

[nodocs]
recipe = z3c.recipe.sphinxdoc
eggs = odls.client [docs]
default.css =
layout.html = 

[coverage-detect]
recipe = zc.recipe.testrunner
eggs = odls.client [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '--coverage', 'coverage']

## Create a coverage report.
## Make sure to run bin/coverage-detect to collect the data for the report
## first!
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('${buildout:parts-directory}/coverage-detect/working-directory/coverage', '${buildout:directory}/coverage-report')
