/* print CSS */

/* Hide footer */
#LaboralFooter-wrapper
{
  display: none !important;
}

input, .addthis_toolbox, .slider
{
    display:none;    
}

#portal-logo
{
    display:block;
    padding-bottom: 20pt;
    border-bottom:1px solid gray !important;
}

a, img
{
    border:none !important;
}

#plone-document-byline
{
    margin-top: 25pt;
    border-top:1px solid gray;
}

/* ==== DATES ==== */

#content .tileItem .pastEventDateFrom, .pastEventTable .pastEventDateFrom, .pastEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .pastEventDateUntil, .pastEventTable .pastEventDateUntil, .pastEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .futureEventDateFrom, .futureEventTable .futureEventDateFrom, .futureEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

#content .tileItem .futureEventDateUntil, .futureEventTable .futureEventDateUntil, .futureEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

img.tileImage
{
    float: right;
}

.eventDayInfo{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 7px;
    text-align: center;
}

.futureEventDateFrom .eventDayInfo, .futureEventDateUntil .eventDayInfo, .futureEventDateFrom .eventMonthInfo, .futureEventDateUntil .eventMonthInfo, .futureEventDateFrom .eventYearInfo, .futureEventDateUntil .eventYearInfo
{
    color:white;
}

.pastEventDateFrom .eventDayInfo, .pastEventDateUntil .eventDayInfo, .pastEventDateFrom .eventMonthInfo, .pastEventDateUntil .eventMonthInfo, .pastEventDateFrom .eventYearInfo, .pastEventDateUntil .eventYearInfo
{
    color:#a3a3a3;
}

.eventMonthInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
}

.eventYearInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    text-align: center;
}