[buildout]
extensions=buildout.minitagificator
parts =
    s
    testrunner
eggs =
    setuptools
    ipython
    ClueReleaseManager.paste [test]
develop = .

[s]
recipe=minitage.recipe:scripts
eggs=
    ${buildout:eggs}

[testrunner]
recipe=zc.recipe.testrunner
eggs=
    ClueReleaseManager.paste [test]

