/* Body */
body { }
.container { border-top: 10px #ddd solid; }
h1 { font-size: 2.4em; font-weight: bold; margin-bottom: 0; }
h1 a { color: #111; text-decoration: none; }
h2 { font-size: 1.5em; }
/* Site Structure */
#header { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px #aaa dotted; margin-bottom: 20px; }

#navigation ul { list-style-type: none; padding: 0; margin: 0; float: right; border-top: 1px #ddd solid; border-bottom: 1px #ddd solid; border-left: 1px #ddd solid; }
#navigation ul li { display: inline; float: left; font-size: 1.2em; }
#navigation ul li a { display: block; padding: 3px 20px; border-right: 1px #ddd solid; color: #666; text-decoration: none; }
#navigation ul li a:hover { background: #eee; color: #333; text-decoration: underline; }

#flashes { width: 768px; }
#flashes ul { list-style-type: square; margin: 0; padding: 0 0 0 20px; }

/* Lists */
.tabs ul, .tags ul, .tasks ul { list-style-type: none; padding: 0; margin: 0; }

.tabs { margin-bottom: 3px; }
.tabs ul { float: left; border-bottom: 1px #bbb solid; }
.tabs ul li { display: inliine; float: left; font-size: 1.1em; }
.tabs ul li h2 { margin-bottom: 0; }
.tabs ul li a { display: block; background: #e3e3e3; color: #333; text-decoration: none; padding: 5px 15px; margin-top: 9px; }
.tabs ul li a.active { vertical-align: bottom; color: #111; border-left: 1px #bbb solid; border-top: 1px #bbb solid; border-bottom: 1px #fff solid; border-right: 1px #bbb solid; background: #fff; margin-top: 0; margin-bottom: -1px; height: 32px; padding-bottom: 0; }
.tabs ul li a.active:hover { background: #fff; }
.tabs ul li a:hover { background: #d3d3d3; text-decoration: underline; }
.tabs ul li.right { float: right; }

.tags { background: #222 url('../img/tags_back.png') left bottom repeat-x; }
.tags ul { margin: 0 0 8px 8px; float: left; width: 774px; }
.tags ul li { display: inline; float: left; font-size: 1.1em; }
.tags ul li a { display: block; background: #444; padding: 0 8px; font-size: 0.9em; color: #fff; border: 1px #444 solid; margin-top: 8px; margin-right: 8px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; text-decoration: none; }
.tags ul li a:hover { text-decoration: underline; }
.tags ul li a:focus { border-top: 2px #ccc solid; border: 1px #999 solid; }
.tags ul li.cancel { float: right !important; }
.tags ul li.cancel a { background: none; }
.tags ul li.cancel a:hover { text-decoration: none; }

/* Site Spans */
span.grid { display: block; float: left; margin-right:20px; }
span.last { margin-right: 0 !important; }
span.embolden { font-weight: bold; }

/* Tasks */

.tasks { margin-top: 10px; }
.tasks ul { border-top: 1px #ddd solid; }
.tasks ul li { border-bottom: 1px #ddd solid; padding-top: 10px; padding-bottom: 10px; float: left; }

span.task-status a { background: #fff url('../img/progress.png') 1px 7px no-repeat; overflow: hidden; color: #bf4c18; text-decoration: none; display: block; padding: 5px 0 0 15px; width: 70px; font-weight: bold; text-transform: uppercase; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; font-size: 0.85em; }
span.task-status a.open, span.task-status a.done, span.task-status a.progress, span.task-status a.work { background: none; font-size: 1em; padding: 3px 0 3px 5px; }
span.task-status a.open { background: #597533; color: #fff; }
span.task-status a.done { background: #332F28; color: #fff; }
span.task-status a.progress { background: #BF4C18; color: #fff; }
span.task-status a.work { background: #61B594; color: #fff; }

span.task-id { font-size: 1.3em; color: #888; text-align: center; }

span.task-content { font-size: 1.3em; color: #333; }

span.task-tags { margin-top: 4px; }
span.tag { float: left; margin-right: 5px; font-size: 0.9em; font-weight: bold; text-transform: uppercase; }
span.tag a { display: block; background: #ECEAB0; color: #666; padding: 1px 5px; text-decoration: none; }

span.task-date { text-align: right; color: #999; margin-top: 3px; }

/* Form Stuff */
form.inline input, form.inline select, form.inline textarea { margin-top: 0; }
form .desc { height: 100px; }
.smallform { border: 1px #ccc solid; background: #f3f3f3; padding: 40px; }
.submit { margin-top: 20px; }
form.inline select, form.inline textarea { font-size: 1.4em; }
label.checkbox { margin-top: 6px !important; margin-right: 10px; display: block; float: left; }

p.hint { line-height: 1.4em; margin: 0; color: #999; font-size: 0.9em; }

/* Footer */
#footer { margin-top: 40px; }
#footer p { color: #999; }
#footer #flask { text-align: right; }
