[buildout]
develop = .
parts = interpreter test
#extends = http://grok.zope.org/releaseinfo/grok-1.0.cfg
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
versions = versions
#newest = false

extensions = buildout.dumppickedversions

[versions]
#zope.i18n = 3.5  # Only for tests with grok <= 1.0.
chameleon.core = 1.0.4
chameleon.genshi = 1.0b4
sourcecodegen = 0.6.12
Chameleon = 1.1.2
docutils = 0.6
lxml = 2.2.4

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.chameleon
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs =
   megrok.chameleon
   megrok.chameleon[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
