[buildout]
develop = .
parts = interpreter test omelette
extends = http://svn.zope.org/*checkout*/groktoolkit/trunk/grok.cfg

versions = versions

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[versions]

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.nozodb
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.nozodb [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
