
#ib-media-album
{
    float:right;
    width:400px;
    height:266px;
    background-color:#e8e8e8;
    overflow:hidden;
    white-space:nowrap;
    position:relative;
}

#ib-media-album .ib-media-album-link
{
    display:none;
}

#ib-media-album-blocks
{
    white-space:nowrap;
    overflow:visible;
    position:relative;
}


#ib-media-album .ib-media-block
{
    width:400px;
    height:266px;
    position:absolute;
    background-color:#e8e8e8;
}

#ib-media-album .ib-media-block img
{
    max-height:266px;
    width:auto;
    display:inline;
    margin:auto;
}

#ib-media-album .ib-next-button
{
    position:absolute;
    z-index:9999;
    opacity:0;
    top:108px;
    right:0;
    cursor:pointer;
}

#ib-media-album .ib-prev-button
{
    position:absolute;
    z-index:9999;
    opacity:0;
    top:108px;
    left: 0;
    cursor:pointer;
    opacity:0;
}

#ib-media-album:hover .ib-next-button
{
   opacity:0.9;
}

#ib-media-album:hover .ib-prev-button
{
    opacity:0.9;
}