
.ui-tabs-nav, .ui-tabs-panel {
    font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 12px;
}

.ui-tabs-nav {
    list-style: none;
    margin: 0;
    padding: 0 0 0 4px;
}

.ui-tabs-nav:after {
    display: block;
    clear: both;
    content: " ";
}

.ui-tabs-nav li {
    float: left;
    margin: 0 0 0 1px;
    min-width: 84px;
}

.ui-tabs-nav a, .ui-tabs-nav a span {
    display: block;
    padding: 0 10px;
    background: transparent url(/static/imgs/tab.png) no-repeat;
    cursor: pointer !important;
}

.ui-tabs-nav a {
    margin: 1px 0 0;
    padding-left: 0;
    color: #525252 !important;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
}

.ui-tabs-nav a:hover {
	text-decoration: none !important;
}

.ui-tabs-nav .ui-tabs-selected a {
    position: relative;
    top: 1px;
    z-index: 2;
    margin-top: 0;
    color: #525252 !important;
}

.ui-tabs-nav a span {
    width: 64px;
    min-width: 64px;
    height: 18px;
    min-height: 18px;
    padding-top: 6px;
    padding-right: 0;
}

*>.ui-tabs-nav a span {
    width: auto;
    height: auto;
}

.ui-tabs-nav a span {
    padding-bottom: 1px;
}

.ui-tabs-nav a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -150px;
}

.ui-tabs-nav a, .ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active {
    background-position: 100% -100px;
}

.ui-tabs-nav a span, .ui-tabs-nav a:hover span, .ui-tabs-nav a:focus span, .ui-tabs-nav a:active span {
    background-position: 0 -50px;
}

.ui-tabs-nav .ui-tabs-selected a:link, .ui-tabs-nav .ui-tabs-selected a:visited, .ui-tabs-nav a:link, .ui-tabs-nav a:visited {
    cursor: text;
}

.ui-tabs-nav a:hover, .ui-tabs-nav a:focus, .ui-tabs-nav a:active, .ui-tabs-nav .ui-tabs-unselect a:hover, 
.ui-tabs-nav .ui-tabs-unselect a:focus, .ui-tabs-nav .ui-tabs-unselect a:active {
    cursor: pointer;
}

* html .ui-tabs-nav { 
    display: inline-block;
}

*:first-child+html .ui-tabs-nav  {
    display: inline-block;
}

#tabs {
	border-bottom: 1px solid #ddd;
	width: 960px;
	margin: 0 auto;
}

@media projection, screen {
    .ui-tabs-hide {
        display: none;
    }
}

@media print {
    .ui-tabs-nav, #sub-menu, #footer, #listing {
        display: none;
    }
}

