html {
  margin: 0px 0px 0px 0px;
}

body {
  margin: 0px 0px 0px 0px;
  font-size: 90%;
  font-family: arial, helvetica, sans-serif;
  background-color: #E6EEEF;
  width: 100%;
}

#header {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 50px;
}

#header_logo {
  background: #fff URL('/images/BlastOff-header.png ') left center no-repeat;
  float: left;
  height: 50px;
  width: 320px;
  margin-left: 10px;
}

#user_login {
  position: absolute;
  right: 0px;
  bottom: 7px;
  margin-right: 10px;
  font-size: 85%;
}

#maincontent {
  float:left;
  width:67%;
  border-right:2px solid rgb(141, 179, 180);
/*  border-bottom:2px solid #000;*/
  margin-right:15px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom:20px;
  min-height: 500px;
}

#rightcontent {
  padding-top: 10px;
}

#rightcontent ul {
  list-style: none;
}

#footer {
  clear: both;
  font-size: 80%;
  text-align: center;
  color: #aaa;
  padding-top: 20px;
}

#footer a:link, #footer a:visited {
  color: #aaa;
  text-decoration: none;
}

#nav_strip {
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  background: rgb(141, 179, 180);
  font-size: 90%;
}

#nav_strip ul {
  display: inline;
}

#nav_strip li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

#nav_strip li a {
  padding: 2px 4px 2px 4px;
}

#nav_strip a:link
{
	color: #043435;
	background-color: transparent;
	text-decoration: none;
}

#nav_strip a:visited
{
	color: #0F5557;
	background-color: transparent;
	text-decoration: none;
}

#nav_strip a:hover, #nav_strip a:active
{
	color: #fff;
	background-color: #084C4E;
}

div.clearingdiv {
  clear:both;
}

/* WebFlash Styles */

#flash_container div.ok {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #cec URL('../images/flash_ok.png') left center no-repeat;
  border: 1px solid #9c9;
  font-size: 120%;
  font-weight: bolder;
  clear: both;
}

#flash_container div.info {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #eef URL('../images/flash_info.png') left center no-repeat;
  border: 1px solid #99c;
  font-size: 120%;
  font-weight: bolder;
  clear: both;
}

#flash_container div.alert {
  margin: 0.5em auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  width: 450px;
  background: #fd9393 URL('../images/flash_alert.png') left center no-repeat;
  border: 1px solid #e11;
  font-size: 120%;
  font-weight: bolder;
  clear: both;
}
