[buildout]
parts =
    django
    django-fcgi

find-links = 
    http://dist.repoze.org/
    http://pypi.iqpp.de/

[django-fcgi]
recipe = collective.recipe.template
port  = 8000
input = ${buildout:directory}/misc/conf/django-fcgi.sh.in
output = ${buildout:directory}/bin/django-fcgi.sh

[django]
recipe = djangorecipe
version = 1.1.1
eggs =
    django-lfc == 1.0b5
    lfc_blog == 1.0b3
    PIL == 1.1.6
    pysqlite

project = lfc_project
settings=settings
extra-paths =
    ${buildout:directory}/lfc_project

urls = lfc_project/urls