em {
  font-weight: bold;
  background-color: #ccc;
}
div#parent {
  margin: 10px;
}
div#parent > div.child {
  margin: 5px;
  border: 1px solid #000;
}
div#parent > div.highlight-border {
  border: 2px solid #fff;
}
div#parent > div.child > div.foo {
  padding: 2px;
  width: 10px;
}
div#parent > div.child > div.wide {
  width: 40px;
}
div#alert {
  font-weight: bold;
}
div#parent > div.child > div.foo div.dummy {
  display: none;
}