[buildout]
extends = http://grok.zope.org/releaseinfo/1.2/versions.cfg
develop = .
parts = test
newest = false
versions = versions

[versions]
megrok.resourceviewlet = 
zope.app.wsgi = 3.10.0

[test]
recipe = zc.recipe.testrunner
eggs = megrok.resourceviewlet [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
