[buildout]
develop = .
parts = bluebream
        test
        releaser

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[bluebream]
recipe = zc.recipe.egg
eggs = bluebream
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = bluebream[test]
