.tundra .dojoxGrid {
	background-color: #FFFFFF;
	/* font-size: 90%; */
}

/* master messages */

.tundra .dojoxGridMasterMessages {
	background-color: #fefefe;
}

.tundra .dojoxGridLoading, 
.tundra .dojoxGridError {
	background-position:left center;
	background-repeat: no-repeat;
	padding-left:25px;
}

.dijitRtl .tundra .dojoxGridLoading, 
.dijitRtl .tundra .dojoxGridError,
.dijitRtl .tundra .dojoxGridNoData {
	background-position:right;
	padding-right:25px;
	padding-left:0px;
}

.tundra .dojoxGridLoading {
	background-image: url('release/dijit/themes/tundra/images/loading.gif');
}

.tundra .dojoxGridError {
	background-image: url('release/dijit/themes/tundra/images/warning.png');
}

/* header */

.tundra .dojoxGridHeader {
    border : None;
	background-color:  #EBFCEB;
    border-bottom : 1px solid black;
}

.tundra .dojoxGridHeader .dojoxGridCell { 
	padding-bottom: 0px;
	background-color: #EBFCEB;  
    border-left: 1px solid #D6D6D6;
	color: black !important;
}

.tundra .dojoxGridHeader .dojoxGridCellOver {
	background: #B3CFB3;
	color: #000 !important;
}
.tundra .dojoxGridHeader .dojoxGridCellFocus {
	border-color: #ACA899 #919191;
	border-style: dotted;	
}
.tundra .dojoxGridArrowButtonChar {
	float: right;
	display: none;
}
.tundra .dojoxGridArrowButtonNode {
	display: block !important;
	padding-left: 0px;
	float: right;
	background:url("/zdojo/release/dijit/themes/tundra/images/spriteArrows.png") no-repeat left center;
	width: 7px;
	height: 1em;
	margin: 2px 4px 0px 5px;
}
.dj_ie6 .tundra .dojoxGridArrowButtonNode {
	background-image:url("/zdojo/release/dijit/themes/tundra/images/spriteArrows.gif");
	margin-left: 0px;
}

.tundra .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background-position: -21px;
}
.dijit_a11y .tundra .dojoxGridArrowButtonNode {
	display: none !important;
}

/* content */

.tundra .dojoxGridScrollbox {
	background-color: #FFFFFF;
}

/* rowbar */

.tundra .dojoxGridRowbar { 
	border: none;
	background-color: url(/zdojo/release/dojox/grid/resources/images/tabEnabled_rotated.png) #e9e9e9 repeat-y right;
	border-right: 1px solid #ccc;
}

.tundra .dojoxGridRowbarInner {
	border: none;
}

.tundra .dojoxGridRowbarOver {
	background: url(/zdojo/release/dojox/grid/resources/images/tabHover_rotated.png) #e9e9e9 repeat-y right;
}

.tundra .dojoxGridRowbarSelected {
	background: #D8E8F9 url(/zdojo/release/dijit/themes/tundra/images/tabDisabled.png) #ddd no-repeat center;
	border-right: 1px solid #ccc;
}

/* rows */

.tundra .dojoxGridContent .dojoxGridCell {
    border-left : 1px dotted gray;
}


.tundra .dojoxGridRow {
	background-color: white;
}

.tundra .dojoxGridRowOver {
}

.tundra .dojoxGridRowOver .dojoxGridCell {
	background-color: #d2e7ff; 
	color:#fff;
}

.tundra .dojoxGridRowOver .dojoxGridCell .dijit {
	color: #000;
}

.tundra .dojoxGridRowOdd {
	background-color: #f2f5f9;
}

.tundra .dojoxGridRowSelected {
	background-color: #aec7e3;
}

.dijit_a11y .tundra .dojoxGridRowSelected { 
    background-color: #aec7e3;     
    border-style: solid;     
}   

/* cells */

.tundra .dojoxGridCell {
	/* border : 1px dotted gray; */
}

.dj_ff2 .tundra .dojoxGridCell {
	/* border : none */
}

.dj_ie6 .tundra .dojoxGridCell {
	/* border : none */
}

.tundra .dojoxGridCellFocus {
	/*border : 1px dashed black;*/
}

.tundra .dojoxGridCellOver {
	/*border: 1px dashed white;*/
}

.tundra .dojoxGridCellFocus.dojoxGridCellOver {
	/*border: 1px dashed black;*/
}

/* editing */

/* FIXME: these colors are off! */
.tundra .dojoxGridRowEditing td {
	/* background-color: #F4FFF4; */
	background-color: #60a1ea; 
	/* padding: 0px 3px 0px 3px; */
}

.tundra .dojoxGridRow-inserting td {
	background-color: #F4FFF4;
}
.tundra .dojoxGridRow-inflight td {
	background-color: #F2F7B7;
}
.tundra .dojoxGridRow-error td {
	background-color: #F8B8B6;
}

/* Drag and Drop */

.tundra .dojoxGrid .dojoDndItemBefore {
	border-left-color: #3559ac;
}
.tundra .dojoxGrid .dojoDndItemAfter {
	border-right-color: #3559ac;
}
