[buildout]
develop = .
parts = test
versions = versions

[versions]
setuptools = 0.6c11
zc.recipe.testrunner = 1.0.0
zc.recipe.egg = 1.0.0
zc.buildout = 1.0.0
zope.testing = 3.5.0

[test]
recipe = zc.recipe.testrunner
eggs = zc.recipe.wrapper
defaults = ["-1"]
