/*
.vertical{
 writing-mode:bt-rl;
 -webkit-transform:rotate(270deg);
 -moz-transform:rotate(270deg);
 -o-transform: rotate(270deg);
 white-space:nowrap;
 bottom:0;
 font-size:1.5em;
 width:1.5em;
 display:block;
}
*/
.vertical em {
	display:block;
	font-style:normal;
	text-align:center;
}

#msp_fieldset,
fieldset.product-details{
	line-height:1em;
}

#msp_fieldset table th{
	vertical-align:bottom;
	height:130px;
	padding-bottom:10px;
}

