[buildout]
develop += .
parts = gocept.printinvoices test

[gocept.printinvoices]
recipe = zc.recipe.egg
arguments = tray1=1, tray2=4

[test]
recipe = zc.recipe.testrunner
eggs = gocept.printinvoices
