/*
fieldset_error: class for a div containing a “global” error
field_error: class for a span containing an error from a single Field
field_req: class for a label for a required field
field_opt: class for a label for an optional field
field_readonly: class for the td of the ‘label’ for a field in a readonly FieldSet table
grid_error: class for a span containing an error from a single Field in a Grid
*/

/* Styling of tabular grid */

.fagrid { width: 45em; margin: 1em 0 0 0; padding: 0.15em 0.5em; border: 1px solid #aaa; font-size:100%;}

.fagrid th {font-weight:bold; text-align:left; border-bottom: 1px solid #aaa; color: #9F1C00;}
.fagrid tr {text-align:left; line-height: 1.5em;}

.fagrid tr td {padding: 0.1em 0.5em;}
.fagrid tr.odd {background-color: #eee;}
.fagrid tr.even {background-color: #ffe;}

/* Forms styling */
label { float: left; text-align: right; margin-right: 1em; width: 10em; }
form div { margin: 0.5em; float: left; width: 100%; }
form input[type="submit"] { margin-top: 1em; margin-left: 9em; }