/* This is required: to hide the non-active tabs */
.tabberlive .tabbertabhide {
 display:none;
}

/* Style for the tab navigation list */
.tabbernav
{
margin:0;
padding: 3px 0;
border-bottom: 1px solid #778;
font: bold 10px Verdana, sans-serif;
}

.tabbernav li
{
list-style: none;
margin: 0;
display: inline;
}


.tabbernav li a
{
padding: 3px 0.5em;
margin-left: 3px;
border: 1px solid #778;
border-bottom: none;
background: #DDE;
text-decoration: none;
}

.tabbernav li a:link { color: #448; }
.tabbernav li a:visited { color: #667; }

.tabbernav li a:hover
{
color: #000;
background: #AAE;
border-color: #227;
}

.tabbernav li.tabberactive a
{
background: white;
border-bottom: 1px solid white;
}

.tabbernav li.tabberactive a:hover
{
color: #000;
background: white;
border-bottom: 1px solid white;
}

/* Style of the tab */
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;
 /* height:250px;*/
 /* overflow:auto; */
 height: 48em;
}

ul.list li { list-style-type: none; }
ul.list li a {
    text-decoration: none; 
    font-size: 85%; 
    line-height: 2em;
    color: #0c0072;
}
ul.list li a:hover { color: #7c2100; }


/* Hide the h2 heading, since in this case
   it is the same as the tab title
*/
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* ======== Layout for tab-styled lists =============================== */
ul.col1 { position: absolute; top:6em; left: 2em; }
ul.col2 { position: absolute; top:6em; left: 35%; }
ul.col3 { position: absolute; top:6em; left: 70%; }
.lcolgroup{ float:left; } 
.rcolgroup{ float:right; } 