/* Stylesheet for the 'amberjack' Plone theme */

.ajLink {
    font-size: 9px;
    color: #000000;
}
.ajLink:hover {
    background-color: yellow;
}
ul.ajSteps {
	margin-bottom:0;
}
.ajSteps li{
    list-style: none;
    background: transparent url(dot.gif) no-repeat left top;
    padding-left: 12px; 
    clear:both;
    display: block;
}

.ajDescr{
    float: left;
    width: 80%;
    padding-right: 10px;
}

input#form.actions.save.context {
	background: yellow !important;
}

.kupu-tb-buttongroup button.ajHighlight,
.fulleditor .ajHighlight{
    border:2px solid yellow !important;
}

#kupu-editor-iframe-form.text.ajHighlight{
	border:2px solid yellow !important;
}

.ajHighlight {
    background-color: yellow !important;
	color: black !important;
	font-weight: bold !important;
}
input.ajHighlight,
textarea.ajHighlight {
	background-image: none;
	background-color: #FFFF99;
}
a.ajHighlight:hover {
	color: #000!important;
}

.aj_link_inactive {
	color: #CCC !important;
	cursor: default;
}
#ajControlInfo .aj_link_inactive {
	color: #000 !important;
}
.contentViews .selected a.aj_link_inactive,
.contentActions a.aj_link_inactive {
	color: #FFF !important;
}
.contentViews a.aj_link_inactive:hover {
	background-color: transparent;
}
.contentViews .selected a.aj_link_inactive:hover {
	color: #999 !important;
} 

/*** Amberjack portlets styles ***/
.portletItem ol {
	padding-left: 1em;
}
a.tour_inactive,
a.tour_inactive:link,
a.tour_inactive:visited,
a.tour_inactive:hover {
	color: #CCC;
	cursor: default;
}

/*** Amberjack popup tour generic styles ***/
#ajControlBody h2 {
  margin:0 0 0.5em;
}


#ajControlBody div {
  padding: 0 0 0.5em 0;
}
