body {
    background-image: url(/static/img/bg.png);
    font-family: sans-serif;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

#content {
    padding: 16px;
}

a, a:visited {
    color: inherit;
}

h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

h3 {
    font-size: 12px;
    border-bottom: 1px solid gray;
    padding-bottom: 6px;
}

li {
    margin-bottom: 8px;
    overflow: hidden;
}

dl {
    margin: 8px 8px 8px 30px;
    clear: left;
    overflow: hidden;
}

dt, dd {
    font-size: 12px;
    float: left;
    line-height: 1.3em;
    margin-bottom: 4px;
}

dt {
    font-weight: bold;
    width: 20%;
}

dd {
    width: 80%;
    overflow: hidden;
}

