[global]
authentification_platform = false
unknown_user = web
url_base = http://rnaspace.org/
mount_point = /

[software]
clustalw.name = clustalw
clustalw.exe = clustalw
rnaalifold.name = RNAalifold
rnaalifold.exe = RNAalifold
rnafold.name = RNAfold
rnafold.exe = RNAfold
rnaplot.name = RNAplot
rnaplot.exe = RNAplot
rnaz.name = RNAz
rnaz.exe = RNAz


[storage]
user_size_limitation = 1Go
project_size_limitation = 200Mo
sequence_size_limitation = 5Mo
nb_sequences_limitation = 50
# project_expiration and account_expiration in days, 0 for never
project_expiration = 14
account_expiration = 0
putative_rna_mode = rnaml
workspace_dir = /STOCK
db = path_to_rfam_multi_fasta
genomes = /ncbi/genomes/
tmp_dir = /tmp
# size of a block in the disk
blocksize = 4096


[mailer]
smtpserver = smtp.domain.com
from_email = rnaspace
admin_email = admin@rnaspace.org
# parameters below are optionnal, you can comment them if not needed
port = myport
login = mylogin
password = mypass

[execution]
grid_engine = false
grid_engine.cmd = qsub -W block=true -l walltime=08:00:00 -q rnaq
# block process until end, destroy process if not ended in 8h, use rnaq queue
grid_engine.outfile_arg = -o
grid_engine.errorfile_arg = -e

[logging]
rnaspace_log_file = rnaspace.log
log_into_console = true