
body {margin-left:auto; margin-right:auto; padding:10; width:95%; height:100%; text-align:justify;}

ul#menu {list-style:none; margin:0px; padding:0; width:90%;}
ul#menu li {display:inline}
ul#menu li a {text-decoration:none; padding:5px 0; width:100px; background:#fff; color:#92B901; float:left; text-align:center; border:2px solid #92B901;}
ul#menu li a:hover {background:#92B901;color:#fff;}


h1 {font:normal 26px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;font-weight:bold}
h2 {font:normal 22px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h3 {font:normal 20px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h4 {font:normal 16px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h5 {font:normal 20px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901}

hr {color: #92B901;background-color: #92B901;height: 2px;}

ul {list-style-type:square;}
ul.n {list-style-type:none;}
ul.nn {list-style-type:none;color:#92B901 }
a:link {color:#000;text-decoration: none;}
a:link {font-family: Verdana, Sans-serif; color:#00CC00; text-decoration:none;}
a:visited  {font-family: Verdana, Sans-serif; color:#009900; text-decoration:line-through;}
a:active   {font-family: Verdana, Sans-serif; color:#FF0000; text-decoration:none;}
a:hover    {font-family: Verdana, Sans-serif; color:#00CCFF; text-decoration:underline;}

/*#menu a:visited, #menu a {display:block; width:120px; height:20px; margin:0 auto; border-top:1px solid #92B901; border-bottom:1px solid #92B901; text-align:left; text-decoration:none; line-height:20px; color:#92B901;}
#menu {display:block; position:fixed; width:135px; z-index:10; padding:10px; border:5px solid #92B901; text-align:center; font-weight:bold; color:#fff; margin-left:auto; margin-right:auto;margin-top:135px;}
#menu a:hover {background:#92B901; color:#fff;}
#background {position:absolute; z-index:2; width:100%; height:100%;}
body {margin-left:50px; margin-right:25px; padding:10; width:100%; height:100%; overflow:hidden; text-align:justify;}
body {font-family:verdana, arial, sans-serif; font-size:76%;}
#content {padding:10px 10px 200px 200px;text-align:justify}
#scroller {position:fixed; width:920px; height:99%; top:auto; left:auto; overflow:auto; z-index:-1;} 





ul {list-style-type:square;}
ul.n {list-style-type:none;}
ul.nn {list-style-type:none;color:#92B901 }
a:link {color:#000;text-decoration: none;}
a:link {font-family: Verdana, Sans-serif; color:#00CC00; text-decoration:none;}
a:visited  {font-family: Verdana, Sans-serif; color:#009900; text-decoration:line-through;}
a:active   {font-family: Verdana, Sans-serif; color:#FF0000; text-decoration:none;}
a:hover    {font-family: Verdana, Sans-serif; color:#00CCFF; text-decoration:underline;}
h1 {font:normal 26px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;font-weight:bold}
h2 {font:normal 22px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h3 {font:normal 20px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h4 {font:normal 16px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901;margin: 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px}
h5 {font:normal 20px/110% georgia, "Times New Roman", Times, serif;padding-bottom: 6px;color:#92B901}

div.img {padding:5px; margin: 0px;border:2px solid #92B901;height:auto;width: auto;float: left;text-align: center;}	
div.desc {text-align: center;  font-weight: normal;  margin: 2px;}

div.img_right {padding:5px; margin: 0px;border:2px solid #92B901;height:auto;width: auto;float: right;text-align: center;}	
div.desc_right {text-align: center;  font-weight: normal;  margin: 2px; color:#92B901}

div.img_center {padding:5px; margin: 0px; border:2px solid #92B901;height:auto;width: auto;float: center;text-align: center;}	
div.desc_center {text-align: center;  font-weight: normal;  margin: 2px; color:#92B901}

div.img_left {padding:5px; margin: 0px; border:2px solid #92B901; height:auto; width: auto; float: left;text-align: center;}	
div.desc_left {text-align: center;  font-weight: normal;  margin: 2px; color:#92B901}

img.head_main {border: 5px #92B901 solid;}

hr {color:#92B901;}

#footer {text-align: center; font-size: x-small;} */
