

.visualBoxBody {
	/*remove this line if you dont want the description 
		display: none ;
	and this */
}

.visulBoxEntry {
	float: left;
	width: 250px;
	height: 180px;
	border: 2px solid #FFF;
	overflow: hidden;
    background: #EEE;	
}

.visulBoxEntry a {
	text-decoration: none !important;
	color: #edd13d /* !important */;
}

.visualBoxEntryTitle {
	position: relative;
	top: 130px /* change this if you show the description */;
	left: 15px;
	z-index: 10;
	font-weight: bold;
	font-size: 25px;
    padding: 0;
}

.visualBoxWrapper img {
	position: relative;
	top: 0px;
	left: 0;
	z-index: 10;
}
