[buildout]
parts = fntst
        test
develop = .
extensions = mr.developer
sources = sources
sources-dir = extras
auto-checkout =

[fntst]
recipe = collective.recipe.funkload
url = http://127.0.0.1:8080
record_test_name = FooBar

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.funkload [tests]

[sources]
collective.funkload = svn https://svn.plone.org/svn/collective/collective.funkload/trunk
