div.jqZoomTitle
{
	z-index:5000;
	text-align:center;
	font-size:11px;
	font-family:Tahoma;
	height:16px;
	padding-top:2px;
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	color: #FFF;
	background: #999;
}

.jqZoomPup
{
		overflow:hidden;
		background-color: #FFF;
		opacity: 0.6;
		filter: alpha(opacity = 60);
		z-index:10;
		border-color:#c4c4c4;
		border-style: solid;
		cursor:crosshair;
}

.jqZoomPup img
{
	border: 0px;
}
.preload{	
	opacity: 0.8;
   filter: alpha(opacity = 80);
	color: #333;
	font-size: 12px;
	font-family: Tahoma;
   text-decoration: none;
	border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
	text-align:center;
   background-image: url(++resource++my315ok.store.images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
	width:90px;
	* width:100px;
	height:43px;
	*height:55px;
	z-index:10;
	position:absolute;
	top:3px;
	left:3px;
}

.jqZoomWindow
{
	border: 1px solid #999;
	background-color: #FFF;
}

#details_tit {display: none;}
#showphoto {
width:46%;
float:left;
}

ul.parameters {
width:42%;
float:right;
list-style:none;
}

#smallphoto li{
display:inline;
height: 64px;
width: 64px;
}
.imgli a {
text-decoration:none;
border-bottom:none !important;
}

.imgli a img {text-decoration:none;border:none;}



.details {
font-size:100%;
font-weight:bold;
width:100%;
float:left;

}
.parameters
{
font-size:12pt;
color:#095bad;
font-weight:bold;

}
#topimgbg .documentDescription
{
font-size:11pt;
margin-top:-7px;
padding-left:75px;
color:#ff0;

}
#topimgbg .documentFirstHeading
{
font-size: 18pt;
color: #fff;
padding-left: 75px;
border:none;
line-height: 140%;
}
#topimgbg {
background: #095bad url(++resource++my315ok.store.images/sheng.gif)  no-repeat 0 0;
height:54px;
}
input.add2gouwuche  {
background: transparent url(++resource++my315ok.store.images/gouwuche.gif) no-repeat;
border: none;
width: 110px;
padding-left: 16px;
cursor: pointer;
}
#ckbuttom {
background: transparent url(++resource++my315ok.store.images/checkout.gif) no-repeat;
border: none;
width: 110px;

}
#ckbuttom a {
color:#000000;
margin-left:2em;
}

#add2gouwuche 
{
background: transparent url(++resource++my315ok.store.images/gouwuche.gif) no-repeat;
float:left;
}

#add2favi{
background: url(++resource++my315ok.store.images/shoucangjia.gif) no-repeat;
float:left;
}

.add2 li{
display: inline;
list-style:none;
float:left;
width:110px;
height:21px;
padding:20px;
}
.add2 li a {
border:medium none !important;
color:#000000;
display:block;
font-size:13px;
margin-left:13px;
margin-top:-21px;
text-decoration:none;
}

ul.add2 {
margin-top: -10px;
float: right;
width: 300px;
}

.parameters li{
line-height:130%;
list-style-type:none;
}
.mprice {
text-decoration:line-through;
}
.oprice , .stockst {
color:#f00;}

.tabCot table {
border:0px solid #095bad;
width:100%;
}
 table {
border-collapse:collapse;

}
.tabCot th {
background-color:#095bad;
border-bottom:0px solid #095bad;
color:#ffffff;
font-size:18px;
text-align:left;
width:13%;
}
.tabCot td[scope] {
color:#095bad;
font-weight:bolder;
}

.tabCot .headline {
padding-right:5px;
width:18%;
}

.tabCot th, .tabCot td {
border:1px solid #095bad;
line-height:27px;
padding-left:15px;
padding-right:7px;
}
.tabCot .detailIntro {
width:82%;
}
.portletStaticText dt.portletHeader span {display:none;}

#column-collective-portletpage-toprow-portlet-belowbar {
margin-top:5px;
}

#hotpagetitle{
font-size: 14pt;
font-weight:bold;
background:#095BAD url(++resource++my315ok.store.images/jiantou.gif) no-repeat 120px center;
color: #ffffff;
padding-left: 15px;
/*width:570px;*/
border:none;
line-height: 170%;
height:35px;
}

#add2f {
background:transparent url(++resource++my315ok.store.images/shoucang.gif) no-repeat scroll 0 0;
height:23px;
margin-bottom:0.5em;
list-style-type:none;
border:1px solid #fbd711;
}

#purch_buttom {
background:transparent url(++resource++my315ok.store.images/goumai.gif) no-repeat scroll 0 0;
height:23px;
margin-bottom:0.5em;
list-style-type:none;
border:1px solid #095BAD;
}

.imgheight{
height:128px !important;
width: 128px;
max-width: 128px;
}
.recommend_portlet .imgheight {width:auto;height:auto !important;max-width:inherit;}
.imgheight img{
vertical-align:bottom;
}
.buttoms {
list-style: none !important;
margin-left: 8px !important;
}
.documentContent ul.goods {
display:block;
list-style-image:none;
list-style-type: none;
}

.buttoms li {
width:58px;
margin-right:5px;
float:left;}

.buttoms li a {
border:medium none !important;
color:#000000;
padding-left:12px;
}
.imgheight a{
border-bottom:none !important;
}



*+html #TopAD {

margin-left:7px;}

.slideBanner .num li.over {
border-color:#AA5000;
}

.hot_recommend {

background:transparent url(++resource++my315ok.store.images/recommend.gif) no-repeat scroll right top;
height: 59px;
}
.hot_recommend div {
text-align: right;
position:relative;

}

.hot_recommend div span{
display:block;
padding-top: 7px;
padding-right: 27px;
}

.recommend_portlet .goods li{
padding: 7px 0;
}
.recommend_portlet .goods li.imgheight {
padding-top:0;
}
.recommend_portlet dd {text-align: center;}

.portlet-static-belowbar {
margin-top: -7px;}

.ttl a {text-decoration: none;
border-bottom:none !important;}
