[buildout]
index = http://pypi.python.org/simple
extends = base.cfg app.cfg testing.cfg i18n.cfg
versions = versions
develop = .
parts = logs var
        tmpstorage fsstorage
        test_tmpstorage test_fsstorage
        test coverage-test coverage-report
        checker i18n
        app winservice
