/* Stylesheet for the 'INTK Theme' Plone theme */

body
{
    background-color:#ffffff;
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    background-color:white;
    height: 127px;
    margin-bottom: 20px;
}

#head-width
{
    margin:0px auto;
    width:1024px;
}

#portal-logo {
    display: inline-block;
    margin: 23px 0;
    float: left;
}

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    position: relative;
    margin-top: 73px;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 75%;
}

#portal-columns
{
    width:1024px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-100.6%;
}

#INTKFooter-wrapper
{
    width:100%;
    background-color:white;
    min-height: 274px;
    clear:both;
    color:black;
    margin-top:20px;
}

#INTKFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#INTKFooter h2
{
    color: black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#INTKFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#INTKFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#INTKFooter ul li
{
    color: black;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#INTKFooter ul li a
{
    color: black;
    font-size:13px;
    text-decoration: none;
}

#INTKFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:black;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dd a:hover
{
    color:black;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#INTKFooter dl.actionMenu.activated dd
{
    position:static;
}

#INTKFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

#portal-personaltools-wrapper
{
    float:right;
}

/* ====  CONTENT ====*/

#content {
    font-size: 80%;
    line-height: normal;
    margin:0;
    padding:0;
}
