body {
    background-color:               #FFFFDD;
    font-size:                      14px;
}

#logout {
    position:                       absolute;
    top:                            12px;
    right:                          12px;
    padding:                        4px;
    color:                          #222222;
    background:                     #EEEEEE;
    z-index:                        20;
    text-decoration:                underline;
}

#logout:hover {
    background:                     #CC33FF;
}

#tabs ul {
}

#panel {
    padding-bottom:                 15px;
}

#tabs a.edit {
    font-size:                      11px;
    color:                          #888888;
    font-style:                     italic;
}

#tabs a.edit:hover {
    text-decoration:                underline;
}

img.res {
    height:                         35px;
}

label {
    float:                          left;
    width:                          125px;
    font-style:                     italic;
}

.showContent {
    float:                          left;
}

img.add {
    height:                         20px;
    vertical-align:                 middle;
}

#fancybox-inner a.add {
    text-decoration:                underline;
    color:                          #229955;
    font-size:                      14px;
    font-style:                     italic;
    padding:                        4px;
}

#tabs a.add, #tabs a.resurrect {
    font-size:                      13px;
    line-height:                    28px;
    font-weight:                    bold;
    color:                          #333333;
    vertical-align:                 middle;
    padding:                        6px 7px;
    margin:                         2px 2px 4px 2px;
    background-color:               #FEF6F2;
    border:                         2px solid #000000;
    display:                        block;
    float:                          left;
    border-radius:                  5px;
    -moz-border-radius:             5px;
    -webkit-border-radius:          5px;
}

#tabs a.add:hover, #tabs a.resurrect:hover {
    background-color:               #FFCC44;
}

#panel > .clearfix > label {
    display:                        none;
}

#panel > .clearfix > .showContent > .itemsToggle {
    display:                        none;
}

fieldset label {
    line-height:                    22px;
    font-size:                      16px;
    padding:                        2px 0 0 0;
    font-style:                     italic;
}

img.resurrect {
    height:                         22px;
    vertical-align:                 middle;
}

a.resurrect {
    margin-left:                    13px;
}

.reorder {
    font-size:                      11px;
}

.reorder input {
    font-size:                      11px;
}

.reorder input[ type = 'submit' ] {
    display:                        inline;
    font-size:                      12px;
}

.reorderHandle {
    font-weight:                    bold;
    font-size:                      15px;
    line-height:                    15px;
    cursor:                         pointer;
    position:                       absolute;
    top:                            3px;
    left:                           7px;
    padding:                        2px 5px 5px;
    border:                         2px solid #000000;
    background-color:               #DDEEFF;
    border-radius:                  5px;
    -moz-border-radius:             5px;
    -webkit-border-radius:          5px;
}

.reorderHandle:hover {
    background-color:               #AAAAFF;
}

.triggerLayout {
    height:                         1px;
    width:                          1px;
    font-size:                      1px;
    line-height:                    1px;
    overflow:                       hidden;
}

ol.col {
    clear:                          left;
    list-style-type:                decimal;
}

ol.col li {
    border:                         2px solid #EEEEAA;
    background-color:               #F6CC66;
    background-color:               rgba( 250, 202, 102, 0.6 );
    padding:                        6px 8px 4px 34px;
    margin:                         4px;
    position:                       relative;
}

.message {
    margin:                         10px;
}

.failed {
    color:                          #EE3333;
    font-weight:                    bold;
}

.resurrection {
    margin:                         10px;
}

.resurrection li {
    margin:                         10px;
}

input[ type = 'submit' ].delete {
    font-size:                      13px;
    clear:                          left;
    float:                          left;
    margin:                         3px 0;
}

input[ type = 'submit' ] {
    display:                        block;
    font-size:                      14px;
    margin:                         1px 5px 1px 10px;
    background-color:               #CCCCFF;
}

input[ type = 'text' ] {
    width:                          300px;
}

input.money {
    width:                          55px;
}

.itemsToggle {
    clear:                          left;
    float:                          left;
}

.itemsShow, .itemsHide {
    cursor:                         pointer;
    font-style:                     italic;
    font-size:                      11px;
    color:                          #888888;
}

.itemsShow:hover, .itemsHide:hover {
    text-decoration:                underline;
}

input.date {
    width:                          80px;
}

input.time {
    width:                          70px;
}

input.city {
    width:                          200px;
}

input.uri {
    width:                          440px;
}

textarea.para {
    width:                          300px;
    height:                         200px;
}

#tabs .text {
    max-width:                      600px;
}
