[buildout]
parts = testunits integrationtests python
develop = .
include-site-packages = false

[testunits]
recipe = zc.recipe.testrunner
eggs = pydenji
defaults = [ "--auto-color", "-vv", "--tests-pattern", "^test_.*" ]

[integrationtests]
recipe = zc.recipe.testrunner
eggs = pydenji
defaults = [ "-vv", "--tests-pattern", "^integration_test_.*" ]

[trialall]
recipe = zc.recipe.egg:scripts
eggs = Twisted
       pydenji
entry-points = trial=twisted.scripts.trial:run
initialization = import sys; sys.argv.insert(1, "pydenji/pydenji/test")

[trial]
recipe = zc.recipe.egg:scripts
eggs = Twisted
       pydenji
entry-points = trial=twisted.scripts.trial:run

[python]
recipe = zc.recipe.egg
eggs =  pydenji
interpreter = python

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
