.upload-form-controls {
    float: left;
    margin-right: 1em;
}

.flash-detection-error {
    color: red;
    font-weight: bold;
    padding-bottom: 1em;
}

.swfupload {
    position: absolute;
    z-index: 1;
}
