[buildout]
#newest = false
develop = .
parts = dolmenproject
        test

[dolmenproject]
recipe = zc.recipe.egg
eggs = dolmenproject
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = dolmenproject[tests]
