[buildout]

eggs = 

parts = 
    bfg
    producepublish

[bfg]
index = http://dist.repoze.org/bfg/current/simple
recipe = zc.recipe.egg
dependent-scripts = true
eggs = repoze.bfg
       ${buildout:eggs}
interpreter = py

[producepublish]
index = http://pypi.python.org/simple/
recipe = zc.recipe.egg
dependent-scripts = true
eggs = 
    zopyx.smartprintng.server
    pyramid
    pyramid_xmlrpc
interpreter = py

