#document li 
    { list-style-image: url('/img/silk/page_white.png'); }
li.mov 
    { list-style-image: url('/img/silk/film.png'); }
li.jpg, li.gif, li.png, li.xbm, li.pbm, li.tiff, li.tif 
    { list-style-image: url('/img/silk/images.png'); }
li.pdf 
    { list-style-image: url('/img/silk/page_white_acrobat.png'); }
li.xml, li.rdf, li.js, li.xhtml, li.html, li.java, li.dtd
	{ list-style-image: url('/img/silk/page_white_code.png'); }
li.css
	{ list-style-image: url('/img/silk/page_white_css.png'); }
li.sql, li.psql 
	{ list-style-image: url('/img/silk/page_white_database.png'); }
li.xls
	{ list-style-image: url('/img/silk/page_white_excel.png'); }
li.swf, li.fla 
	{ list-style-image: url('/img/silk/page_white_flash.png'); }
li.bin, li.sh, li.jar, li.tar, li.o, li.rtf 
	{ list-style-image: url('/img/silk/page_white_gear.png'); }
li.php 
	{ list-style-image: url('/img/silk/page_white_php.png'); }
li.ppt 
	{ list-style-image: url('/img/silk/page_white_powerpoint.png'); }
li.py 
	{ list-style-image: url('/img/silk/page_white_python.png'); }
li.rb 
	{ list-style-image: url('/img/silk/page_white_ruby.png'); }
li.txt, li.n3
	{ list-style-image: url('/img/silk/page_white_text.png'); }
li.wrd 
	{ list-style-image: url('/img/silk/page_white_word.png'); }
li.zip, li.gz, li.tgz 
	{ list-style-image: url('/img/silk/page_white_zip.png'); }
li.mp3, li.mpeg, li.au, li.aiff, li.aif
	{ list-style-image: url('/img/silk/sound_none.png'); }
