[buildout]
develop = .
parts = test py

[test]
recipe = zc.recipe.testrunner
eggs = zc.sbo [test]

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py

[system]
recipe = zc.recipe.egg
eggs = sbo
scripts = sbo=/usr/local/bin/sbo
