[buildout]
develop = . 
parts = scripts test
extends = http://dist.plone.org/release/4.0.4/versions.cfg
versions = versions

[versions]
zope.schema = 3.6.0
zope.component = 3.10.0
grokcore.annotation = 1.2
grokcore.component = 1.8
grokcore.formlib = 1.5
grokcore.security = 1.4
grokcore.site = 1.2
grokcore.view = 1.12.2
grokcore.viewlet = 1.4.1
five.localsitemanager = 2.0.3
martian = 0.11.2
plone.registry = 1.0b4
plone.app.registry = 1.0b5


[scripts]
recipe = zc.recipe.egg
eggs = 
    collective.googlevisualization
    zest.releaser

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$', '-v']
eggs = collective.googlevisualization
