/* Stylesheet for the 'Laboral theme' Plone theme */

body
{
    background-color:#f6f6f6;
    background-image:url(++resource++plonetheme.laboral.images/background.jpg);
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
    min-width:1000px;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    background-color:white;
    height: 127px;
    margin-bottom: 20px;
}

#head-width
{
    margin:0px auto;
    width:980px;
}

#portal-logo {
    display: inline-block;
    margin: 64px 0;
    float: left;
}

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 36px 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton {
    border: 1px solid darkGray;
}

#searchGadget, input.searchPage[type=text] {
    border: 1px solid #cccccc;
    height: 29px;
    padding: 0 0 0 5px;
    width: 241px;
    position: absolute;
    right: 85px;
    top: 0;
}

.field #searchGadget
{
    position:static;
    
}

input.searchPage[type=text]
{
     left: 180px;
     right:auto;
     width:423px;
}

input.searchPage[type=submit]
{
    left: 615px;
    position: absolute;
}

form.searchPage {
     margin: 20px 0 10px 52px;
    position: relative;
}

.LSBox input.searchButton, .searchPage .searchButton {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    background-color: #3C3C3C;
    background-image: url("++resource++plonetheme.laboral.images/searchglass.png");
    background-position: 13px center;
    background-repeat: no-repeat;
    border: medium none;
    color: white;
    font-size: 104%;
    font-weight: normal;
    height: 31px;
    margin: 0 0 0 -5px;
    padding-bottom: 0;
    padding-left: 33px;
    padding-right: 15px;
}

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 75%;
}

#portal-columns
{
    width:970px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== TYPOGRAPHY ==== */

body
{
    font-family: "Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
color:Black;
font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
}

h1, h1 a, #content h1 a:link
{
    font-size: 18px;
}

h2, h2 a, #content h2 a:link
{
    font-weight:bold;
}

blockquote
{
    margin-left:20px;
}

hr
{
    border-top:1px solid #e0e0e0;
    border-bottom:medium none;
    border-left:medium none;
    border-right:medium none;
}

#content h1.documentFirstHeading, .related-type-title {
    border-bottom: 1px solid #E0E0E0;
    color: #A4A4A4;
    padding: 0 0 3px;
}

#content h1.documentFirstHeading .discreet {
    color:#8c8c8c;
    font-size:12px;
}

.news-date
{
    color: #909090;
    font-size:80%;
    font-weight: normal;
    margin-top:-20px;
    margin-bottom:20px;
}

.tileItem .news-date
{
    margin-top:-20px;
    margin-bottom:3px;
}

.related-type-title {
    font-size:18px;
    font-weight:bold;
}

.relatedDate
{
    display:block;
}

a:hover
{
    text-decoration:underline;
}

#content a
{
    color:#3c3c3c !important;
    border-bottom:none !important;
}

#content a:hover
{
    color:#3c3c3c !important;
}

.mceContentBody a {
    background-color:transparent;
    border-bottom:inherit !important;
    text-decoration:none !important;
}

#content h2.tileHeadline a, input#title
{
    font-size: 18px;
}

input#title
{
    text-decoration: none !important;
}

#content h2.tileHeadline a:hover, input#title
{
    text-decoration:underline;
}

#content .documentDescription, #content #description, #archetypes-fieldname-description textarea#description {
    font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 100%;
    font-weight:normal;
    margin-left:0;
    margin-bottom: 20px;
    margin-top:10px;
    clear:both;
}

#content {
    font-size:80%;
    line-height: 18px;
    margin: 0 0 3px 0;
}

#parent-fieldname-text h2, .mceContentBody h2
{
    font-size:18px;
}

#content.mceContentBody
{
    font-size:11.2px;
}

/* ==== Language ==== */

#portal-languageselector {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    font-size: 70%;
    max-width: 50%;
    padding: 16px 0 0;
}

#portal-languageselector a
{
    color:#8c8c8c;
    text-decoration: underline;
    margin-left:10px;
}

.currentLanguage
{
    display:none;
}

/* ==== Editor ==== */

td.canonicalLanguage div
{
    height:auto !important;
}

#content.mceContentBody
{
    font-size: 12.8px;
}

td.targetLanguage, td.canonicalLanguage
{
    vertical-align:top;
}

.ploneSkin .mceExternalToolbar
{
    background-color: #cccccc !important;
}


/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-100.6%;
}

#LaboralFooter-wrapper
{
    width:100%;
    background-color:#3c3c3c;
    min-height: 274px;
    clear:both;
    color:white;
    margin-top:20px;
}

#LaboralFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#LaboralFooter h2
{
    color: white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#LaboralFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#LaboralFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#LaboralFooter ul li
{
    color: #CCCCCC;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#LaboralFooter ul li a
{
    color: #CCCCCC;
    font-size:13px;
    text-decoration: none;
}

#LaboralFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:white;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#LaboralFooter dl.actionMenu.activated dd
{
    position:static;
}

#LaboralFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

/* ==== Tile Items ==== */
.tileItem
{
    width: 313px;
    height: 240px;
    float: left;
    background-color: white;
    margin: 10px;
    padding:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.tileItem.tileEven
{
    margin-left:0;
}

.tileItem.tileOdd
{
    margin-right:0;
}

#content div.tileItem img.tileImage, div.tileItem img.tileImage
{
    margin-right:0;
    margin-left:9px;
    max-width:180px;
    max-height:180px;
    width:auto;
    height:auto;
}

.tileHeadline
{
    clear: both;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
}

#content div.tileItem p.tileBody, p.tileBody
{
    margin:0;
    padding:0;
    width:auto;
    font-size:12px;
}

#content div.tileItem .tileFooter
{
    display:none;
}

#content h2.tileHeadline a, div.tileHeadline a
{
    color: #3C3C3C !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
}

#content h2.tileHeadline a.state-private, div.tileHeadline a.state-private
{
    color:red !important;
}

#content .tileItem .pastEventDateFrom, .pastEventTable .pastEventDateFrom, .pastEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .pastEventDateUntil, .pastEventTable .pastEventDateUntil, .pastEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .futureEventDateFrom, .futureEventTable .futureEventDateFrom, .futureEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

#content .tileItem .futureEventDateUntil, .futureEventTable .futureEventDateUntil, .futureEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

.oneDayDate
{
    margin-right:5px !important;
}

img.tileImage
{
    float: right;
}

.eventDayInfo{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 7px;
    text-align: center;
}

.futureEventDateFrom .eventDayInfo, .futureEventDateUntil .eventDayInfo, .futureEventDateFrom .eventMonthInfo, .futureEventDateUntil .eventMonthInfo, .futureEventDateFrom .eventYearInfo, .futureEventDateUntil .eventYearInfo
{
    color:white;
}

.pastEventDateFrom .eventDayInfo, .pastEventDateUntil .eventDayInfo, .pastEventDateFrom .eventMonthInfo, .pastEventDateUntil .eventMonthInfo, .pastEventDateFrom .eventYearInfo, .pastEventDateUntil .eventYearInfo
{
    color:#a3a3a3;
}

.eventMonthInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
}

.eventYearInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    text-align: center;
}

.visualClearLeft
{
 clear:left;   
}

.visualClearRight
{
 clear:right;   
}

/* ====  VIEWS ====*/

.pageWrapper
{
    background-color: white;
    padding:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.newsImageContainer p.discreet {
    background-color: transparent;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
}

#content div.newsImageContainer
{
    margin-right:0;
}

.pastEventTable, .futureEventTable
{
    float:left;
    clear:left;
    margin:0;
}

.eventDetails {
    clear: left;
    display: inline-block;
    float: none;
    margin: 0;
}

.pastEventTable .location, .futureEventTable .location, .pastEventTable .event-contact, .futureEventTable .event-contact
{
    clear: left;
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: -10px;
    max-width: 150px;
    font-weight: bold;
    color:#666666;
}

span#parent-fieldname-location
{
    font-weight:normal;
}

.pastEventTable .event_time, .futureEventTable .event_time
{
    font-size:15px;
    clear: left;
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: -10px;
    max-width: 150px;
    color:#666666;
}

.pastEventTable .event_time span.event-hour, .futureEventTable .event_time span.event-hour
{
    /*font-weight: bold;*/
}

#content div.pageWrapper h1.documentFirstHeading
{
    color:black;
    margin-bottom: 20px;
}

#content div.pageWrapper p.documentDescription
{
    font-weight: bold;
}

/* ==== Portlets ====*/

dl.portlet dt, div.portletAssignments div.portletHeader {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E0E0E0;
    color: #A4A4A4;
    font-size:18px;
    padding: 5px 0 3px;
}

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
    border-bottom: 1px solid #E0E0E0;
    padding:1em 0;
}

.relatedTitle, .portletItem .tile
{
    color:#3C3C3C !important;
    text-decoration:none;
    border:none;
    font-weight: bold;
}

.portletItem .relatedDiscription 
{
    margin-bottom:0;
}

.portletItem .visualClear
{
    margin-bottom: 5px;
}

.collectionImage
{
    position:relative;
    float:left;
}

.collectionImage img
{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-13px;
    margin-top:-13px;
    opacity:0.7;
}

.collectionImage:hover img
{
    opacity:1;
}

.collectionImage img.relatedImage
{
    position:static;
    top:auto;
    left:auto;
    margin-left:0;
    margin-top:0;
    opacity:1;
}

.relatedTitle:hover
{
    color:#3C3C3C;
    text-decoration:underline;
}

.relatedImage {
    float: left;
    margin-right: 10px;
    width:auto;
    height:auto;
}

dl.portlet a:link
{
    border-bottom:none;
}

dl.portlet a:visited
{
    border-bottom:none;
}

dl.portlet a:hover
{
    color:#3c3c3c !important;
    text-decoration:underline;
}
/* ==== Flowplayer ==== */

.autoFlowPlayer, .autoFlowPlayerFake
{
	background-color: #000000 !important;
	margin:6px;
}

.file-view .autoFlowPlayer, .file-view .autoFlowPlayerFake
{
	margin:0 auto;
	position:relative;
}


.tileItem a.autoFlowPlayer
{
    width:270px;
    height:150px;
    position:relative;
    margin:0 auto;
}

.tileItem a.autoFlowPlayer.audio
{
	width:269px !important;
	height:23px !important;
}

.tileItem a.autoFlowPlayerFake
{
    position:static;
}

.tileItem a.autoFlowPlayer img.splash, .tileItem a.autoFlowPlayerFake img.splash
{
    width:270px;
    height:180px;
}

.tileVideo
{
    width:270px;
    height:150px;
    overflow:hidden;
    margin:0 auto;
}

.autoFlowPlayer span.controls, .autoFlowPlayerFake span.controls
{
	bottom:0;
	left:0;
	margin-left:6px;
	margin-top:0px;
	position:absolute;
	top:auto;
}

.autoFlowPlayer span.controls img, .autoFlowPlayerFake span.controls img
{
	margin-left:0px;
	margin-top:-24px;
	opacity:1;
}

.autoFlowPlayer img, .autoFlowPlayerFake img
{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -51px;
	margin-left: -51px;
	opacity:0.75;
}

.autoFlowPlayer:hover img .autoFlowPlayerFake:hover img
{
	opacity:1;
}

.autoFlowPlayer img.splash, .autoFlowPlayerFake img.splash
{
	position:static;
	margin:0px;
	opacity:1;
	height:192px;
	width:346px;
}

.file-view .audio
{
	width:724px !important;
	height:24px !important;
}

.tileVideo
{	
	position:relative;
	margin-top:19px;
}


/* ==== SEARCH RESULTS ====*/

.template-search #portal-column-content
{
    width:97.5% !important;
    margin-left: -101% !important;
}

.template-search #content h1.documentFirstHeading
{
    margin-left: 5px;
    width: 103.5%;
}

.template-search #content p,.template-search #content table,.template-search #content dl,.template-search dl.portlet p,.template-search dl.portlet {
    margin-bottom: 1em;
    width: 106%;
}

.template-search #content dd
{
    margin:0px 0px 0px 10px;
}

.result-leadimage a
{
    border:none !important;
}

.documentContent dl
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border: none;
	background-color: white;
	margin:6px;
	padding:6px;
}

dl.searchResults
{
	background: transparent;
	border: none;
	margin:-6px
}

div.search_result_box
{
	-moz-border-radius:5px;
        -webkit-border-radius:5px;
        border: none;
        background-color: white;
        margin:10px 10px;
        padding:10px;
	float: left;
	width: 45.9%;
	height: 200px;
        max-height: 200px;
}

div.resultTypes {
	margin-top: 25px;
        margin-bottom:30px;
}

#content form.searchPage div.resultTypes ul
{
	list-style:none;
        list-style-type:none;
        margin:0;
}

#content form.searchPage div.resultTypes ul li
{
	display:inline;
	margin-right:20px;
        margin-left: 0;
}

div.resultTypes ul li a, div.resultTypes ul li a:visited, div.resultTypes ul li a:active
{
}

div.result-leadimage
{
	position: relative;
}

div.result-leadimage img
{
	position:absolute;
	margin-top:-13px;
	margin-left:-13px;
	top: 50%;
	left: 50%;
	opacity:0.5;	
}

div.result-leadimage:hover img
{
	opacity: 1;
}

div.result-leadimage img.leadimage
{
    	margin-left:10px;
	position:static;
	margin-top:0;
	opacity:1;
}

div.result-leadimage
{
	float:right;
        margin-right:10px;
}

#content .search_result_box dt a.resultHeading
{
    color:#3c3c3c;
    font-size: 14px;
    border:none;
    clear:right;
    margin-bottom:20px;
    margin-left:10px;
    margin-top:10px;
    float:none;
    display:block;
}

#content div.resultTypes a:visited, #content div.resultTypes a{
    border-bottom:none;
    color: #3c3c3c;
    padding:5px 9px;
}

#content div.resultTypes a:hover
{
    color:white !important;
    background-color:#3c3c3c;
    padding:5px 9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    text-decoration:none;
}

#content div.resultTypes strong
{
    color:white;
    background-color:#3c3c3c;
    padding:5px 9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content .search_result_box dt a.resultHeading:hover
{
    color:#3c3c3c !important;
}

input.searchPage {
    font-size: 100% !important;
}

/* ==== Paging ==== */



#content div.listingBar
{
    margin:0px 0px 20px 0px;
    width: 100%;
}

.template-search #content div.listingBar
{
    margin: 0 0 0 3px;
    width: 104%;
}

#content div.listingBar span.next {
    background-color:#FFFFFF;
    padding:0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.listingBar span.previous{
    background-color:#FFFFFF;
    padding:0;
    float:left;
    margin-right:3px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.listingBar span:hover 
{
 
    text-decoration:none;
}

#content div.listingBar span a
{
    color:#3c3c3c;
    background-color:#FFFFFF;
    border:none;
    padding:5px 9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.listingBar span a:hover
{
    color:#ffffff !important;
    background-color:#3c3c3c;
    text-decoration:none;
}

#content div.listingBar a
{
    color:#3c3c3c;
    background-color:#ffffff;
    border:none;
    padding:5px 9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.relatedDate.pastDate
{
    text-decoration:line-through;
}

#content div.listingBar a:hover
{
    color:#ffffff !important;
    background-color:#3c3c3c;
    border-color:transparent;
    text-decoration:none;
}

#content div.listingBar span.current
{
    background-color:#3c3c3c;
    border:none;
    color:#FFFFFF;
    display:inline-block;
    margin-top:-1px;
    padding:5px 9px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.listingBar span {
    padding:3px 5px;
}

/* ====  AddThis toolbox ==== */

.tileItem
{
    position:relative;
}

.tileItem .addthis_toolbox
{
    position:absolute;
    bottom:12px;
    left:20px;
    margin-bottom:0px;
}
.addthis_toolbox
{
    height: 20px;
    width: 340px;
    margin-bottom:20px;
}

.addthis_toolbox a
{
    text-decoration:none !important;
    border:none !important;
}

/* counter */

.tileItem .addthis_button_compact
{
    display:none !important;
}

.tileItem .addthis_counter.addthis_pill_style
{
    background-color:transparent !important;
    width:20px !important;
    display: inline;
    float: none;
    margin: 0 0 0 4px;
    top: 0px;
}

a.addthis_button_more img
{
    cursor:pointer;
}

#content .tileItem a.addthis_button_expanded
{
    -moz-border-radius: 35px !important;
    -webkit-border-radius: 35px !important;
    border-radius: 35px !important;
    background-color: #B3B3B3 !important;
    left: -1px;
    right: inherit !important;
    top: -7px !important;
    width: 20px !important;
    color:white !important;
    padding: 3px 0px 1px 1px !important;
}

div .tileItem a.addthis_button_expanded
{
    -moz-border-radius: 35px !important;
    -webkit-border-radius: 35px !important;
    border-radius: 35px !important;
    background-color: #B3B3B3 !important;
    left: -1px;
    right: inherit !important;
    top: -3px !important;
    width: 20px !important;
    color:white !important;
    padding: 3px 0px 1px 1px !important;
}

.shareButtonHover
{
    display:none;
}

/* ==== Forms ====*/
.field input[type="text"], textarea
{
    border:1px solid #ccc;
}

.field input[type="text"]
{
    height:25px;
}

input[type="button"], input[type="submit"]
{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    background-image:none;
    background-color: #3C3C3C;
    background-position: 13px center;
    background-repeat: no-repeat;
    border: medium none;
    color: white;
    font-size: 104%;
    font-weight: normal;
    height: 31px;
    margin: 0 0 0 0px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    cursor:pointer;
}

div.formHelp
{
    color:#C0C0C0;
    font-size:90%;
}

div.formControls
{
    margin:0;
}

.template-contact-info #content-core form textarea
{
    width: 350px;
}

.template-contact-info #content
{
    -moz-border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 white;
    font-size: 80%;
    line-height: 18px;
    margin: 0 0 43px;
    padding: 20px;
}

.template-contact-info #content .documentFirstHeading
{
    color: black;
    padding: 0 0 3px;
    margin-bottom:20px;
}

.template-contact-info #content #content-core
{
    margin-top:20px;
}

/* ==== Stupid icons ==== */

.icons-on .contenttype-document, .icons-on .contenttype-event, .icons-on .contenttype-folder, .icons-on .contenttype-link, .icons-on .contenttype-news-item, .icons-on .contenttype-plone-site, .icons-on .contenttype-topic, .icons-on #plone-contentmenu-factories .contenttype-file, .icons-on #plone-contentmenu-factories .contenttype-image {
    display: block;
    line-height: inherit;
    padding-left: 0px !important;
    background: none;
}
