h1 { 
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 24pt;
    line-height: 30pt;
    font-weight: 100; 
    margin: 0px; 
    text-align: center;
}

h2 { 
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 20px;
    font-weight: normal;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

body {
    background-color: #C9C994;
    font-family: Verdana, arial, helvetica, sans-serif; 
    font-size: 10pt;
    margin: 0px 0px 10px 0px;
    padding-left: 30px;
    padding-right: 30px;
}

a { 
    color: #000066;
    text-decoration:none; 
}

a:hover { 
    color: #990000;
    text-decoration: underline; 
}

a:visited { 
    color: #006600;
}

img { 
  border: none;
}

cite { 
  font-style: normal;
}

acronym[title], abbr[title], cite[title] { 
  border-bottom: 1px dotted black;
  cursor: help;
}

table.bordered { 
  border: thin solid; 
  margin: 1em; 
}

table.bordered th, table.bordered td { 
  border: thin inset;
  padding: 0 0.5em 0 0.5em; 
  margin: 0; 
}

th, table-header {
    background-color: #996;
}

td {
    background-color: #C9C994;
}

pre, .literal-block { 
  font-family: courier, monospace;
  font-size: 10pt;
  line-height: 110%;
  margin-left: 2em;
}

.literal-block {
  border: 1px solid;
  padding: 1em;
  background-color: #BAB46A;
}
