/* Global */

body {
  font-family: 'Lucida Grande', 'Trebuchet MS', 'Bitstream Vera Sans', sans-serif;
}

.hiddenStructure {
    display: none;
}

/* Logo */

#logo a img {
    border: none;
}

/* Navigation */

#portal-globalnav {
    list-style: none;
    line-height: auto;
    padding-left: 0;
    margin: 2em 0;
    white-space: nowrap;
}

#portal-globalnav li {
    display: inline;
}

#portal-globalnav li a {
    text-decoration: none;
    padding: 1em 1.5em;
    border: 1px dotted #000;
}

#portal-globalnav li.selected a {
    background-color: #DDD;
}

