
.componentTitle{
  font-size:120%;
  margin:0.2em 0;
  font-weight: bold;
}

div.commentInfo{
  background-image:none;
  font-weight: normal;
  padding: 0.2em;
  background : #f2f2f2;
  border: 1px solid #dfdfdf
}

/* patches */
.diffChunk div.section{
 width:auto;
}

.diffChunk .vcreview_activitysection,
.diffChunk .commentsection{
  margin-left: 3.8em;
}
.diffChunk .vcreview_activitysection{
 margin-top:1em
}

.diffChunk .commentsection{
 margin-bottom: 1em}

div.diffComment{
  margin-bottom: 1.8em;
  color: #333;
}

span.diffChunkTitle{
 font-weight:bold;
}

.diffCmd {
 font-weight: bold;
 font-size:130%;
 margin: 1em 0 0;
}

div.diffChunk pre{
 margin: 0.5em 0;
 padding: 0 0.3em;
 border-color:#dfdfdf;
 line-height: 1.2m;
}

div.diffChunk pre div.diffOldLine {
 color:#FF4500;
}

div.diffChunk pre div.diffNewLine {
  color: green;
}
