[buildout]
develop = .
parts = test checker coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.layer.minimal [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/layer/minimal

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
