[buildout]
develop = .
parts = test eggs

[eggs]
recipe=zc.recipe.egg
eggs =
    collective.releaser

[test]
recipe = zc.recipe.testrunner
eggs = collective.releaser [test]
defaults = ['--keepbytecode', '--quiet',
            '--ignore_dir', 'eggs',
            '--ignore_dir', 'lib',
            '--ignore_dir', 'collective/releaser/tests/lib']

