#portal-column-one .visualPadding {
    padding:2em 0 1em;
}

#portal-column-two .visualPadding {
    padding:2em 0 1em;
}

h1 {
  font-size: 215%;
  font-weight: bold;
  letter-spacing: -1px;
}
h2 {
  font-size: 190%;
}
h3 {
  font-size: 180%;
  font-weight: normal;
}
h4 {
  font-size: 165%;
  font-weight: normal;
}

h5 {
  font-size: 150%;
  font-weight: normal;
}

h6 {
  font-size: 140%;
  font-weight: normal;
}

#portal-logo img {
  border:0 none;
  margin:0 10px 68px 35px;
  padding:0;
}

#portal-searchbox {
  margin:10px 30px 10px 0;
}

#portal-siteactions {
  margin: 10px 27px 10px 10px;
}

#portal-siteactions a {
   color: white !important;
   border: none !important;
   font-weight: bold !important;
   background-color : transparent !important;
}

#portal-siteactions a:hover {
   border-bottom: 1px solid white;
}

#portal-footer {
  padding: 0;
}

/* IE7 fix */
*+html #portal-footer {
  height: 0.1%;
}