[buildout]
master-parts =
    master
    buildbot
# uncomment this to enable polling
#    poller

[master]
recipe = collective.buildbot:master
project-name = buildbot project

# allow to force build with the web interface
allow-force = true

# internal port
port = 9050

# http port
wport = 9080

# buildbot url. change this if you use a virtualhost
url = http://localhost:9080/

# static files
public-html = ${buildout:directory}/public_html

slaves =
    localslave fiSYkheN

[buildbot]
recipe = collective.buildbot:project
slave-names = localslave
vcs = svn
repositories = 
    http://svn.plone.org/svn/collective/collective.buildbot/trunk/

# notifications
#mail-host = localhost
#email-notification-sender = buildbot@MacZiade.ingenidev
#email-notification-recipient =
#    my.project@my.company.com

# run test each hour
#periodic-scheduler=60

# cron build
cron-scheduler = 0 8 * * *


# You can change the sequences to build / test your app
# default options should work for most buildout based projects
#build-sequence =
#    /usr/bin/python2.5 bootstrap.py -c project.cfg
#    /usr/bin/python2.5 bin/buildout -c project.cfg

test-sequence =
    bin/test
# zope.testing require exit with status
#    bin/test --exit-with-status

[poller]
recipe = collective.buildbot:poller
# dont forget to check this
# since it's generated from the paster template it may be a wrong url
repositories = http://svn.plone.org/svn/collective/collective.buildbot/trunk/

#user = h4x0r
#password = passwd
poll-interval = 120


