ul.contextlinks li {
    list-style: none;
    display: inline;
    padding-right: 10px;
    padding-left: 10px;
    border-left: 1px solid black;
}

ul.contextlinks li:first-child {
    list-style: none;
    display: inline;
    padding-left: 0;
    padding-right: 10px;
    border-left: none;
}