#passurl{
	background: url(/img/assets/passurl_icon.png) no-repeat;
	background-color: #fff;
	background-position: 3px 3px;
	color: #000;
	padding: 3px 23px 3px 23px;
	width: 288px;
	border: 1px solid #7F9DB9;
}
.error {
	border: 1px solid #ff0000;
	background: #ffaaaa;
}
.warning {
	border: 1px solid #FDFF5D;
	background: #FFFFC0;
}
.message, .identity {
	border: 1px solid #2233ff;
	background: #eeeeff;
}
.form {
	border: 1px solid #777777;
	background: #ddddcc;
}
.alert {
	border: 1px solid #e7dc2b;
	background: #fff888;
}
.error {
	border: 1px solid #ff0000;
	background: #ffaaaa;
}
.good{
    background: url('/img/assets/good.gif') left no-repeat;
    padding-left: 18px;
    color: #088F00;
}
.bad{
    background: url('/img/assets/bad.gif') left no-repeat;
    padding-left: 18px;
    color: #EF2C2C;
}
.highlight{
    color: #FF009A;
    font-weight: bold;
}
