.thirdWidthList {
    max-width:32%;
	float:left;
	min-width:32%;
	width:32%;
	margin-bottom:1em;
}

.halfWidthList {
	width:48%;
	float:left;
	max-width:48%;
	min-width:48%;
    margin-bottom:1em;
}

.fullWidthList {
	max-width:96%;
	min-width:96%;
	float:left;
	width:96%;
	margin-bottom:1em;
}

#pageBody {
	padding-top: 1em;
    clear: both;
}

.jyudynapage_date {
	font-size: 85%;
}

.jyudynapage_description {
    font-size: 85%;
    line-height: 1.5em;
   
}

.list_title_rss {
	float:right;
}

.list_title {
	float:left;
}

.listTitleHeading {
  	background: #D1DEE5 url(portlet_right_header_bg.png) repeat-x scroll 0 0;
	padding:0.25em 0.5em;
	font-size: 100%;
	margin: 0em;
	color: #444;
	height: 1.4em;
	margin-right:0.5em;
}

#dpBanner {
	background: url('etusivu.jpg') no-repeat;
	width: auto;
	height: 8em;
	margin: 0em;
	padding: 0em;
}

div.documentActions {
    text-align: right;
    clear: both;
}

.thirdWidthList ul, 
.halfWidthList ul, 
.fullWidthList ul  {
	list-style-image:url(navlisticon.gif);

}

.thirdWidthList li a, 
.halfWidthList li a, 
.fullWidthList li a {
	border-bottom: none;
}

#first_list_keywords, 
#second_list_keywords, 
#third_list_keywords, 
#fourth_list_keywords  {

	width: 60%;
}


