
.workflow-item{
    border:1px solid black;
    margin: 5px 0;
    background-color:#F5F5F5;
}

.workflow-item select[multiple='multiple']{
    min-width:200px;
    min-height:90px;
}

ul.workflow-list{
    margin: 0;
    padding: 0;
}

div.workflow-item h3{
    margin: 4px;
    border-bottom:1px solid black;
    background-color:#E1E1E1;
    min-height:35px;
    line-height:35px;
}

div.hidden-content{
    /* display:none; */
}

div.hidden-content fieldset{
    margin: 0 15px;
}

div.workflow-item h3 span.goes-to, .initial-state{
    font-size:70%;
    color:red;
}

div.workflow-item h3 span.goes-to a.goto-link{
    color:red !important;
    border:1px solid transparent;
    padding: 0 2px;
}

#content div.workflow-item h3 span.goes-to a.goto-link:hover{
    background-color: #F1F1F1;
    border:1px solid black;
}

div#status-messages{
	display:none;
	background:transparent url(++resource++uwosh.northstar.graphics/white_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:black;	
	position:fixed;
	right:25px;
	bottom:5px;
	z-index:101;
}

div#dialog-box{

}

/* container for external content. uses vertical scrollbar, if needed */
div#contentWrap {
    -moz-box-shadow:0 0 3em 0.5em #666666;
    white-space:normal;
    -webkit-box-shadow: #666 0px 0px 3em;
}

div#overlay > * {
    background-color:#FFFFFF;
    padding:1em;
    white-space:normal;
}

div#overlay  {
    display:none;
    min-height:100px;
    width:60%;
    z-index:99;
    font-size:90%;
    height:auto;
    margin:1em;
    padding:0;
    border:4px solid #205C90;
}

div#overlay a.close, div#overlay div.close {
	background-image:url(++resource++uwosh.northstar.graphics/apple-close.png);
	background-repeat:no-repeat;
    cursor:pointer;
    height:30px;
    position:absolute;
    right:-37px;
    top:-14px;
    width:30px;
    background-color:transparent;
}

div.formControls{
    margin-bottom:10px;
    margin-left:10px;
    clear:both;
    padding-top:10px;
}

div.item-properties{
    float:left;
}


div.hidden-content form{
    clear:both;
}

div.state-permissions, div.state-group-roles{
}

p.discreet span.initial-class{
    font-size:100%;
}

a.dialog-box{
    text-decoration:none;
}

.doc-link{
    display:none;
}

span.set-top h3{
    display:inline;
}
span.set-top a.dialog-box{

}

#kss-spinner{
    z-index:101;
}

.inline{
    display:inline;
}

#northstar-container{
    position:relative;
}

#northstar-logo{
    position: absolute;
    right:0;
    top:-80px;
    z-index:101;
}

.field .formHelp, #prompt .field .formHelp{
    font-size:80%;
    line-height:100%;
    margin-bottom:5px;
}

#prompt .field .formHelp{
    font-size:100%;
}

.formPanel{
    padding: 10px 1em;
}

.workflow-item .formPanel{
    padding: 0 1em 1em;
}

.workflow-item .field{
    margin:0 0 5px 0;
}

.sub-form div, .sub-form select{
    margin:0 10px;
}

#advanced-mode{
    float:right;
    padding:5px 5px 0 0;
}

#unsaved-warning b{
    color:#205C90;
}

#save-all-button{
    margin: 0 10px;
}

.documentContent a.dialog-box:link{
    border:none;
}

#overlay-mask{
    position:fixed !important;
    width:100% !important;
    height:100% !important;
}

h3.header{
    position:relative;
}

h3.header a.delete{
    position: absolute;
    right: 5px;
    top: 7px;
}

span.arrow{
    padding: 0 8px 3px;
    border:1px solid #E1E1E1;
    cursor:pointer;
    margin-left:5px;
}
span.arrow:hover{
    border:1px solid black;
    background-color: #F1F1F1;
}

div#tabs-menu ul.formTabs {
    border: 2px solid black;
    padding: 5px;
    z-index:100;
    top:5px;
    left:5px;
    background-color:#DDDDDD;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
    min-height:30px;
    text-align:inherit;
}

div#tabs-menu ul.formTabs li.formTab a{
    border: 1px solid black;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
}

div#tabs-menu{
    position:relative;
    min-height:45px;
}

#prompt textarea{
    width:98%;
}

span.tooltip{
    cursor:pointer;
    display:block;
}

/* tooltip styling */
.tooltip-contents {
	display:none;
	background:url(++resource++uwosh.northstar.graphics/white_arrow.png);
	height:120px;
	width:210px;
	font-size:11px;
	color:black;
}

.tooltip-contents dl{
    padding: 5px 10px;
}

#content .tooltip-contents dl dt, #region-content .tooltip-contents dl dt{
    text-decoration:underline;
    padding: 3px 0 0 5px;
    margin-bottom:0;
    margin-top:0;
}
    
#content .tooltip-contents dl dd{
    margin: 0 10px;
    line-height:15px;
}

.hidden{
    display:none;
}

a.dialog-box.delete{
    font-size:12px;
}