[buildout]
parts = instance

find-links = http://dist.repoze.org/bfgsite/simple
              
eggs = zopyx.smartprintng.server
     
       
[instance]
recipe = repoze.recipe.egg:scripts
find-links = http://dist.repoze.org/bfg/1.0/simple
             http://dist.repoze.org/bfgsite/simple
             http://pypi.python.org/simple
eggs = repoze.bfg 
       repoze.bfg.xmlrpc
       ${buildout:eggs}
