[buildout]
extensions = mr.developer
develop = .
parts = bluebream
        test
        tools

extends = versions.cfg

versions = versions
allow-picked-versions = false


[versions]
# additional versions for the toolchain
zest.releaser = 3.10
PrettyTable = 0.5


[bluebream]
recipe = zc.recipe.egg
eggs = bluebream [test]
       PasteScript


[test]
# run test of additional packages used by bluebream
recipe = z3c.recipe.compattest
include = ${bbkit:packages}


[tools]
# tools to check new versions and to release bluebream
recipe = zc.recipe.egg
eggs = PrettyTable
       z3c.checkversions [buildout]
       zest.releaser

interpreter = py


[bbkit]
# additional packages on top of the ZTK
version = 1.0dev

packages =
  bluebream
  z3c.testsetup


[sources]
# sources for the additional packages
bluebream = svn svn+ssh://svn.zope.org/repos/main/bluebream/trunk
z3c.testsetup = svn svn+ssh://svn.zope.org/repos/main/z3c.testsetup/trunk
