[buildout]
develop = .
parts = test checker coverage-test coverage-report


[test]
recipe = zc.recipe.testrunner
eggs = s01.core [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/s01/core


[coverage-test]
recipe = zc.recipe.testrunner
eggs = s01.core [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
