/* Stylesheet for the 'Laboral theme' Plone theme */

body
{
    background-color:#f6f6f6;
    background-image:url(++resource++plonetheme.laboral.images/background.jpg);
}

#visual-portal-wrapper
{
    margin-left:auto;
    margin-right:auto;
}

div.position-3\3a 4 {
    margin-left: -22.2%;
}

#portal-column-two
{
    margin-bottom:20px;
}

#portal-column-one
{
    width:22.75% !important;
}

#portal-top
{
}

#head-wrapper
{
    background-color:white;
    height: 127px;
    margin-bottom: 20px;
}

#head-width
{
    margin:0px auto;
    width:980px;
}

#portal-logo {
    display: inline-block;
    margin: 64px 0;
    float: left;
}

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 36px 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton {
    border: 1px solid darkGray;
}

#searchGadget {
    border: 1px solid #cccccc;
    height: 29px;
    padding: 0 0 0 5px;
    width: 241px;
}

.LSBox input.searchButton {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    background-color: #3C3C3C;
    background-image: url("++resource++plonetheme.laboral.images/searchglass.png");
    background-position: 13px center;
    background-repeat: no-repeat;
    border: medium none;
    color: white;
    font-size: 104%;
    font-weight: normal;
    height: 31px;
    margin: 0 0 0 -5px;
    padding-bottom: 0;
    padding-left: 33px;
    padding-right: 15px;
}

@-moz-document {
    .LSBox input.searchButton {
        margin-top:-1px;
        padding-bottom:1px;
    }    
    #searchGadget {
        position: relative;
        top: -2px;
    }
} 

/* ==== COMPLICATED STUFF ==== */

div.width-full {
    width: 100%;
}

div.width-full {
    width: 100%;
}

div.position-0 {
    margin-left: -100%;
}

div.position-1\3a 4 {
    margin-left: -73.875% !important;
}

div.position-3\3a 4 {
    margin-left: -23.2%;
}

div.width-1\3a 4 {
    width: 23.75%;
}

div.width-3\3a 4 {
    width: 75%;
}

#portal-columns
{
    width:970px;
    margin: 0 auto;
    float: none;
    clear: both;
}

td img
{
    max-width: 330px !important;
    height:auto;
}

#fieldset-default table
{
    border:none !important;
}

/* ==== TYPOGRAPHY ==== */

body
{
    font-family: "Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 18px;
}

h1, h2, h3, h4, h5, h6 {
color:Black;
font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
}

h1, h1 a, #content h1 a:link
{
    font-size: 18px;
}

h2, h2 a, #content h2 a:link
{
    font-weight:bold;
}

#content h1.documentFirstHeading, .related-type-title {
    border-bottom: 1px solid #E0E0E0;
    color: #A4A4A4;
    padding: 0 0 3px;
}

.related-type-title {
    font-size:18px;
    font-weight:bold;
}

a:hover
{
    text-decoration:underline;
}


.mceContentBody a {
    background-color:transparent;
    border-bottom:inherit !important;
    text-decoration:none !important;
}

#content h2.tileHeadline a, input#title
{
    font-size: 18px;
}

input#title
{
    text-decoration: none !important;
}

#content h2.tileHeadline a:hover, input#title
{
    text-decoration:underline;
}

#content .documentDescription, #content #description, #archetypes-fieldname-description textarea#description {
    font-family:"Lucida Grande","Lucida Sans Unicode",Garuda,sans-serif;
    font-size: 100%;
    font-weight:normal;
    margin-left:0;
    margin-bottom: 20px;
}

#content {
    font-size:80%;
    line-height: 18px;
    margin: 0 0 43px 0;
}

#parent-fieldname-text h2, .mceContentBody h2
{
    font-size:12px;
}

#content.mceContentBody
{
    font-size:11.2px;
}

/* ==== Language ==== */

#portal-languageselector {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: none;
    font-size: 70%;
    max-width: 50%;
    padding: 16px 0 0;
}

#portal-languageselector a
{
    color:#8c8c8c;
    text-decoration: underline;
    margin-left:10px;
}

.currentLanguage
{
    display:none;
}

/* ==== Editor ==== */

td.canonicalLanguage div
{
    height:auto !important;
}

#content.mceContentBody
{
    font-size: 12.8px;
}

td.targetLanguage, td.canonicalLanguage
{
    vertical-align:top;
}

.ploneSkin .mceExternalToolbar
{
    background-color: #cccccc !important;
}


/* ==== Footer ==== */

#portal-column-content
{
    margin-bottom:20px;
    margin-left:-100.6%;
}

#LaboralFooter-wrapper
{
    width:100%;
    background-color:#3c3c3c;
    min-height: 274px;
    clear:both;
    color:white;
    margin-top:20px;
}

#LaboralFooter
{
    width:980px;
    margin: 0px auto;
    padding:20px 0;
    line-height: 15px;
}

#LaboralFooter h2
{
    color: white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-decoration: none;
}

#LaboralFooter p
{
    display:none;
    margin:0;
    padding:0;
}

#LaboralFooter ul
{
    display:block;
    float:left;
    margin: 0 11px;
    min-width: 159px;
}

#LaboralFooter ul li
{
    color: #CCCCCC;
    display: block;
    font-size: 13px;
    line-height: 1.5em;
}

#LaboralFooter ul li a
{
    color: #CCCCCC;
    font-size:13px;
    text-decoration: none;
}

#LaboralFooter ul li a:hover
{
    text-decoration: underline;
}

#portal-personaltools
{
    float: left;
    background-color:transparent;
    margin-left: 20px;
    padding: 0;
}

#portal-personaltools a
{
    color:white;
}

#portal-personaltools dd {
    background-color:transparent;
    display:block !important;
    margin:0;
    padding:0;
}

#portal-personaltools dt {
    margin:2px 0 11px 0;
    padding:0;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

#portal-personaltools dt a, #portal-personaltools dt a:hover
{
    text-decoration:none;
    cursor:default !important;
}

#portal-personaltools dt#anon-personalbar a
{
    text-decoration:none;
    cursor:pointer !important;
}

#portal-personaltools dt#anon-personalbar a:hover
{
    text-decoration:underline;
    cursor:pointer !important;
}

#portal-personaltools dd ul
{
    margin: 10px 0 0;
    padding:0;
}

#portal-personaltools dd ul li a
{
    margin:0;
    padding:0;
    line-height:1.5em;
}

#portal-personaltools dd ul li a:hover
{
    background-color:transparent;
}

#LaboralFooter dl.actionMenu.activated dd
{
    position:static;
}

#LaboralFooter dl.actionMenu.activated dt a, dl.actionMenu.activated dd a, dl.actionMenu.activated dd div {
    margin: 0;
}

/* ==== Tile Items ==== */
.tileItem
{
    width: 313px;
    height: 240px;
    float: left;
    background-color: white;
    margin: 10px;
    padding:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.tileItem.tileEven
{
    margin-left:0;
}

.tileItem.tileOdd
{
    margin-right:0;
}

#content div.tileItem img.tileImage, div.tileItem img.tileImage
{
    margin-right:0;
    margin-left:9px;
    width:140px;
    height:auto;
}

.tileHeadline
{
    clear: both;
    letter-spacing: 0.02em;
    margin-bottom: 18px;
}

#content div.tileItem p.tileBody, p.tileBody
{
    margin:0;
    padding:0;
    width:auto;
    font-size:12px;
}

#content div.tileItem .tileFooter
{
    display:none;
}

#content h2.tileHeadline a, div.tileHeadline a
{
    color: #3C3C3C !important;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
}

#content .tileItem .pastEventDateFrom, .pastEventTable .pastEventDateFrom, .pastEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .pastEventDateUntil, .pastEventTable .pastEventDateUntil, .pastEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
    background-image:url(++resource++plonetheme.laboral.images/eventDatePast.jpg)
}

#content .tileItem .futureEventDateFrom, .futureEventTable .futureEventDateFrom, .futureEventDateFrom
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

#content .tileItem .futureEventDateUntil, .futureEventTable .futureEventDateUntil, .futureEventDateUntil
{
    width:59px;
    height:70px;
    background-color: #3c3c3c;
    margin:0 0 15px 0;
    float:left;
    border:1px solid white;
    border-left:none medium transparent;
}

img.tileImage
{
    float: right;
}

.eventDayInfo{
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 7px;
    text-align: center;
}

.futureEventDateFrom .eventDayInfo, .futureEventDateUntil .eventDayInfo, .futureEventDateFrom .eventMonthInfo, .futureEventDateUntil .eventMonthInfo, .futureEventDateFrom .eventYearInfo, .futureEventDateUntil .eventYearInfo
{
    color:white;
}

.pastEventDateFrom .eventDayInfo, .pastEventDateUntil .eventDayInfo, .pastEventDateFrom .eventMonthInfo, .pastEventDateUntil .eventMonthInfo, .pastEventDateFrom .eventYearInfo, .pastEventDateUntil .eventYearInfo
{
    color:#a3a3a3;
}

.eventMonthInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
}

.eventYearInfo
{
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    line-height: 13px;
    text-align: center;
}

.visualClearLeft
{
 clear:left;   
}

.visualClearRight
{
 clear:right;   
}

/* ====  VIEWS ====*/

.pageWrapper
{
    background-color: white;
    padding:20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

#content div.newsImageContainer p.discreet {
    background-color: transparent;
    color: #CCCCCC;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: auto;
}

.pastEventTable, .futureEventTable
{
    float:left;
    clear:left;
    margin:0;
}

.eventDetails {
    clear: left;
    display: inline-block;
    float: none;
    margin: 0;
}

.pastEventTable .location, .futureEventTable .location, .pastEventTable .event-contact, .futureEventTable .event-contact
{
    clear: left;
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: -10px;
    max-width: 150px;
    font-weight: bold;
    color:#666666;
}

span#parent-fieldname-location
{
    font-weight:normal;
}

.pastEventTable .event_time, .futureEventTable .event_time
{
    font-size:15px;
    clear: left;
    display: block;
    float: left;
    margin-bottom: 10px;
    margin-top: -10px;
    max-width: 150px;
    color:#666666;
}

.pastEventTable .event_time span.event-hour, .futureEventTable .event_time span.event-hour
{
    /*font-weight: bold;*/
}

#content div.pageWrapper h1.documentFirstHeading
{
    color:black;
    margin-bottom: 20px;
}

#content div.pageWrapper p.documentDescription
{
    font-weight: bold;
}

/* ==== Portlets ====*/

dl.portlet dt, div.portletAssignments div.portletHeader {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E0E0E0;
    color: #A4A4A4;
    font-size:18px;
    padding: 5px 0 3px;
}

dl.portlet dd.portletItem, dl.portlet dd.portletFooter, dl.portletError dd {
    border-bottom: 1px solid #E0E0E0;
    padding:1em 0;
}

.relatedTitle
{
    color:#3C3C3C;
    text-decoration:none;
    border:none;
    font-weight: bold;
}

.relatedTitle:hover
{
    color:#3C3C3C;
    text-decoration:underline;
}

.relatedImage {
    float: left;
    max-height: 100px;
    margin-right: 10px;
    max-width: 100px;
    width:auto;
    height:auto;
}

dl.portlet a:link
{
    border-bottom:none;
}

dl.portlet a:visited
{
    border-bottom:none;
}

/* ==== Flowplayer ==== */

.autoFlowPlayer
{
	background-color: #000000 !important;
	margin:6px;
}

.file-view .autoFlowPlayer
{
	margin:0 auto;
	position:relative;
}


.tileItem a.autoFlowPlayer
{
    width:270px;
    height:200px;
    position:relative;
    margin:0;
}

.tileItem a.autoFlowPlayer img.splash
{
    width:270px;
    height:200px;
}

.autoFlowPlayer span.controls
{
	bottom:0;
	left:0;
	margin-left:6px;
	margin-top:0px;
	position:absolute;
	top:auto;
}

.autoFlowPlayer span.controls img
{
	margin-left:0px;
	margin-top:-24px;
	opacity:1;
}

.autoFlowPlayer img
{
	position:absolute;
	top:50%;
	left:50%;
	margin-top: -51px;
	margin-left: -51px;
	opacity:0.75;
}

.autoFlowPlayer:hover img
{
	opacity:1;
}

.autoFlowPlayer img.splash
{
	position:static;
	margin:0px;
	opacity:1;
	height:192px;
	width:346px;
}

.file-view .audio
{
	width:774px !important;
	height:24px !important;
}

.tileVideo
{	
	position:relative;
	margin-top:19px;
}