
.workflow-item{
    border:1px solid black;
    margin: 5px 0;
    background-color:#F5F5F5;
}

.workflow-item select[multiple='multiple']{
    min-width:200px;
    min-height:90px;
}

ul.workflow-list{
    margin: 0;
    padding: 0;
}

div.workflow-item h3{
    margin: 4px;
    border-bottom:1px solid black;
    background-color:#E1E1E1;
    min-height:35px;
}

div.hidden-content{
    /* display:none; */
}

div.hidden-content fieldset{
    margin: 0 15px;
}

div.workflow-item h3 span.goes-to, .initial-state{
    font-size:70%;
    color:red;
}

div.workflow-item h3 span.goes-to a.goto-link{
    color:red !important;
    border:1px solid transparent;
    padding: 0 2px;
}

div.workflow-item h3 span.goes-to a.goto-link:hover{
    background-color: #F1F1F1;
    border:1px solid black;
}

div#status-messages{
	display:none;
	background:transparent url(++resource++plone.app.jquerytools.graphics/white_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:black;	
	position:fixed;
	right:25px;
	bottom:5px;
	z-index:101;
}

div#dialog-box{

}

/* container for external content. uses vertical scrollbar, if needed */
#contentWrap {
	height:441px;
	overflow-y:auto;
}

#overlay {
	display:none;
	background-image:url(++resource++plone.app.jquerytools.graphics/white.png);
	width:590px;		
	padding:35px;
	font-size:11px;
	position:absolute;
	z-index:100;
	top:-10px;
}

#overlay div.close {
	background-image:url(++resource++plone.app.jquerytools.graphics/apple-close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
	background-repeat:no-repeat;
}

div.formControls{
    margin-bottom:10px;
    margin-left:10px;
    clear:both;
    padding-top:10px;
}

div.item-properties{
    float:left;
}


div.hidden-content form{
    clear:both;
}

div.state-permissions, div.state-group-roles{
}

p.discreet span.initial-class{
    font-size:100%;
}

a.dialog-box{
    text-decoration:none;
}

.doc-link{
    display:none;
}

span.set-top h3{
    display:inline;
}
span.set-top a.dialog-box{

}

#kss-spinner{
    z-index:101;
}

.inline{
    display:inline;
}

#northstar-container{
    position:relative;
}

#northstar-logo{
    position: absolute;
    right:0;
    top:-80px;
    z-index:101;
}

.field .formHelp, #prompt .field .formHelp{
    font-size:80%;
    line-height:100%;
    margin-bottom:5px;
}

#prompt .field .formHelp{
    font-size:100%;
}

.formPanel{
    padding: 10px 1em;
}

.workflow-item .formPanel{
    padding: 0 1em 1em;
}

.workflow-item .field{
    margin:0 0 5px 0;
}

.sub-form div, .sub-form select{
    margin:0 10px;
}

#advanced-mode{
    float:right;
    padding:5px 5px 0 0;
}

#top-panel.enabled{
    position:fixed;
    bottom:0;
    left:0;
    margin:0;
    padding:5px;
    background: url(++resource++northstar-toolbar.png);
    border-top: 1px solid gray;
    width:100%;
    color:#f9f9f9;
    z-index:101;
}

#top-panel.enabled input{
    margin-left: 2px;
}

#top-panel.enabled input, #top-panel.enabled select{
    color:black;
}

#unsaved-warning b{
    color:#205C90;
}

#save-all-button{
    margin: 0 20px;
}

.documentContent a.dialog-box:link{
    border:none;
}

#overlay-mask{
    position:fixed !important;
    width:100% !important;
    height:100% !important;
}

h3.header{
    position:relative;
}

h3.header a.delete{
    position: absolute;
    right: 5px;
    top: 7px;
}

span.arrow{
    padding: 0 8px 3px;
    border:1px solid #E1E1E1;
    cursor:pointer;
}
span.arrow:hover{
    border:1px solid black;
    background-color: #F1F1F1;
}

div#tabs-menu ul.formTabs {
    border: 2px solid black;
    padding: 5px;
    z-index:100;
    top:5px;
    left:5px;
    background-color:#DDDDDD;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
    min-height:30px;
    text-align:inherit;
}

div#tabs-menu ul.formTabs li.formTab a{
    border: 1px solid black;
    -moz-border-radius-topleft:0.5em;
    -moz-border-radius-topright:0.5em;
}

div#tabs-menu{
    position:relative;
    min-height:45px;
}

#prompt textarea{
    width:98%;
}

