[buildout]
develop = .
parts = test py
allow-picked-versions = false
use-dependency-links = false
versions = versions
extends = versions.cfg

[test]
recipe = zc.recipe.testrunner
eggs = zc.ajaxform [test]

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py
