[buildout]
parts = 
    instance
    zopepy
    sphinxbuilder

extends = 
    http://dist.plone.org/release/4.0b5/versions.cfg

versions = versions
develop = .

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    Plone
    collective.recipe.sphinxbuilder
    niteoweb.clickbank
zcml =
    niteoweb.clickbank

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
interpreter = ${buildout:directory}/bin/zopepy