[buildout]
parts =
    django
    django-fcgi    
    contact-form
    tagging

[contact-form]
recipe = gocept.download
url = http://bitbucket.org/ubernostrum/django-contact-form/get/1d3791fa4dfb.zip
md5sum = 8e3e257fda807fef5f3abcc6b5beb398

[tagging]
recipe = gocept.download
url = http://bitbucket.org/fivethreeo/django-tagging-inheritance/get/ddc7695e7e70.zip
md5sum = a34fb38fd9617aa5a8894908c235d57d

[django-fcgi]
recipe = collective.recipe.template
port  = 8000
input = ${buildout:directory}/misc/conf/django-fcgi.sh.in
output = ${buildout:directory}/bin/django-fcgi.sh

[django]
recipe = djangorecipe
version = 1.1.1
eggs =
    PIL
    pysqlite
    feedparser
    django-pagination==1.0.6
    django-workflows==1.0b1
    django-permissions==1.0b1
    django-portlets==1.0b1
    django-lfc==1.0b1
    lfc-blog==1.0b1
    lfc-theme==1.0b1

project = lfc_project
settings=settings
extra-paths =
    ${buildout:directory}/lfc_project
    ${tagging:location}
    ${contact-form:location}

urls = lfc_project/urls