[buildout]
develop = .

extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg

parts = test checker coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = z3c.objectpolicy [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/objectpolicy

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.objectpolicy [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
