[seleniumrc]
#url = http://selenium.googlecode.com/files/selenium-remote-control-1.0.3.zip
#md5sum = 8935cc7fe4dde2fd2a95ddd818e7493b
#download-only = false
url = http://selenium.googlecode.com/files/selenium-server-standalone-2.0rc2.jar
md5sum = e197f7cbe1babea95803e78cbd591bdb
# Selenium RC >= 2.0 ships as plain .jar, so don't unzip
download-only = true
java-cmd=java
