[buildout]
develop = .
parts = bluebream
        test
        releaser
versions = versions

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[bluebream]
recipe = zc.recipe.egg
eggs = bluebream
       PasteScript

[test]
recipe = zc.recipe.testrunner
eggs = bluebream[test]

[versions]
zope.testing = 3.8.6
