/* 
 * Basic page CSS - nothing special here...
 */ 
body {
  background-color: white;
  color: black;
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  font-size: 11pt;
}

h1 {
  font-family:Georgia,Times,serif;
  font-size:18pt;
  font-weight:normal;
  margin-bottom:1px;
  margin-top:0px;
}

img {
  border: 0;
}

textarea {
    width=100%;
}

div.info {
    background-color: #99FFFF;
    color: #000000;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 9pt;
    font-style: italic;
    width: 90%;
    padding: 3px;
    margin: 3px;
    text-align: center;
    /* border: 1pt solid #9999FF; */
}
div.error {
    font-family:Georgia,Times,serif;
    font-size: 11pt;
    font-weight: bold;
    background-color: #FFCCCC;
    color: #330000;
    padding: 5px;
    margin: 3px;
    width: 90%;
    text-align: center;
    /* border: 1pt solid #ED9F9F; */
}
/* specific to sidebar positioning and layout - part of a form as well... */

.clear {
    clear: both;
}

#messages {
    margin: 0px;
    padding: 0px;
}
#page_header {
    /* border: 1pt solid #ED9F9F; */
}
#footer {
    /* border: 1pt solid #ED9F9F; */
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
}

#content_block {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 74%;    
    /* border: 1pt solid #ED9F9F; */
}

/* #content_header and #content are two divs sitting on top of each other within the #content_block */
#content_header {
    /* WANT TO DO ROUNDED RECT ON THIS... */
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 10px;
    height: 50px; /* specific height limit to keep block visually parallel to sidebar header */
    /* border: 1pt solid #ED9F9F; */
}
#content {
/*    border: 0pt none;*/
    /* border: 1pt solid #ED9F9F; */
    font-size: 10pt;
}

#sidebar {
    float: right;
    background-color: #F0F0F0;
    /* border: 1pt solid #ED9F9F; */
    margin: 0px;
    padding: 0px;
    width: 25%;
}

/* #sidebar_header and #sidebar_content are two divs sitting on top of each other within the #sidebar */
#sidebar_header {
    /* WANT TO DO ROUNDED RECT ON THIS... */
    -moz-border-radius: 4px;
    display: block;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 12pt;
    font-weight: bold;
    padding: 4px 10px;
    
    height: 50px; /* specific height limit to keep block visually parallel to content header */
    /* border: 1pt solid #ED9F9F; */
}
#sidebar_content {
    font-size: 10pt;
    padding: 2px 5px;
    /* border: 1pt solid #ED9F9F; */
}


/* django form processing specific bits */

ul.errorlist {
    margin: 0px;
    padding: 0px;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 8pt;
    margin: 0 0 3px;
    padding: 4px 5px;
    
}

.hidden {
	display: none;
}

.clear {
	font-size: 0;
	line-height: 0;
	height: 0;
	width: 0;
	clear: both;
}