body, html { font-family: verdana, arial, sans-serif; font-size:12px; margin:0; padding:0;  background-color: #acacac;}
h1 { margin: 0px 0px 0px 0px; }
h2 { margin: 10px 0px 7px 0px; }

/* 2 column layout with main div that expands to fit content */
#wrap { width:850px; padding: none; margin:0 auto; background-color: #acacac}
#inner-wrap { background-color: #878787; }

#header { margin-top: 15px; background-color: #acacac; text-align: center; }

#main-nav-block { margin:0px auto; display:inline-table; height: 60px; background-color: #acacac; text-align: center; }
#breadcrumbs-block { margin: 10px; }

#side-top { float:left; width:100%; padding:0px; background-color: #373737; height: 163px; }
#sidebar { float:left; display:inline-table; width:30%; padding:0px; background-color: #878787; }

#content-wrap { float:right; margin: 0px auto; display:inline-table; width:70%; height:480px; background-color: #d0d0d0; }

#footer { width: 100%; clear:both; padding-top: 5px; height: 30px; text-align:right; background-color: #212413; color: #ffffff; }
#footer p { margin:5px 10px; text-align:right; }

* html #footer { height:1px; }

#logo-link { height: 110px; width: 850px; margin: 0px; padding: 0px; }
#logo { height: 110px; width: 850px; }

a { color: #212413 }
a:focus { outline: none }
img { border:none; }

/* CONTENT */
#content-title { height: 143px; padding: 10px; color: #ffffff; font-weight: 700; }
#content-block { padding: 10px; float: left; }

/* MAIN NAV */
/* remove the list style */
#main-nav { margin:0px; padding:0; list-style:none; }	

/* display block will make the link fill the whole area of LI */
#main-nav ul a { background-color: #d0d0d0; }

#main-nav li a { display:block; padding:8px 5px 0 5px; font-weight:700;  height:33px; text-decoration:none; text-align:center; }
#main-nav li a.selected { color: #ffffff;}
#main-nav li a:hover    { color: #ffffff; background-color: #7c7c7c;}

li.main-top-nav-item { float:left; display:block; width:178px; position:relative; z-index:500; margin:0px;  
    border:    1px solid black; }
li.main-top-nav-item:first-child { border-right:  0px; }

ul.main-nav-list     { position:absolute; left:-1px; top: 42px; display:none; margin:0 0 0 -1px; padding:0; list-style:none; }
li.main-nav-item     { position:relative; width:178px; margin:0 1px; 
    border-left:   1px solid black; 
    border-right:  1px solid black; 
    border-bottom: 1px solid black; }

ul.main-sub-nav-list { position:absolute; left:178px; top: -1px; display:none; margin:0 0 0 -1px; padding:0; list-style:none; }
li.main-sub-nav-item { position:relative; width:178px; z-index:500; margin:0 1px; 
    border-top:    1px solid black; 
    border-left:   1px solid black; 
    border-right:  1px solid black; 
    border-bottom: 1px solid black; }
li.main-sub-nav-item:first-child { border-bottom:  0px; }

/* fix ie6 small issue */
/* NO IDEA IF THIS WORKS, can't run ie6... */
*html #main-nav ul { margin:0 0 0 -2px; } 

/* SIDE NAV */
#side-nav-block { float: left; width: 220px; }

#tree-nav li { display:block;  }
#tree-nav li a { display:block;  
}
#tree-nav li a { margin:2px 1px; padding: 2px 2px; font-weight:700; text-decoration:none; }
#tree-nav li a.selected { color: #ffffff;}
#tree-nav li a:hover    { color: #ffffff;}
