body {
    font-size: 12px;
}

div.relatedgenericwidget {
    float: left;
    margin-left: 2em;
}

div.relatedgenericwidget a {
    font-size: 12px;
    font-weight: bold;
}

select.genericforeignkey {
    float: left;
}

span.remove_current {
    display: none;
    margin: 0px 1em;
}

span.remove_current img {
    cursor: pointer;
}

div.obj_id.hidden {
    display: none;
}

div.relatedgenericwidget a.content_type.hidden,
div.relatedgenericwidget span.selected_content.hidden {
    display: none;
}

table th {
    text-align: left;
}

table tr td {
    padding: 0.3em 0.5em;
}

table tr.even td {
    background: #F2F2F2;
}