/*
.vertical{
 writing-mode:bt-rl;
 -webkit-transform:rotate(270deg);
 -moz-transform:rotate(270deg);
 -o-transform: rotate(270deg);
 white-space:nowrap;
 bottom:0;
 font-size:1.5em;
 width:1.5em;
 display:block;
}
*/
.vertical em {
    display:block;
    font-style:normal;
    text-align:center;
}

#msp_fieldset,
fieldset.product-details{
    line-height:1em;
}

#msp_fieldset table th{
    vertical-align:bottom;
    height:130px;
    padding-bottom:10px;
}

/*----------------*/

html > body thead.fixedHeader tr{
    display:block;
}
thead.fixedHeader tr {
position:relative;
}
html > body tbody.scrollContent {
display:block;
max-height:300px;
overflow:auto;
width:100%;
}

.firstcol{
    width:15em;
    overflow-x:hidden;
}
.sitecol{
    width:20px;
    overflow-x:hidden;
}
.lastcol{
    width:36px;
}

table.multisitepanel_table{
	border-collapse:collapse;
}

table.multisitepanel_table th{
	background-color:#DEE7EC;
	border:1px solid #8CACBB;
	text-align:left;
}

table.multisitepanel_table td{
	border:1px solid #8CACBB;
}

.highlighted{
	background-color:#fff695;
}
.msp_click{
	background-color:#ffd695;
}

#msp_container{
	width:100%;
	overflow-x:auto;
}

table.multisitepanel_table colgroup.msp_firtcolumn{
	width:auto;
   background-color:#DEE7EC;
    text-align:left;
    border:1px solid #8CACBB;
	text-align:left;
	font-weight:bold;
}
table.multisitepanel_table td{
	text-align:right;
}

table.multisitepanel_table colgroup.msp_column{
    width:2em;
}
/****************************************************/

.msp_product_detail dl {
    margin-bottom:50px;
}

.msp_product_detail dl dt {
    background:#DEE7EC;
    color:#000;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:100px;
	clear:left;
	margin-bottom:2px;
}

.msp_product_detail dl dd {
    margin:2px 0;
    padding:5px 0;
}

