body { font:13px arial,helvetica,"Nimbus Sans L", "Bitstream Vera Sans", sans-serif; *font-size:small; *font:x-small; line-height:1.22; }

td, th {
  font-size: 12px;
}

label {
  font-size: 13px !important;
}

input, textarea, select, .form-row p {
  font-size: 13px !important;
}

h1 {
  color: black;
}

#header {
  background: #E5ECF9;
  color: #666;
  overflow: hidden;
}

#header a:link, #header a:visited {
    color: black;
}

#header a:hover {
    text-decoration: underline;
}

#footer {
  text-align: center;
}

#branding h1 {
  color: #666;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 2px 5px 3px 5px;
    font-size: 11px;
    text-align: left;
    font-weight: bold;
    background: #D4E6FC;
    color: #666;
}

#content-related .module h2 {
  background: none;
  background-color: #EEE;
}

a:link, a:visited {
  color: #4272DB !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.breadcrumbs {
  font-size: 13px;
}

#user-tools {
  font-size: 13px;
}

thead th a:link, thead th a:visited {
  color: #666 !important;
}

.object-tools a:link, .object-tools a:visited {
  color: white !important;
}

.object-tools a:hover {
  text-decoration: none;
}

/* GOOGLE STYLES */

.ac-renderer {
  width: 600px !important;
}

.ac-active {
  background-color: #FFF7D7 !important;
}
