[buildout]
develop = .
parts = test releaser
versions = versions
unzip = true

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = hurry.resource [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser
