[buildout]
extends = http://grok.zope.org/releaseinfo/grok-1.1.1.cfg
develop = . 
parts = test
#find-links = http://download.zope.org/distribution/
extensions = buildout.dumppickedversions
versions = versions

[versions]
martian = 0.11

[test]
recipe = zc.recipe.testrunner
eggs = megrok.login [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
