{% for top_nav_item in top_nav_items %}
#main-top-nav-{{ top_nav_item.id }} { {% if top_nav_item.selected %}background-color:{{ top_nav_item.colour }};{% endif %}}
#main-top-nav-{{ top_nav_item.id }}:hover { color: #ffffff; background-color:{{ top_nav_item.colour }};  }

{% if top_nav_item.selected %}
#content-title { background-color: {{ top_nav_item.colour }}; }
#selected-nav-cell { background-color: {{ top_nav_item.colour }}; border-left: 4px solid {{ top_nav_item.colour }}}
{% endif %}
{% endfor %}

{% for nav_item in selected_nav_items %}

{% ifequal forloop.counter0 0 %}
#tree-top-nav-{{ nav_item.id }} { border-left: 4px solid {{ nav_item.colour }}; background-color:{{ nav_item.colour }};}
#tree-top-nav-{{ nav_item.id }}:hover { color: #ffffff; background-color:{{ nav_item.colour }};  }
{% endifequal %}
{% ifequal forloop.counter0 1 %}
#tree-nav-{{ nav_item.id }} { border-left: 4px solid {{ nav_item.colour }}; background-color:{{ nav_item.colour }};}
#tree-nav-{{ nav_item.id }}:hover { color: #ffffff; background-color:{{ nav_item.colour }};  }
{% endifequal %}
{% ifequal forloop.counter0 2 %}
#tree-sub-nav-{{ nav_item.id }} { border-left: 4px solid {{ nav_item.colour }}; background-color:{{ nav_item.colour }};}
#tree-sub-nav-{{ nav_item.id }}:hover { color: #ffffff; background-color:{{ nav_item.colour }};  }
{% endifequal %}
    
{% endfor %}
