.BlogByLine {}

.simpleBlogCrosspost {}

.noMargin {margin-bottom:0}

.simpleBlogIcons {
    padding-left: 1.5em;
}

.simpleBlogPortletIcons {
    padding-left: 1.8em;
    padding-bottom: 1em;
}

.simpleBlogDescriptionOnly {}

.simpleBlogDescription {
    margin: 0.5em 0em 1em 0em;
    line-height: 1.5em;
}

.simpleBlogTitleOnly {
    margin-bottom:1.5em;
}

.simpleBlogUnpublished {
    margin-bottom:1em ! important;
    color: red;
    text-transform:none ! important;
}

.simpleBlogUnpublishedWarningbox {
    background-color:rgb(255,191,191);
    font-weight:normal;
}

.simpleBlogPublishAction {
    font-weight: bold;
}

.simpleBlogBody {}

ul.simpleBlogBylineCats {
    display: inline;
    margin-left:0;
    margin-right:0;
}
.simpleBlogBylineCats li {
    display:inline;
    margin-right: 0.4em;
}

dl.simpleBlog-titleOnly dt {
    margin-bottom: 1em;
}

dl.simpleBlog-full dt span span.simpleBlogBylineDash,
dl.simpleBlog-titleOnly dt span span.simpleBlogBylineDash,
dl.simpleBlog-descriptionOnly dt span span.simpleBlogBylineDash {
    display:none;
}

dl.simpleBlog-titleOnly dd, 
dl.simpleBlog-full dd, 
dl.simpleBlog-descriptionOnly dd {
    margin-left: 0;
    padding-top: 0.5em;
}

.SimpleBlogPortlet dt.blogCalendar.top {
    border-top:none;
}

.SimpleBlogPortlet dt.blogCalendar {
    text-align:center;
}

.SimpleBlogPortlet dd.blogCalendar {
    padding:0px;
}

.SimpleBlogPortlet dd.portletFooter.odd {
    background-color:transparent;
}

.entryOnTop {
}

