[buildout]
parts = instance gocept.fssyncz2 zsync test
versions = versions
develop = .

[versions]
plone.recipe.zope2instance = 3.8
# XXX pin all dependency versions

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.6/Zope-2.11.6-final.tgz
fake-zope-eggs = true
fake-eggs-folder = ${buildout:parts-directory}/fake-eggs
additional-fake-eggs =
    zope.lifecycleevent=3.5.2
    zope.location=3.5.4
    ZODB3=3.8.0

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 127.0.0.1:8080
debug-mode = on
verbose-security = on
eggs =
    gocept.fssyncz2 [test]
zcml =
    gocept.fssyncz2-overrides
    gocept.fssyncz2

[gocept.fssyncz2]
recipe = zc.recipe.egg:script
extra-paths = ${zope2:location}/lib/python
arguments = host='${instance:http-address}', folder='test', repository='${buildout:directory}/dump', credentials='${instance:user}'

[zsync]
recipe = zc.recipe.egg
eggs = zope.app.fssync
entry-points = zsync=zope.app.fssync.main:main

[test]
recipe = collective.recipe.z2testrunner
zope2part = instance
packages = gocept.fssyncz2
