[buildout]
develop = .
parts = devpython test
use-dependency-links = false

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = clio
       Sphinx

[test]
recipe = zc.recipe.testrunner
eggs = clio
defaults = ['--tests-pattern', '^f?tests$', '-v']
