[buildout]
develop = .
allow-hosts = *.python.org
extensions = buildout.bootstrap
extends = http://download.zope.org/bluebream/bluebream-1.0.cfg
parts =
    bluebream
versions = versions

[bluebream]
recipe = collective.recipe.bluebream


[versions]
collective.recipe.bluebream = 0.2.0
distribute = 0.6.19
