[buildout]
extends = http://dist.aclark.net/build/plone/4.0.x/buildout.cfg
develop = .

[plone]
eggs += plonetheme.aclark_twitter

[test]
recipe = zc.recipe.testrunner
eggs = plonetheme.aclark_twitter [tests]
