#banner_container
{
	width: 930px;
	height: 230px;
	position: relative;
}
#banner_container img
{
	width: 930px;
	height: 230px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
}

img.show
{
	display: none;
	z-index: 1 !important;	
}