/************************
Word Plone Day 2011 Theme
*************************/

body {background: #0c7cae url(bg.png) repeat-x fixed;}

#visual-portal-wrapper {
width: 900px; 
margin: 0 auto 50px auto;
background-color: #fff;
border-radius: 0px 0px 10px 10px;
-moz-border-radius: 0px 0px 10px 10px;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-webkit-box-shadow: 0px 5px 20px ;
-moz-box-shadow: 0px 5px 20px ;
box-shadow: 0px 5px 20px ; 
}

#searchGadget {
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 1px solid #C3C3C3;
padding: 3px;
}

/* sections */
#portal-globalnav,
#portal-globalnav li a {background-color: #0c7cae; color: #fff;}

#portal-globalnav li a:hover,
#portal-globalnav li.selected a,
#portal-globalnav li.selected a:hover {background-color: #ffa100;}

