[buildout]
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
develop = .

extensions =
    buildout.dumppickedversions

parts =
    zope2
    instance
    zopepy

find-links =
    http://dist.plone.org/release/3.3.5
    http://dist.plone.org/thirdparty
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

eggs =
    PIL
    Plone
    collective.transmogrifier
    niteoweb.transmogrifier.simpleusage
    plone.app.transmogrifier
    Products.Clouseau
    Products.DocFinderTab

##########################################
# Prepare environment for Zope instances #
##########################################
[zope2]
recipe = plone.recipe.zope2install
fake-zope-eggs = true
url = ${versions:zope2-url}


######################################
# Create a development Zope instance #
######################################
[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    ${buildout:eggs}
    
    
##########################################################################################
# Prepare a python interpreter with all buildout eggs installed. For debugging purposes. #
##########################################################################################    
[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy
