html, body { background:#ffe; color:#800000; }

a { color: #00e; }
a:hover, .postnumber a:hover { color:#d00; }

td.post { background:#F0E0D6; color:#800000; }

.omitted { color: gray }

.akane { color: #060 }

.kasumi { color: #a00 }

.spoiler {
    -webkit-transition: color .1s;
    background: #2c2c2c;
    color: #2c2c2c;
}

.post blockquote {
    margin: 0; 
    padding: 0;
    color: #789922;
}

.postnumber a { color: #800000;  }

.spoiler:hover {
    color: white;
}
