[buildout]
develop = .
allow-hosts = *.python.org
extensions = buildout.bootstrap
extends = http://download.zope.org/bluebream/bluebream-1.0.cfg
parts = bluebream

[bluebream]
recipe = collective.recipe.bluebream
