[buildout]
develop = .
parts = scrapy
        checker test coverage-test coverage-report


[scrapy]
recipe = s01.scrapy:scrapy
eggs = s01.client
       s01.scrapy

[checker]
recipe = lovely.recipe:importchecker
path = src/s01/client


[test]
recipe = zc.recipe.testrunner
eggs = s01.client [test]


[coverage-test]
recipe = zc.recipe.testrunner
eggs = s01.client [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
