/* 
Project Gutenberg HTML docutils stylesheet.

This stylesheet contains styles specific to HTML.
*/

/* FONTS */

em                { font-style: normal }
strong            { font-weight: normal }
.small-caps       { font-variant: small-caps }
.gesperrt         { letter-spacing: 0.1em }

/* ALIGN */

.align-left       { clear: left;
		    float: left;
		    margin-right: 1em }

.align-right      { clear: right;
		    float: right;
		    margin-left: 1em }

.align-center     { margin-left: auto;
		    margin-right: auto }

/* SECTIONS */

body              { margin: 5% 10% 5% 10% }

/* compact list items containing just one p */
li p.pfirst       { margin-top: 0; margin-bottom: 0 } 

.first            { margin-top: 0 !important } 
.last             { margin-bottom: 0 !important }

.dropcap          { float: left; }
span.dropcap      { margin: 0 0.1em 0 0; line-height: 1 }
img.dropcap       { margin: 0 0.5em 0 0; }

/* PAGINATION */

@media screen {
   .coverpage, .frontispiece, .titlepage, 
   .verso, .contents, .footnotes, .plainpage
                      { margin: 10%  0 }
   .clearpage         { margin: 10% }
   .cleardoublepage   { margin: 10% }
   .vfill             { margin:  5% 10% }
}

@media print {
    /* margin-top disappears after a page-break, thus padding */
   .frontispiece, .verso, .plainpage, .section.level-2,
   .clearpage         { page-break-before: always; padding-top: 1px }
   .coverpage, .titlepage, .contents, .footnotes,
   .cleardoublepage   { page-break-before: right; padding-top: 1px }
   .vfill             { margin-top: 20% }
   h2.title           { margin-top: 20% }
}

