body {
font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
font-size: 120%;
margin: 0 auto;
width: 640px;
}

h1 {
font-size: 18pt;
font-weight: bold;
margin: 0;
padding: 0;
line-height: 1.4em;
}

div.user-info {
font-size: 10pt;
margin: 4px 8px;
padding: 0;
float: right;
}

div.user-info ul {
display: inline;
float: none;
margin: 0;
}

div.user-info ul li {
margin: 2px 0.5em;
padding: 0;
display: inline;
font-weight: bold;
}

div.user-info ul a {
text-decoration: none;
}

div.user-info ul li img {
vertical-align: middle;
margin: 0 4px;
}

dl {
margin: 12px 4px;
padding: 0;
}

dt {
margin: 4px 2px;
padding: 0;
width: 52px;
}

dl dt a img {
border: none;
}

dd {
margin: -58px 0 24px 62px;
padding: 0;
clear: both;
}

p {
lint-height: 1.5em;
margin: 0.5em 0;
padding: 0;
}
