/* Stylesheet for the 'Responsive Theme' Plone theme */

/* need to undo what overrides the grid system */
#portal-searchbox {
    float: left;
    clear: none;
    margin: 30px 0px 0px -24%; /* needed to set the left one inline with prefix being 9. Sunburst sets this so we must set it */
    z-index: 1000;
}

ul#portal-globalnav {
    margin-bottom: 20px;
}


/* fix the prefs main template 

body.template-plone_control_panel div.width-full, 
body.template-prefs_install_products_form div.width-full,
body.template-calendar-controlpanel div.width-full {
    width: 73%;
    margin-left: -74%;
    display: inline;
    float: left;
    position: relative;
    
}
*/