/* Stylesheet for the 'WMOWonen Theme' Plone theme */

/*======= General ======*/

body
{
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTextureGray.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
}

#head-wrapper {
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTexture.jpg);
    height: 170px;
    border-bottom: solid 6px white;
}

#INTKFooter-wrapper {
    background-image:url(++resource++plonetheme.wmoWonen.images/backgroundTexture.jpg);
    border-top: solid 6px white;

}

#head-width
{
    margin:0px auto;
    width:960px;
}

#portal-columns
{
    width:960px;
}

/*====== typography =======*/

#content {
    font-size: 13px;
    line-height: 20px;
}

a, #content a, #content a:active, #content a:link, #content a:visited
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    text-decoration:none;
}

a:hover
{
    color: #5ea8ce;
    font-weight: bold;
    border:none;
    text-decoration:none;
}

#content a:hover
{
    color: #5ea8ce !important;
}

#content a.summary, #content a.summary:hover, #content .tileHeadline a, #content .tileHeadline a:hover
{
    font-size:18px;
    font-weight:normal;
    color:#333 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    letter-spacing: normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}

.documentFirstHeading
{
    font-size:30px;
    font-family: Arial,Helvetica,FreeSans,sans-serif;
    font-weight:normal;
    color:#333;
}

/*======= tiles =======*/

.tileItem
{
    background-color:white;
    margin: 30px;
    padding: 20px;
}

.tileImage
{
    border: 1px solid #ccc !important;
}

/*===== Header elements =====*/

#portal-searchbox {
    margin-top: 87px;
}

#portal-logo {
    margin: 18px 0;
}

/*===== search box =====*/

#portal-searchbox
{
    z-index:1001;
}

.LSBox .searchSection {
    display: none;
}

#portal-searchbox {
    margin: 87px 0 0;
    position: relative;
}

#LSResult {
    background: none repeat scroll 0 0 White;
    margin: 0;
    position: absolute;
    right: 0;
}

#livesearchLegend {
    background-color: white;
    border: 1px solid #CCCCCC;
    padding: 0.3em;
}

input.searchField {
    -moz-appearance: none;
}

#searchGadget, .LSBox input.searchButton {
    border: 1px solid darkGray;
}

#searchGadget, input.searchPage[type=text] {
    border: 1px solid #cccccc;
    border-right: none;
    height: 30px;
    padding: 0 0 0 5px;
    width: 164px;
    position: absolute;
    right: 30px;
    top: 0;
    color:#333;
    font-size:13px;
}

.field #searchGadget
{
    position:static;
    
}

input.searchPage[type=text]
{
     left: 180px;
     right:auto;
     width:423px;
}

input.searchPage[type=submit]
{
    left: 615px;
    position: absolute;
}

form.searchPage {
     margin: 20px 0 10px 52px;
    position: relative;
}

.LSBox input.searchButton, .searchPage .searchButton {
    background-color: #fff;
    color: transparent;
    background-image: url("++resource++plonetheme.wmoWonen.images/searchbutton.jpg");
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #cccccc;
    border-left: none;
    font-size: 0;
    font-weight: normal;
    height: 32px;
    width: 32px;
    margin: 0 0 0 -5px;
    padding:0
}