[buildout]
develop = . 
parts = scripts devpython test
versions = versions

[versions]
hurry.resource = 0.9.1

[scripts]
recipe = zc.recipe.egg:scripts
eggs = hurry.tinymce

[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = hurry.tinymce

[test]
recipe = zc.recipe.testrunner
eggs = hurry.tinymce
defaults = ['--tests-pattern', '^f?tests$', '-v']
