[buildout]
develop = .
parts = scripts test
extends = http://grok.zope.org/releaseinfo/1.1.1/versions.cfg
versions = versions

[versions]
zest.releaser = 3.12

[scripts]
recipe = zc.recipe.egg
eggs = 
    megrok.traject
    zest.releaser

[test]
recipe = zc.recipe.testrunner
eggs = megrok.traject
defaults = ['--tests-pattern', '^f?tests$', '-v']
