[buildout]
index = http://pypi.python.org/simple
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools

develop = .
versions = versions
parts = test checker


[versions]
scrapy = 0.12.0.2546
twisted = 10.1.0
Twisted = 10.1.0


[checker]
recipe = lovely.recipe:importchecker
path = src/s01/scrapy


[test]
recipe = zc.recipe.testrunner
eggs = s01.scrapy [test]
