
.detatched #subskins_prefs_styles {
	position: fixed;
	bottom:0;
	right:0;
        font-size: 9px;
	background-color: white;
	z-index: 10;
}

#subskins_prefs_styles legend {
    cursor: pointer;
}

#subskins_prefs_styles label {
	width: 140px;
	display: block; 
	margin-right: 4px;
	float: left;
}

#choice_form_body * {
	font-size: 10px;
	margin: 0;
}

#choice_form_body select {
	border: 1px solid #CCC;
	width: 200px;
	 
} 

#choice_form_body .context {
	margin: 6px 0;
	padding: 3px 20px;
	text-transform: uppercase;
}

.widthfield  {
width: 180px;
display: block;
float: left;
height: 27px;	
}
