body
{
    margin: 0;
    padding: 0;
    color: #333;

    font: 14px Georgia, "Bitstream Charter", serif;
    line-height: 1.7;
}


h1, h2, h3 {
    color: #000;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

h1 {
    letter-spacing: -0.03em;
}

p {
    margin-bottom: 1.7em;
}

pre {
    background: #f4f4f4;
    font: 13px "Courier 10 Pitch",Courier,monospace;
    line-height: 1.7;
    margin-bottom: 1.7em;
    padding: 0.85em 1.7em;
    border: 1px solid #ddd;
}

code {
    font: 12px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

/* Links */
a {
    color: #0060ff;
    text-decoration: none;
}

a:visited {
    color: #0000df;
}

a:active,
a:hover 
{
    color: #0000ff;
    text-decoration: underline;
    
}

h1 a, h2 a, h3 a 
{
    color: #000;
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    color: #009900;
}

a img 
{
    border: 0;
}

#container
{
    clear: both;
    margin: 0 auto;
    width: 990px;
}

#container #titulo h1 {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    font-size: 36px;
    letter-spacing: -0.03em;
    line-height: 42px;
    text-align: center;
}

#content #titulo a 
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

#container #titulo p
{
    color: #000;
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    margin: 0 0 9px 0;
    text-align: center;
}

#container #header
{
    float: left;
    width: 100%;
    margin: 0 0 28px;
}

#container #sidebar
{
    clear: both;
    float: right;
    width: 200px;

    /* Stick note... */
    background: #fff9c0;
    border-color: #D9D4A3;
    border-style: solid;
    border-width: 1px;
    border-top-width: 3px;
    padding: 1.7em;
}

#container #navbar
{
}

#container #navbar li
{
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

#container #navbar li a
{
    width:100px;
    padding: 5px 20px;
    text-decoration:none;
    text-align:center;
    border: 1px solid gray;
 }

 #container #navbar li a:hover
 {
     background: #fff9c0;
     color: black;
 }

 #container #content
 {
     width: 64.99%;
}

#container #footer
{
    padding: 0 0 1.7em;
    color: gray;
    text-align: center;
    clear: both;
}


table
{
    border:0;
    font-size: 14px;
}

table td
{
    border: 0;
}

table th
{
    border: 0;
}

img 
{
    border: 0;
    padding: 2px;
}

img.border
{
    border: 1px solid gray;
}
