@charset "utf-8";
/* CSS Document */

body {
	background: #ECECF3 url(body-bg.png) top center repeat-y;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight : bold;
}

h1 {
	font-size:24px;
	font-weight: bold;
	color: #0066A4;
}
h2 {
	font-size: 16px;
	font-weight: bold;
	color:#009DDC;
}
h3 {
	font-size: 14px;
	font-weight:bold;
	color: #0066A4;
}
#wrap {
	margin: 0px auto;
	width: 980px;
	padding-right: 5px;
	text-align: justify;
}
#header-topspace {
	background: #0A4AAC url(logo.png) left no-repeat;
	margin-left: 2px;
	height: 120px;
	border-bottom: solid 5px #C6CCD7;
	border-top: solid 5px #638CAF;
}
#header-space {
	height: 70px;
	width: 400px;
	border-right: 2px #999;
	padding-left: 10px;
}
#logo-text {
	position: absolute;
}
#logo-slogan {
	position: absolute;
	margin-top: 42px;
}

#navbar {
	height: 28px;
	background: url(nav-bg.png) repeat-x;
	margin-right: 4px;
	margin-left: 4px;
}
/* Navigation Bar */

#nav {
	background : #ec6a1c;
	height : 25px;
	border-bottom : 1px solid #666666;
}

#nav-bar {
	width : auto;
	height : 24px;
	margin : 0;
	padding : 0 0 0 0;
	background : url(nav-bg.jpg) repeat-x;
	font : bold 12px/25px Verdana, Arial, Tahoma, Sans-serif;
}

#nav-bar ul {
	float : left;
	list-style : none;
	margin : 0;
	padding : 0;
}

#nav-bar ul li {
	display : inline;
}

#nav-bar ul li a {
	display : block;
	float : left;
	padding : 0 10px;
	color : #666;
	text-decoration : none;
}

#nav-bar ul li a:hover {
	color : #000000;
}

#nav-bar ul li#selected a {
	color : #000000;
}

#content-wrap {
	width: 970px;
	text-align: justify;
}

/* Search */

form.search {
	position : relative;
	top : 10px;
	right : 15px;
	background : transparent;
	border : none;
	float:right;
}

form.search input.textbox {
	margin : 0;
	padding : 1px 2px;
	width : 120px;
	background : #fff url(shade.gif) top repeat-x;
	color : #333;
}

form.search input.button {
	background : #ccc url(searchbg.gif) repeat-x;
	border: solid 1px #009DDC;
	color : #333;
	width : 70px;
	height : 21px;
}
#content {
	width: 730px;
	padding-left: 10px;
	padding-top: 10px;
}
#content h1 {
	margin-top : 10px;
	font : bold 110% Verdana, 'Trebuchet MS', Sans-serif;
	color : #005C82;
	padding : 5px 0 5px 5px;
	border: 1px solid #D6D3D3;
	text-align : justify;
	background: url(post-title.png) repeat-x;
}

/* Sidebar */

#sidebar {
	float : right;
	width : 200px;
	position: relative;
	padding-right: 10px;
	padding-top: 20px;
	background : #fff;
}

#sidebar h1 {
	margin-top : 0;
	padding : 5px 0 5px 5px;
	font : bold 0.9em Verdana, 'Trebuchet MS', Sans-serif;
	color : #494949;
	background: #fff url(sidebar-title.png) repeat-x;
	border: solid 1px #D6D3D3;
}

#sidebar .left-box {
	background : #fff;
	margin-top : 0;
	padding-left : 5px;
	padding-bottom: 10px;
}

#sidebar ul.sidemenu {
	list-style : none;
	text-align : left;
	margin : 3px 0 2px 0;
	padding : 0;
	text-decoration : none;
}

#sidebar ul.sidemenu li {
	padding : 2px 0 0px 0px;
	list-style-type: disc;
	margin : 0 2px;
}

#sidebar ul.sidemenu a {
	text-decoration : none;
	background-image : none;
}
#sidebar ul.sidemenu a:hover {
	text-decoration : underline;
	background-image : none;
}

/* Additional Formatting */

blockquote {
	margin : 10px;
	padding : 0 0 0 40px;
	border : 1px solid #D6D3D3;
	background : #F7F7F7 url(quote.png) no-repeat;
}
code {
	margin : 4px 8px;
	padding : 0 0 0 40px;
	text-align : left;
	display : block;
	overflow : auto;
	font : 500 1em/1.5em 'Lucida Console', 'courier new', monospace;
	background : #F7F7F7 url(code.png) no-repeat;;
	border : 1px dashed #D6D3D3;
}

ul, ol {
	margin : 5px 20px;
	padding : 0 20px;
	color : #333333;
}

ul span, ol span {
	color : #333333;
}

form {
	margin : 10px;
	padding : 0 5px;
	border : 1px solid #D6D3D3;
	background: #fff url(post-title.png) repeat-x;
}

label {
	display : block;
	font-weight : bold;
	margin : 5px 0;
	color: #333333;
}

input {
	padding : 2px;
	border : 1px solid #D7C3C3;
	font : normal 1em Verdana, sans-serif;
	color : #000000;
	background : #fff url(shade.gif) top repeat-x;
	background-color : #ffffff;
}

textarea {
	width : 400px;
	padding : 2px;
	font-family : Verdana, sans-serif;
	border : 1px solid #D7C3C3;
	background-color : #ffffff;
	height : 100px;
	background : #fff url(shade.gif) top repeat-x;
	display : block;
	color : #000;
}

input.button {
	margin : 0;
	font : bolder 12px Arial, Sans-serif;
	border : 1px solid #ccc;
	padding : 2px 3px;
	background : #fff;
	color : #131212;
}

/* Images */

img {
	border : none;
}

img.float-right {
	margin : 5px 0 10px 10px;
}

img.float-left {
	margin : 5px 10px 10px 0;
}


/* Post Footer */

.post-footer {
	border-bottom : 1px solid #D6D3D3;
	padding : 5px;
	margin : 20px 10px 0 2px;
	font-size : 95%;
	background-color : #F7F7F7;
}

.post-footer .date {
	padding-left : 20px;
	margin : 0 10px 0 5px;
	text-align : right;
	font-size : 9px;
	color : #009DDC;
}

.post-footer .readmore {
	background : url(page.gif) no-repeat left center;
	padding-left : 20px;
	margin : 0 10px 0 5px;
}

#footer {
	background: #3A5D7A;
	padding-top: 10px;
	border-top: solid 5px #638CAF;
	padding-bottom: 10px;
	color: #ffffff;
}
#footer a:link {
	color: #fff;
}
#footer a:visited {
	color: #fff;
}
