[buildout]
parts = test interp
develop = .
project = van.pydeb

[interp]
recipe = zc.recipe.egg
eggs = ${buildout:project}
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:project}
