@import url("default.css");

object.icon {
    width: 120pt;
    float: left;
}
h1.name {
    margin-top: 30pt;
    text-align: right;
    font-size: large;
}
hr {
    background-color: black;
    height: 1.5pt;
    border: 0pt;
}
table.data {
    width: 330pt;
    border: 0pt;
    margin: 0pt;
}
table.data td.name {
    color: #888888;
    width: 160pt;
}
table.data td.value {
    text-align: right;
    width: 160pt;
}

