/* forms */
ul.field_list {
    list-style: none;
}

ul.field_list label {
    display: block;
    font-weight: bold;
}

ul.field_list li {
    margin: 1em 0 .3em 0;
}

ul.field_list .fielderror {
    display: block;
    font-weight: bold;
    color: red;
}

ul.field_list input,
ul.field_list select,
ul.field_list textarea {
    border: solid 1px #888;
    padding: .2em;
}

ul.field_list input:focus,
ul.field_list select:focus,
ul.field_list textarea:focus {
    background: #e9e9ff;
}

form.listform label {  
float: left;  
width: 10em;  
margin-right: 1em;  
text-align: right;
}

form.listform li {
    float: left;  
    clear: left;  
    width: 100%;  
    padding-bottom: 0em;
}