/* --- gobal nav --- */
#portal-globalnav {
    background-color:transparent;
    margin:0;
    white-space: nowrap;
    overflow:hidden;
}
#portal-globalnav li a {
    background-color: transparent;
    line-height:25px;
    padding:10px 20px 10px 20px;
    font-size:15px;
    color:white;
}
#portal-globalnav .selected a, 
#portal-globalnav .selected a:hover, 
#portal-globalnav a:hover {
    background-color: #026694;
    color:white;
}


/* --- customized tabs ---- */
/*
#portal-globalnav #portaltab-Members a {
    background: transparent url("++resource++ityou.bluetheme.images/tab_Members.png") left center no-repeat;
}
*/
#portal-globalnav #portaltab-Members a:hover,
#portal-globalnav #portaltab-Members.selected a:hover,
#portal-globalnav #portaltab-Members.selected a {
    background: transparent url("++resource++ityou.bluetheme.images/tab_Members_hi.png") left center no-repeat !important;
}



/* --- different colos for predefined tabs --- */
#portaltab-privat a {
    background-color: #a60 !important;
}

#portaltab-privat.selected a,
#portaltab-privat.selected a:hover,
#portaltab-privat a:hover {
    background-color: #a30 !important;
    color:white;
}

