[buildout]
develop = .
parts = test
versions = versions

[versions]
setuptools=0.6c9

[test]
recipe = zc.recipe.testrunner
working-directory = ${buildout:directory}/src/lovely/gae/testing
defaults = ['--auto-color', '-s', 'lovely.gae']
initialization = from lovely.gae.environment import add_appengine_paths
                 add_appengine_paths(sdk_path='${sdk:destination}')
eggs = lovely.gae [test]

[sdk]
recipe = hexagonit.recipe.download
url=http://googleappengine.googlecode.com/files/google_appengine_1.3.4.zip
strip-top-level-dir=true
