[buildout]
extends = templates/instance.cfg
          templates/eggs.cfg
          templates/migrate_frontpage.cfg
          templates/migrate_users.cfg
          templates/migrate_props.cfg
          templates/migrate_blogs.cfg
parts +=
for_later = 
    ${migrate_frontpage:parts}
    ${migrate_users:parts}
    ${migrate_props:parts}
