/* author: marc goetz
   stylesheet for @@wowcharacter view
* */

#content.Alliance {
  background: url("++resource++collective.wowcharacter.images/alliance.jpg") no-repeat right scroll;
  color: White;
  padding-left: 1em;
}

#content.Horde {
	background: url("++resource++collective.wowcharacter.images/horde.jpg") no-repeat right scroll;
	color: White;
	padding-left: 1em;
}

#content.Alliace h1, #content.Horde h1 {
  color: #FEAF00 !important;
  font-size:200% !important;
  margin-top: 1em !important;
  width: 35% !important;
}

div.realmstatus_down {
  background-image: url("++resource++collective.wowcharacter.images/down2.png");
  height: 54px;
  margin-left: 12px;
  margin-top: -1px;
  width: 88px;
}

div.realmstatus_name {
  color: Black;
  padding-top: 11px;
}

div.realmstatus_type {
  color: Black;
  padding-top: 1px;
}

div.realmstatus_up {
  background-image: url("++resource++collective.wowcharacter.images/up2.png");
  height: 54px;
  margin-left: 12px;
  margin-top: -1px;
  width: 88px;
  }

img.icon {
  background-image: url("http://static.wowhead.com/images/Icon/large/border/default.png");
  padding: 6px;
}

.portletItem {
  border-top: 1px solid White;
}

span.icon_wrapper {
    margin: -2px;
}
