body
{
  cursor: default;
}
h1
{
  line-height: 52px;
  margin: 0 10px;
  padding: 0;
}
img
{
  float: right;
}
h2
{
  font-size: 18px;
  padding: 2px 5px;
  margin: 0;
  margin-bottom: -1px;
  background-color: hsl(0, 0%, 97%);
  border: 1px solid #999;
  position: relative;
  z-index: 1;
  white-space: pre;
}
h3
{
  font-size: 16px;
  padding: 2px 5px;
  margin: 0;
  border: 1px solid #ccc;
  border-width: 0 1px;
}
.row
{
  display: table;
}
.row > div
{
  display: table-cell;
  padding: 5px 10px;
}
.row li
{
  cursor: pointer;
  border: 1px solid #ccc;
  margin-top: -1px;
  padding: 1px 3px;
  position: relative;
}
ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}
pre
{
  white-space: pre-wrap;
  margin: 0;
}
.error
{
  color: #f30;
  font-weight: bold;
}
.selected
{
  background-color: #ff0;
  border-color: #999 !important;
  z-index: 10;
}
#log
{
  width: 70%;
}
#log-container
{
  height: 250px;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 7px;
}
#log-container + p
{
  padding: 1px;
  margin: 0;
  margin-top: -1px;
  background-color: hsl(0, 0%, 97%);
  border: 1px solid #ccc;
  text-align: right;
}
#windows
{
  width: 30%;
}
#windows pre
{
  padding: 1px 2px;
}
#message-container h2
{
  background-color: #ff0;
}
#message-container pre
{
  border: 1px solid #999;
  background-color: hsl(0, 0%, 98%);
  padding: 7px;
}
#message-container p
{
  margin: 0;
  padding: 0;
  border: 1px solid #999;
  background-color: hsl(0, 0%, 97%);
  border-width: 0 1px 1px;
}
#message-container .right-aligned
{
  text-align: right;
  padding: 1px;
}
#message-container textarea
{
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 2px 7px;
  border: 1px solid #999;
  border-width: 0px 1px 1px;
}
.dom
{
  font-family: monospace;
  font-size: 12px;
}
.dom .comment
{
	color:#888;
}
.dom node, selector
{
  color: #279;
}
.dom key, .stylesheets key, .css-inspector key 
{
	color:#229;
}
.dom value, .doctype-value, .stylesheets value, .css-inspector value 
{
	color:#742;
}
.dom .text-node, .dom .comment-node, .dom .cdata-node 
{
	color: #abbaba;
}
.dom .document-node 
{
	color: #294556;
}
.dom .document-node 
{
	color: #294556;
}
.dom .pre-wrap 
{
  white-space: pre-wrap;
}
.dom .object-id
{
  color: #999;
}
.proto-type
{
  color: #009;
  font-weight: bold;
}
#message-container #message-response
{
  background-color: #99f;
  border-color: #666;
  margin-top: -1px;
}
#message-container .message
{
  color: #009;
  font-weight: bold;
}
#message-container .number
{
  color: #999;
  font-weight: bold;
}
#message-container .string
{
  color: #999;
  font-weight: bold;
}
#message-container .bool
{
  color: #999;
  font-weight: bold;
}
#message-container .comment
{
  color: #060;
}
#dom-tree
{
  padding: 10px;
}
#dom-tree h2
{
  margin-bottom: 10px;
}